# TAREA

## parea el 2do parcial


Cada ejercicio está representado por una función con su docstring que contiene
la instrucción (no incluye soluciones). Implementa las funciones por tu cuenta.

In [1]:
import pandas as pd
import numpy as np

In [ ]:
"""
Archivo: ejercicios_python_estructuras_numpy_pandas_instrucciones.py
Descripción: 32 ejercicios (SOLO INSTRUCCIONES) sobre:
- pandas (concatenación y otras operaciones), listas, conjuntos, tuplas, diccionarios,
  NumPy y uso de lambdas (map, filter, sorted, apply).

Cada ejercicio está representado por una función con su docstring que contiene
la instrucción (no incluye soluciones). Implementa las funciones por tu cuenta.
"""

# Nota: este archivo contiene únicamente las instrucciones de cada ejercicio.
# Implementa cada función en tu entorno (o pégalas en una plataforma tipo HackerRank/LeetCode).

import pandas as pd
import numpy as np

# -----------------------------
# 1-4: Pandas (concatenación)
# -----------------------------

def ex1_concat_same_structure():
    """Ejercicio 1:
    Crea dos DataFrame que compartan la misma estructura de columnas (por ejemplo,
    'Nombre' y 'Edad'), con al menos 3 filas cada uno. Concaténalos verticalmente
    en un único DataFrame. Retorna el DataFrame resultante.
    """
    pass


def ex2_concat_with_month_column():
    """Ejercicio 2:
    Tienes un DataFrame con ventas de enero y otro con ventas de febrero (mismas columnas).
    Concaténalos en un solo DataFrame y añade una columna que indique el mes original
    de cada fila (por ejemplo: 'Enero' o 'Febrero'). Retorna el DataFrame resultante.
    """
    pass


def ex3_concat_diff_columns_fillna():
    """Ejercicio 3:
    Crea dos DataFrame que no tengan exactamente las mismas columnas (ej.: uno tiene
    'Producto' y 'Ventas', el otro 'Producto' y 'Descuento'). Concaténalos y asegura
    que los valores faltantes queden rellenados con 0. Retorna el DataFrame resultante.
    """
    pass


def ex4_concat_three_groups():
    """Ejercicio 4:
    Genera tres DataFrame pequeños (cada uno con, por ejemplo, 3 filas) que representen
    notas de distintos grupos de alumnos. Concaténalos verticalmente en un solo DataFrame
    que contenga todas las notas. Retorna el DataFrame resultante.
    """
    pass


# -----------------------------
# 5-8: Listas
# -----------------------------

def ex5_remove_duplicates_preserve_order(lst):
    """Ejercicio 5:
    Dada una lista de enteros (o strings) que puede contener duplicados, devuelve una
    nueva lista sin duplicados preservando el orden original. No uses directamente set()
    para eliminar duplicados (escribe la lógica que preserve el orden). Retorna la nueva 
    lista sin duplicados.
    """
    pass


def ex6_sort_tuples_by_second_element(tuples_list):
    """Ejercicio 6:
    Dada una lista de tuplas, por ejemplo [("a", 3), ("b", 1), ("c", 2)], ordénala
    por el segundo elemento de cada tupla y devuelve la lista ordenada. Usa una función
    anónima si lo deseas. Retorna la lista ordenada.
    """
    pass


def ex7_first_n_multiples_of_7(n):
    """Ejercicio 7:
    Devuelve una lista con los primeros n múltiplos de 7 (por ejemplo, n=5 -> [7,14,21,28,35]).
    Retorna la lista generada.
    """
    pass


def ex8_filter_palindromes(strings):
    """Ejercicio 8:
    Dada una lista de cadenas, devuelve sólo aquellas que son palíndromos (se leen igual
    al derecho y al revés). Retorna una lista con los palíndromos encontrados.
    """
    pass


# -----------------------------
# 9-12: Conjuntos
# -----------------------------

def ex9_set_intersection_and_difference(set_a, set_b):
    """Ejercicio 9:
    Dado dos conjuntos, devuelve su intersección y la diferencia (elementos de A que no
    están en B). Retorna una tupla (intersección, diferencia).
    """
    pass


def ex10_is_subset(set_a, set_b):
    """Ejercicio 10:
    Verifica si set_a es subconjunto de set_b. Devuelve True o False.
    """
    pass


def ex11_count_unique_elements(lst):
    """Ejercicio 11:
    Dada una lista, cuenta cuántos elementos únicos contiene (usa set para obtener el conteo).
    Retorna el número de elementos únicos.
    """
    pass


def ex12_unique_words_from_phrases(phrases):
    """Ejercicio 12:
    Dada una lista de frases (strings), extrae y devuelve el conjunto de todas las palabras
    únicas que aparecen en todas las frases. Retorna un conjunto con las palabras únicas.
    """
    pass


# -----------------------------
# 13-16: Tuplas
# -----------------------------

def ex13_oldest_person(tuple_list):
    """Ejercicio 13:
    Recibe una lista de tuplas (nombre, edad). Devuelve la tupla de la persona con mayor edad.
    """
    pass


def ex14_convert_list_of_lists_to_tuples(list_of_lists):
    """Ejercicio 14:
    Convierte una lista de listas en una lista de tuplas. Retorna la nueva lista de tuplas.
    """
    pass


def ex15_sum_of_tuple_abc(t):
    """Ejercicio 15:
    Recibe una tupla de tres números (a, b, c). Desempaquétala y devuelve la suma a+b+c. 
    Retorna un número entero o flotante.
    """
    pass


def ex16_sort_product_price(prod_price_list):
    """Ejercicio 16:
    Dada una lista de tuplas (producto, precio), ordénala por precio de menor a mayor.
    Retorna la lista ordenada.
    """
    pass


# -----------------------------
# 17-20: Diccionarios
# -----------------------------

def ex17_char_frequency(s):
    """Ejercicio 17:
    Cuenta la frecuencia de cada carácter en una cadena usando un diccionario.
    Retorna un diccionario {carácter: frecuencia}.
    """
    pass


def ex18_best_student(grades_dict):
    """Ejercicio 18:
    Dado un diccionario {alumno: calificación}, devuelve al mejor estudiante.
    Retorna una tupla (nombre, calificación).
    """
    pass


def ex19_invert_dictionary(d):
    """Ejercicio 19:
    Invierte un diccionario, intercambiando claves y valores.
    Retorna el diccionario invertido.
    """
    pass


def ex20_merge_dicts_sum_values(d1, d2):
    """Ejercicio 20:
    Fusiona dos diccionarios sumando los valores de las claves que se repitan. 
    Devuelve el diccionario resultante.
    """
    pass


# -----------------------------
# 21-24: NumPy
# -----------------------------

def ex21_numpy_array_set_fifth():
    """Ejercicio 21:
    Crea un arreglo de NumPy de 10 ceros y cambia el quinto elemento (índice 4) a 1.
    Retorna el array resultante.
    """
    pass


def ex22_numpy_matrix_3x3():
    """Ejercicio 22:
    Genera una matriz 3x3 con los valores del 0 al 8. 
    Retorna la matriz como array de NumPy.
    """
    pass


def ex23_numpy_statistics():
    """Ejercicio 23:
    Genera un array aleatorio de 20 enteros y calcula la media, mediana y desviación estándar.
    Retorna una tupla (media, mediana, desviación estándar).
    """
    pass


def ex24_numpy_clip_values(arr):
    """Ejercicio 24:
    Dado un array (o lista) de números, reemplaza todos los valores mayores que 10 por 10
    (es decir, limita/"clip" los valores máximos).
    Retorna el array modificado.
    """
    pass


# -----------------------------
# 25-28: Pandas (otros)
# -----------------------------

def ex25_filter_rows_age_over_30():
    """Ejercicio 25:
    Crea un DataFrame con columnas 'Nombre', 'Edad' y 'Ciudad'.
    Filtra y retorna solo las filas con `Edad` > 30.
    """
    pass


def ex26_load_dict_into_dataframe_and_sort():
    """Ejercicio 26:
    Carga un diccionario en un DataFrame (por ejemplo {'Nombre': [...], 'Puntaje': [...]})
    y ordénalo por la columna de puntaje de mayor a menor.
    Retorna el DataFrame ordenado.
    """
    pass


def ex27_groupby_mean_value():
    """Ejercicio 27:
    Dado un DataFrame con columnas 'Grupo' y 'Valor', calcula el promedio de 'Valor'
    por cada 'Grupo' usando groupby. 
    Retorna el DataFrame agrupado con promedios.
    """
    pass


def ex28_most_sold_product_from_sales_df():
    """Ejercicio 28:
    Dado un DataFrame de ventas con columnas 'Producto' y 'Cantidad', determina cuál
    es el producto con la mayor suma total de 'Cantidad' (es decir, el más vendido).
    Retorna una tupla (Producto, Ventas).
    """
    pass


# -----------------------------
# 29-32: Lambdas y funciones anónimas
# -----------------------------

def ex29_map_lambda_cube(lst):
    """Ejercicio 29:
    Usa map junto con una función lambda para elevar al cubo cada número en una lista.
    Devuelve la lista resultante.
    """
    pass


def ex30_filter_lambda_even(lst):
    """Ejercicio 30:
    Usa filter y una lambda para quedarte sólo con los números pares de una lista.
    Devuelve la lista filtrada.
    """
    pass


def ex31_sort_list_of_dicts_by_key(lst, keyname):
    """Ejercicio 31:
    Dada una lista de diccionarios, ordénala por el valor asociado a 'keyname' usando
    sorted con una lambda. Devuelve la lista ordenada.
    """
    pass


def ex32_pandas_apply_lambda_uppercase(names_list):
    """Ejercicio 32:
    Crea un DataFrame con una columna 'Nombre' a partir de names_list y usa apply con
    una función lambda para crear una nueva columna con los nombres en mayúsculas.
    Devuelve el DataFrame modificado.
    """
    pass

## Sección 1-4

In [9]:
# Ejercicio 1: Crea dos DataFrame que compartan la misma estructura de columnas (por ejemplo, 'Nombre' y 'Edad'), 
# con al menos 3 filas cada uno. Concaténalos verticalmente en un único DataFrame. Retorna el DataFrame resultante.

def ex1_concat_same_structure():
    df_1 = pd.DataFrame({"nombre" : ["Julia", "Agustina", "Luisa"], "edad" : [15, 34, 28]})
    df_2 = pd.DataFrame({"nombre" : ["Julio", "Agustín", "Luis"], "edad"  : [34, 14, 32]})
    concatenado = pd.concat([df_1, df_2])
    return concatenado

ex1_concat_same_structure()

     nombre  edad
0     Julia    15
1  Agustina    34
2     Luisa    28
0     Julio    34
1   Agustín    14
2      Luis    32

In [22]:
#Ejercicio 2: Tienes un DataFrame con ventas de enero y otro con ventas de febrero (mismas columnas).
# Concaténalos en un solo DataFrame y añade una columna que indique el mes original de cada fila (por ejemplo: 'Enero' o 'Febrero'). 
# Retorna el DataFrame resultante.

def ex2_concat_with_month_column():
    ventas_enero = pd.DataFrame({"Venta" : np.random.randint(100, 1000, size = 30)})
    ventas_febrero = pd.DataFrame({"Venta" : np.random.randint(100, 1000, size = 30)})

    ventas_enero['Mes'] = 'Enero'
    ventas_febrero['Mes'] = 'Febrero'
    
    ventas = pd.concat([ventas_enero, ventas_febrero])
    return ventas

ex2_concat_with_month_column()

    Venta      Mes
0     353    Enero
1     557    Enero
2     620    Enero
3     757    Enero
4     417    Enero
5     858    Enero
6     382    Enero
7     284    Enero
8     493    Enero
9     459    Enero
10    759    Enero
11    457    Enero
12    631    Enero
13    171    Enero
14    638    Enero
15    380    Enero
16    827    Enero
17    797    Enero
18    474    Enero
19    942    Enero
20    519    Enero
21    866    Enero
22    140    Enero
23    533    Enero
24    679    Enero
25    260    Enero
26    977    Enero
27    695    Enero
28    338    Enero
29    887    Enero
0     331  Febrero
1     584  Febrero
2     540  Febrero
3     453  Febrero
4     474  Febrero
5     436  Febrero
6     398  Febrero
7     287  Febrero
8     636  Febrero
9     207  Febrero
10    838  Febrero
11    297  Febrero
12    777  Febrero
13    425  Febrero
14    170  Febrero
15    741  Febrero
16    324  Febrero
17    583  Febrero
18    807  Febrero
19    240  Febrero
20    885  Febrero
21    558  Febrero
22    166  Febrero
23    432  Febrero
24    703  Febrero
25    925  Febrero
26    863  Febrero
27    857  Febrero
28    693  Febrero
29    701  Febrero

In [24]:
# Ejercicio 3: Crea dos DataFrame que no tengan exactamente las mismas columnas (ej.: uno tiene 
#'Producto' y 'Ventas', el otro 'Producto' y 'Descuento'). Concaténalos y asegura que los valores faltantes queden rellenados con 0. 
# Retorna el DataFrame resultante.

def ex3_concat_diff_columns_fillna():
    p_ventas = pd.DataFrame({"Producto" : ["flores", "chocolate", "dulces"], "Ventas" : [200, 350, 180]})
    p_descuento = pd.DataFrame({"Producto" : ["tazas", "marcos", "fotos"], "Descuento" : [10, 5, 15]})
    df_ventas = pd.concat([p_ventas, p_descuento]).fillna(0)
    return df_ventas
    
ex3_concat_diff_columns_fillna()

    Producto  Ventas  Descuento
0     flores   200.0        0.0
1  chocolate   350.0        0.0
2     dulces   180.0        0.0
0      tazas     0.0       10.0
1     marcos     0.0        5.0
2      fotos     0.0       15.0

In [26]:
# Ejercicio 4: Genera tres DataFrame pequeños (cada uno con, por ejemplo, 3 filas) que representen notas de distintos grupos de alumnos. 
# Concaténalos verticalmente en un solo DataFrame que contenga todas las notas. Retorna el DataFrame resultante.

def ex4_concat_three_groups():
    tomas = pd.DataFrame({"Notas" : np.random.randint(1, 10, size = 3)})
    julieta = pd.DataFrame({"Notas" : np.random.randint(1, 10, size = 3)})
    pepe = pd.DataFrame({"Notas" : np.random.randint(1, 10, size = 3)})
    notas = pd.concat([tomas, julieta, pepe])
    return notas

ex4_concat_three_groups()

   Notas
0      2
1      6
2      8
0      3
1      7
2      9
0      9
1      1
2      3

## Sección 5-8

In [27]:
# Ejercicio 5: Dada una lista de enteros (o strings) que puede contener duplicados, devuelve una
# nueva lista sin duplicados preservando el orden original. No uses directamente set() para eliminar duplicados 
# (escribe la lógica que preserve el orden). Retorna la nueva lista sin duplicados.

def ex5_remove_duplicates_preserve_order(lst):
    no_duplicados = []
    for item in lst:
        if item not in no_duplicados:
            no_duplicados.append(item)
    return no_duplicados

ex5_remove_duplicates_preserve_order(["dulce", "truco", "verde", "verde"])

['dulce', 'truco', 'verde']

In [30]:
# Ejercicio 6: Dada una lista de tuplas, por ejemplo [("a", 3), ("b", 1), ("c", 2)], ordénala
# por el segundo elemento de cada tupla y devuelve la lista ordenada. Usa una función anónima si lo deseas. Retorna la lista ordenada.

def ex6_sort_tuples_by_second_element(tuples_list):
    return sorted(tuples_list, key=lambda x: x[1])

ex6_sort_tuples_by_second_element([("rojo", 2), (3, 1), ("verde", 3)])

[(3, 1), ('rojo', 2), ('verde', 3)]

In [32]:
#Ejercicio 7: Devuelve una lista con los primeros n múltiplos de 7 (por ejemplo, n=5 -> [7,14,21,28,35]).
#Retorna la lista generada.

def ex7_first_n_multiples_of_7(n):
    return [7 * i for i in range(1, n + 1)]

ex7_first_n_multiples_of_7(9)

[7, 14, 21, 28, 35, 42, 49, 56, 63]

In [33]:
#Ejercicio 8:Dada una lista de cadenas, devuelve sólo aquellas que son palíndromos (se leen igual al derecho y al revés). 
# Retorna una lista con los palíndromos encontrados.

def ex8_filter_palindromes(strings):
    return [s for s in strings if s == s[::-1]]

ex8_filter_palindromes(["hola", "reconocer", "oso", "tigre"])

['reconocer', 'oso']

## Secciones: 9-12 Conjuntos

In [38]:
# Ejercicio 9:Dado dos conjuntos, devuelve su intersección y la diferencia (elementos de A que no están en B). 
# Retorna una tupla (intersección, diferencia).

def ex9_set_intersection_and_difference(set_a, set_b):
    set_a, set_b = set(set_a), set(set_b)
    return (set_a & set_b, set_a - set_b)

ex9_set_intersection_and_difference(["hola", "azul", 3, 4], ["tigre", "elefante", 3])

({3}, {4, 'azul', 'hola'})

In [39]:
#Ejercicio 10: Verifica si set_a es subconjunto de set_b. Devuelve True o False.

def ex10_is_subset(set_a, set_b):
    set_a, set_b = set(set_a), set(set_b)
    return set_a.issubset(set_b)

ex10_is_subset(["azul", "verde","amarillo"], ["amarillo", "azul", "verde", "rojo", "morado"])

True

In [40]:
# Ejercicio 11: Dada una lista, cuenta cuántos elementos únicos contiene (usa set para obtener el conteo).
# Retorna el número de elementos únicos.
 
def ex11_count_unique_elements(lst):
    return len(set(lst))

ex11_count_unique_elements(["amarillo", "azul", "verde", "azul", "verde"])

3

In [42]:
# Ejercicio 12:Dada una lista de frases (strings), extrae y devuelve el conjunto de todas las palabras únicas 
# que aparecen en todas las frases. Retorna un conjunto con las palabras únicas.

def ex12_unique_words_from_phrases(phrases):
    palabra = set()
    for frase in phrases:
        for p in frase.split():
            palabra.add(p.lower())
    return palabra

ex12_unique_words_from_phrases(["hola hola", "azul y azul", "me gusta el azul"])

{'azul', 'el', 'gusta', 'hola', 'me', 'y'}

## Sección 13-16: Tuplas

In [44]:
# Ejercicio 13: Recibe una lista de tuplas (nombre, edad). Devuelve la tupla de la persona con mayor edad.

def ex13_oldest_person(tuple_list):
    return max(tuple_list, key=lambda x: x[1])

ex13_oldest_person([("Luis", 30), ("Carmen", 45), ("Jorge", 14)])

('Carmen', 45)

In [52]:
# Ejercicio 14: Convierte una lista de listas en una lista de tuplas. Retorna la nueva lista de tuplas.

def ex14_convert_list_of_lists_to_tuples(list_of_lists):
    return [tuple(sublist) for sublist in list_of_lists]

ex14_convert_list_of_lists_to_tuples([["hola"],["azul"],["amarillo"]])

[('hola',), ('azul',), ('amarillo',)]

In [54]:
# Ejercicio 15: Recibe una tupla de tres números (a, b, c). Desempaquétala y devuelve la suma a+b+c. 
# Retorna un número entero o flotante.
    
def ex15_sum_of_tuple_abc(t):
    a, b, c = t
    return a + b + c
    
ex15_sum_of_tuple_abc([4, 2, 6])

12

In [55]:
# Ejercicio 16: Dada una lista de tuplas (producto, precio), ordénala por precio de menor a mayor.
# Retorna la lista ordenada.

def ex16_sort_product_price(prod_price_list):
    return sorted(prod_price_list, key=lambda x: x[1])

ex16_sort_product_price([("pizza", 100), ("chocolate", 45), ("flores", 120)])

[('chocolate', 45), ('pizza', 100), ('flores', 120)]

## Sección 17-20: Diccionarios

In [58]:
# Ejercicio 17: Cuenta la frecuencia de cada carácter en una cadena usando un diccionario.
# Retorna un diccionario {carácter: frecuencia}.

def ex17_char_frequency(s):
    frecuencia = {}
    for valor in s:
        frecuencia[valor] = frecuencia.get(valor, 0) + 1
    return frecuencia

ex17_char_frequency("me gusta el chocolate.")

{'m': 1,
 'e': 3,
 ' ': 3,
 'g': 1,
 'u': 1,
 's': 1,
 't': 2,
 'a': 2,
 'l': 2,
 'c': 2,
 'h': 1,
 'o': 2,
 '.': 1}

In [59]:
# Ejercicio 18: Dado un diccionario {alumno: calificación}, devuelve al mejor estudiante. 
# Retorna una tupla (nombre, calificación).

def ex18_best_student(grades_dict):
    mejor = max(grades_dict.items(), key=lambda x: x[1])
    return mejor

ex18_best_student({"Pepe" : 7, "Tom" : 10, "Julia": 8})

('Tom', 10)

In [60]:
# Ejercicio 19: Invierte un diccionario, intercambiando claves y valores. Retorna el diccionario invertido.

def ex19_invert_dictionary(d):
    return {v: k for k, v in d.items()}

ex19_invert_dictionary({"Pepe" : 7, "Tom" : 10, "Julia": 8})

{7: 'Pepe', 10: 'Tom', 8: 'Julia'}

In [62]:
# Ejercicio 20: Fusiona dos diccionarios sumando los valores de las claves que se repitan. 
# Devuelve el diccionario resultante.

def ex20_merge_dicts_sum_values(d1, d2):
    resultado = d1.copy()
    for k, v in d2.items():
        resultado[k] = resultado.get(k, 0) + v
    return resultado

ex20_merge_dicts_sum_values({"Pepe" : 7, "Tom" : 10, "Julia": 8}, {"Pepe" : 3, "Abraham" : 10, "Tere": 9})

{'Pepe': 10, 'Tom': 10, 'Julia': 8, 'Abraham': 10, 'Tere': 9}

## Sección 21-24: NumPy

In [64]:
# Ejercicio 21: Crea un arreglo de NumPy de 10 ceros y cambia el quinto elemento (índice 4) a 1.
# Retorna el array resultante.

def ex21_numpy_array_set_fifth():
    ceros = np.zeros(10)
    ceros[4] = 1
    return ceros

ex21_numpy_array_set_fifth()

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

In [76]:
# Ejercicio 22: Genera una matriz 3x3 con los valores del 0 al 8. 
# Retorna la matriz como array de NumPy.

def ex22_numpy_matrix_3x3():
    matriz = pd.DataFrame(np.random.randint(0, 10, size=(3,3)))
    return matriz.to_numpy()

ex22_numpy_matrix_3x3()

array([[9, 7, 3],
       [9, 0, 9],
       [3, 8, 6]])

In [80]:
# Ejercicio 23: Genera un array aleatorio de 20 enteros y calcula la media, mediana y desviación estándar.
# Retorna una tupla (media, mediana, desviación estándar).

def ex23_numpy_statistics():
    enteros = np.random.randint(15, size = 20)
    return (np.mean(enteros), np.median(enteros), np.std(enteros))
    
ex23_numpy_statistics()

(np.float64(7.3), np.float64(7.5), np.float64(4.428317965096905))

In [83]:
# Ejercicio 24: Dado un array (o lista) de números, reemplaza todos los valores mayores que 10 por 10 
# (es decir, limita/"clip" los valores máximos).
# Retorna el array modificado.

def ex24_numpy_clip_values(arr):
    for i in range(len(arr)):
        if arr[i] > 10:
            arr[i] = 10
    return arr
    
ex24_numpy_clip_values([3, 4, 19, 29, 8])

[3, 4, 10, 10, 8]

## Sección 25-28: Pandas (otros)


def ex26_load_dict_into_dataframe_and_sort():
    """Ejercicio 26:
    Carga un diccionario en un DataFrame (por ejemplo {'Nombre': [...], 'Puntaje': [...]})
    y ordénalo por la columna de puntaje de mayor a menor.
    Retorna el DataFrame ordenado.
    """
    pass


def ex27_groupby_mean_value():
    """Ejercicio 27:
    Dado un DataFrame con columnas 'Grupo' y 'Valor', calcula el promedio de 'Valor'
    por cada 'Grupo' usando groupby. 
    Retorna el DataFrame agrupado con promedios.
    """
    pass


def ex28_most_sold_product_from_sales_df():
    """Ejercicio 28:
    Dado un DataFrame de ventas con columnas 'Producto' y 'Cantidad', determina cuál
    es el producto con la mayor suma total de 'Cantidad' (es decir, el más vendido).
    Retorna una tupla (Producto, Ventas).
    """
    pass

In [87]:
# Ejercicio 25: Crea un DataFrame con columnas 'Nombre', 'Edad' y 'Ciudad'.
# Filtra y retorna solo las filas con `Edad` > 30.

def ex25_filter_rows_age_over_30():
    df = pd.DataFrame({"Nombre": ["Luis", "Carla", "Sofía"], "Edad" : [35, 34, 27], "Ciudad" : ["Londres", "Santiago", "Buenos Aires"]})
    return df[df['Edad'] > 30]

ex25_filter_rows_age_over_30()

  Nombre  Edad    Ciudad
0   Luis    35   Londres
1  Carla    34  Santiago