In [1]:
import pandas as pd
import numpy as np

### Ejercicio 1
Crea dos DataFrame que compartan la misma estructura de columnas (por ejemplo,
    'Nombre' y 'Edad'), con al menos 3 filas cada uno. Concaténalos verticalmente
    en un único DataFrame. Retorna el DataFrame resultante.

In [7]:
def ex1_concat_same_structure(dataframe1, dataframe2):
    df_concatenada = pd.concat([dataframe1, dataframe2]).reset_index(drop=True)
    print(df_concatenada)
    pass

In [8]:
diccionario_1= {'Nombre': ['Gabriel', 'Pedro', 'Ernesto'], 'Edad': [14, 85, 40]}
diccionario_2= {'Nombre': ['Marietta', 'Alyssa', 'Yara'], 'Edad': [3, 55, 20]}
df_hombres= pd.DataFrame(diccionario_1)
df_mujeres= pd.DataFrame(diccionario_2)
ex1_concat_same_structure(df_hombres,df_mujeres)

     Nombre  Edad
0   Gabriel    14
1     Pedro    85
2   Ernesto    40
3  Marietta     3
4    Alyssa    55
5      Yara    20

### Ejercicio 2
Tienes un DataFrame con ventas de enero y otro con ventas de febrero (mismas columnas).
    Concaténalos en un solo DataFrame y añade una columna que indique el mes original
    de cada fila (por ejemplo: 'Enero' o 'Febrero'). Retorna el DataFrame resultante.

In [11]:
def ex2_concat_with_month_column(dataframe1, dataframe2, mes1, mes2):
    df_concatenada = pd.concat([dataframe1, dataframe2]).reset_index(drop=True)
    df_concatenada['Mes']= [ mes1, mes1, mes1, mes1, mes2, mes2, mes2, mes2]
    print(df_concatenada)
    pass

In [12]:
Mes_1= 'Enero'
Mes_2= 'Febrero'
data_enero= {'Semana':['Semana 1', 'Semana 2', 'Semana 3', 'Semana 4'], 'Chips':['$1000', '$976', '$3005', '$2564'],
             'Picafresas':['$78', '$102.50', '$43', '$94'], 'Gelatinas':['$508', '$765', '$688', '$398'], 'Bolis':['$843', '$756', '$357', '$753']}
data_febrero= {'Semana':['Semana 1', 'Semana 2', 'Semana 3', 'Semana 4'], 'Chips':['$887', '$1003', '$790', '$3078'], 
               'Picafresas':['$190', '$70', '$54', '$49'],'Gelatinas':['$308', '$502', '$462', '$713'],'Bolis':['$769', '$587', '$672', '$593']}
df_enero= pd.DataFrame(data_enero)
df_febrero= pd.DataFrame(data_febrero)
ex2_concat_with_month_column(df_enero, df_febrero, Mes_1, Mes_2)

     Semana  Chips Picafresas Gelatinas Bolis      Mes
0  Semana 1  $1000        $78      $508  $843    Enero
1  Semana 2   $976    $102.50      $765  $756    Enero
2  Semana 3  $3005        $43      $688  $357    Enero
3  Semana 4  $2564        $94      $398  $753    Enero
4  Semana 1   $887       $190      $308  $769  Febrero
5  Semana 2  $1003        $70      $502  $587  Febrero
6  Semana 3   $790        $54      $462  $672  Febrero
7  Semana 4  $3078        $49      $713  $593  Febrero

### Ejercicio 3
Crea dos DataFrame que no tengan exactamente las mismas columnas (ej.: uno tiene
    'Producto' y 'Ventas', el otro 'Producto' y 'Descuento'). Concaténalos y asegura
    que los valores faltantes queden rellenados con 0. Retorna el DataFrame resultante.

In [25]:
def ex3_concat_diff_columns_fillna(dataframe1, dataframe2,columna_comun):
    df_concatenada = pd.merge(dataframe1, dataframe2, on=columna_comun, how='outer')
    print(df_concatenada.fillna(0))
    pass

In [26]:
diccionario_1= {'Nombre': ['Gabriel', 'Pedro', 'Ernesto'], 'Edad': [14, 85, 40]}
diccionario_2= {'Nombre': ['Marietta', 'Alyssa', 'Yara'], 'Color': ['Rosa', 'Verde', 'Dorado']}
df_hombres= pd.DataFrame(diccionario_1)
df_mujeres= pd.DataFrame(diccionario_2)
ex3_concat_diff_columns_fillna(df_hombres,df_mujeres,'Nombre')

     Nombre  Edad   Color
0    Alyssa   0.0   Verde
1   Ernesto  40.0       0
2   Gabriel  14.0       0
3  Marietta   0.0    Rosa
4     Pedro  85.0       0
5      Yara   0.0  Dorado

### Ejercicio 4
Genera tres DataFrame pequeños (cada uno con, por ejemplo, 3 filas) que representen
    notas de distintos grupos de alumnos. Concaténalos verticalmente en un solo DataFrame
    que contenga todas las notas. Retorna el DataFrame resultante.

In [28]:
def ex4_concat_three_groups(dataframe1, dataframe2, dataframe3):
    df_concatenada = pd.concat([dataframe1, dataframe2, dataframe3],axis=0).reset_index(drop=True)
    print(df_concatenada)
    pass

In [29]:
df_1= pd.DataFrame({'Nombre':['María', 'José', 'Uriel'], 'Matemáticas':[10, 9, 8], 'Español':[6, 9, 7], 'Historia':[7,10, 9]})
df_2= pd.DataFrame({'Nombre':['Roberto', 'Alfredo', 'Valeria'], 'Matemáticas':[8, 9, 7], 'Español':[5, 9, 7], 'Historia':[6,9, 9]})
df_3= pd.DataFrame({'Nombre':['Virginia', 'Rosa', 'Bárbara'], 'Matemáticas':[7, 9, 8], 'Español':[8, 8, 10], 'Historia':[6,9, 8]})
ex4_concat_three_groups(df_1, df_2, df_3)

     Nombre  Matemáticas  Español  Historia
0     María           10        6         7
1      José            9        9        10
2     Uriel            8        7         9
3   Roberto            8        5         6
4   Alfredo            9        9         9
5   Valeria            7        7         9
6  Virginia            7        8         6
7      Rosa            9        8         9
8   Bárbara            8       10         8

### Ejercicio 5
 Dada una lista de enteros (o strings) que puede contener duplicados, devuelve una
    nueva lista sin duplicados preservando el orden original. No uses directamente set()
    para eliminar duplicados (escribe la lógica que preserve el orden). Retorna la nueva 
    lista sin duplicados.

In [34]:
def ex5_remove_duplicates_preserve_order(lista):
    nueva_lista=[]
    for elemento in lista:
        if elemento not in nueva_lista:
            nueva_lista.append(elemento)
    return nueva_lista
    pass

In [35]:
ex5_remove_duplicates_preserve_order(['oso', 'cabra', 'borrego', 'cabra', 'perro', 'gato', 'gato', 'oso'] )

['oso', 'cabra', 'borrego', 'perro', 'gato']

### Ejercicio 6
 Dada una lista de tuplas, por ejemplo [("a", 3), ("b", 1), ("c", 2)], ordénala
    por el segundo elemento de cada tupla y devuelve la lista ordenada. Usa una función
    anónima si lo deseas. Retorna la lista ordenada.

In [37]:
def ex6_sort_tuples_by_second_element(tuples_list):
    tuples_list_ordenada = sorted(tuples_list, key=lambda x: x[1])
    print(tuples_list_ordenada)
    pass

In [38]:
ex6_sort_tuples_by_second_element([("a", 3), ("b", 1), ("c", 2)])

[('b', 1), ('c', 2), ('a', 3)]

### Ejercicio 7
Devuelve una lista con los primeros n múltiplos de 7 (por ejemplo, n=5 -> [7,14,21,28,35]).
    Retorna la lista generada.

In [44]:
def ex7_first_n_multiples_of_7(n):
    multiplos=[]
    for i in range(1,n+1):
        multiplos.append( 7*i)
    return multiplos
    pass

In [45]:
ex7_first_n_multiples_of_7(5)

[7, 14, 21, 28, 35]

### Ejercicio 8
 Dada una lista de cadenas, devuelve sólo aquellas que son palíndromos (se leen igual
    al derecho y al revés). Retorna una lista con los palíndromos encontrados.

In [47]:
def ex8_filter_palindromes(strings):
    palindromos=[]
    for palabra in strings:
        if palabra == palabra[::-1]:
            palindromos.append(palabra)
    return palindromos
    pass

In [48]:
ex8_filter_palindromes(['oso', 'agua', 'ana', 'arroz', 'reconocer'])

['oso', 'ana', 'reconocer']

### Ejercicio 9
  Dado dos conjuntos, devuelve su intersección y la diferencia (elementos de A que no
    están en B). Retorna una tupla (intersección, diferencia).

In [55]:
def ex9_set_intersection_and_difference(set_a, set_b):
    interseccion=[]
    differencia=[]
    for elemento in set_a:
        if elemento in set_b:
            interseccion.append(elemento)
        else:
            differencia.append(elemento) 
    for elemento in set_b:
        if elemento not in set_a:
            differencia.append(elemento)
    tupla= ((interseccion[0],differencia[0]))
    return interseccion, differencia, tupla
    pass

In [56]:
ex9_set_intersection_and_difference([3, 5, 7, 9, 2], [5, 8, 4, 9, 1])

([5, 9], [3, 7, 2, 8, 4, 1], (5, 3))

### Ejercicio 10
 Verifica si set_a es subconjunto de set_b. Devuelve True o False.

In [ ]:
def ex10_is_subset(set_a, set_b):
    pass

### Ejercicio 11
Dada una lista, cuenta cuántos elementos únicos contiene (usa set para obtener el conteo).
    Retorna el número de elementos únicos.

In [ ]:
def ex11_count_unique_elements(lst):
    pass

### Ejercicio 12
 Dada una lista de frases (strings), extrae y devuelve el conjunto de todas las palabras
    únicas que aparecen en todas las frases. Retorna un conjunto con las palabras únicas.

In [ ]:
def ex12_unique_words_from_phrases(phrases):
    pass

### Ejercicio 13
 Recibe una lista de tuplas (nombre, edad). Devuelve la tupla de la persona con mayor edad.

In [ ]:
def ex13_oldest_person(tuple_list):
    pass

### Ejercicio 14
 Convierte una lista de listas en una lista de tuplas. Retorna la nueva lista de tuplas.

In [ ]:
def ex14_convert_list_of_lists_to_tuples(list_of_lists):
    pass

### Ejercicio 15
  Recibe una tupla de tres números (a, b, c). Desempaquétala y devuelve la suma a+b+c. 
    Retorna un número entero o flotante.

In [ ]:
def ex15_sum_of_tuple_abc(t):
    pass

### Ejercicio 16
 Dada una lista de tuplas (producto, precio), ordénala por precio de menor a mayor.
    Retorna la lista ordenada.

In [ ]:
def ex16_sort_product_price(prod_price_list):
    pass