In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
def ex1_concat_same_structure():
    df1 = pd.DataFrame({'A':['1A', '2A', '3A'],'B':['1B', '2B','3B'],'C':['1C', '2C','3C']})
    df2 = pd.DataFrame({'A':['6A', '7A', '8A'],'B':['6B', '7B', '8B'],'C':['6C', '7C', '8C']})
    df3 = pd.concat([df1,df2], ignore_index= True)
    return df3

ex1_concat_same_structure()

In [170]:
def ex2_concat_with_month_column():
    df_enero = pd.DataFrame({
        'Producto': ['A', 'B', 'C'],
        'Ventas': [100, 200, 150]
    })
    
    df_febrero = pd.DataFrame({
        'Producto': ['A', 'B', 'C'],
        'Ventas': [120, 180, 160]
    })
    
    df_enero['Mes'] = 'Enero'
    df_febrero['Mes'] = 'Febrero'
    
    df_total = pd.concat([df_enero, df_febrero], ignore_index=True)
    return df_total
    
ex2_concat_with_month_column()

  Producto  Ventas      Mes
0        A     100    Enero
1        B     200    Enero
2        C     150    Enero
3        A     120  Febrero
4        B     180  Febrero
5        C     160  Febrero

In [ ]:
def ex3_concat_diff_columns_fillna():
    data = np.random.randint(0,30, size = [3,2])
    df1 = pd.DataFrame(columns = ['Producto', 'Ventas'], data = data)
    data = np.random.randint(0,30, size = [3,2])
    df2 = pd.DataFrame(columns = ['Producto', 'Descuento'], data = data)
    df3 = pd.concat([df1,df2], ignore_index= True)
    df3 = df3.fillna(0)
    return df3

ex3_concat_diff_columns_fillna()

In [ ]:
def ex4_concat_three_groups():
    data = np.random.randint(0,10, size = [3,3])
    df1 = pd.DataFrame(columns = ['Alumno1', 'Alumno2', 'Alumno3'], data = data, 
                       index = ['Materia1','Materia2','Materia3'])
    data = np.random.randint(0,10, size = [3,3])
    df2 = pd.DataFrame(columns = ['Alumno3', 'Alumno4', 'Alumno5'], data = data, 
                       index = ['Materia1','Materia2','Materia3'])
    data = np.random.randint(0,10, size = [3,3])
    df3 = pd.DataFrame(columns = ['Alumno6', 'Alumno7', 'Alumno8'], data = data, 
                       index = ['Materia1','Materia2','Materia3'])
    df4 = pd.concat([df1.T,df2.T,df3.T])
    df4 = df4.T
    return df4
ex4_concat_three_groups()

In [56]:
def ex5_remove_duplicates_preserve_order(lst):
    lista2 = []
    for numero in lst:
        if numero not in lista2:
            lista2.append(numero)
    return lista2
lista = [3,3,5,67,12,21,5,5,8,90,12,90,13,21,3,4,67,4,1,2,9,15,21,8,6,3,1]
ex5_remove_duplicates_preserve_order(lista)

[3, 5, 67, 12, 21, 8, 90, 13, 4, 1, 2, 9, 15, 6]

In [36]:
def ex6_sort_tuples_by_second_element(tuples_list):
    return sorted(tuples_list, key=lambda x: x[1])

tup_list = [("a", 3), ("b", 1), ("c", 2)]
ex6_sort_tuples_by_second_element(tup_list)

[('b', 1), ('c', 2), ('a', 3)]

In [42]:
def ex7_first_n_multiples_of_7(n):
    maxi = 7*n
    i = 0
    lista = []
    for j in range(n):
        lista.append(maxi-(7*i))
        i +=1
    lista.sort(reverse=False)
    return lista

ex7_first_n_multiples_of_7(8)

[7, 14, 21, 28, 35, 42, 49, 56]

In [44]:
def ex8_filter_palindromes(strings):
    lista = []
    for string in strings:
        if string == string[::-1]:
            lista.append(string)
    return lista

strings = ['reconocer', 'ana', 'seis', 'hola', 'yo', 'lol', 'risa', 'oso'] 
ex8_filter_palindromes(strings)

['reconocer', 'ana', 'lol', 'oso']

In [50]:
def ex9_set_intersection_and_difference(set_a, set_b):
    inter =  []
    dif = []
    for elemento in set_a:
        if elemento in set_b:
            inter.append(elemento)
        else:
            dif.append(elemento)
    tupla = (inter,dif)
    return tupla

set_a = [1,2,3,4,5,6,7,8,9,0]
set_b = [5,6,7,8,9,0,11,12,13]
ex9_set_intersection_and_difference(set_a, set_b)

([5, 6, 7, 8, 9, 0], [1, 2, 3, 4])

In [54]:
def ex10_is_subset(set_a, set_b):
    for elemento in set_a:
        if elemento not in set_b:
            return False
    return True

set_a = [5,6,7,8,9,0]
set_b = [5,6,7,8,9,0,11,12,13]
ex10_is_subset(set_a, set_b)

True

In [55]:
def ex11_count_unique_elements(lst):
    result = set(lst)
    return len(result)
lista = [3,3,5,67,12,21,5,5,8,90,12,90,13,21,3,4,67,4,1,2,9,15,21,8,6,3,1]
ex11_count_unique_elements(lista)

14

In [65]:
def ex12_unique_words_from_phrases(phrases):
    lista = []
    for frase in phrases:
        palabras = frase.split(sep=' ')
        for palabra in palabras:
            lista.append(palabra)
        lista_unica = [p for p in lista if lista.count(p) == 1]
    return set(lista_unica)

phrases = ['estoy haciendo esto','ya tardé mucho','no me gusta esto','python me gusta mucho']
ex12_unique_words_from_phrases(phrases)

{'estoy', 'haciendo', 'no', 'python', 'tardé', 'ya'}

In [73]:
def ex15_sum_of_tuple_abc(t):
    return sum(t)


t = (45,2,2)
ex15_sum_of_tuple_abc(t)

49

In [75]:
def ex16_sort_product_price(prod_price_list):
    return sorted(prod_price_list, key=lambda x: x[1])

lista_tup = [('leche', 45), ('pan', 32), ('agua',12), ('galletas', 65)]
ex16_sort_product_price(lista_tup)

[('agua', 12), ('pan', 32), ('leche', 45), ('galletas', 65)]

In [90]:
s = 'el uranio enriquecido hace funcionar las centrales nucleares'
def ex17_char_frequency(s):
    freq = {}
    for char in s:
        if char in freq:
            freq[char] += 1 
        else:
            freq[char] = 1 
    return freq
        
ex17_char_frequency(s)

{'e': 8,
 'l': 4,
 ' ': 7,
 'u': 4,
 'r': 5,
 'a': 6,
 'n': 6,
 'i': 4,
 'o': 3,
 'q': 1,
 'c': 5,
 'd': 1,
 'h': 1,
 'f': 1,
 's': 3,
 't': 1}

In [104]:
dictt = {'Alumno1':np.random.randint(0,10),
       'Alumno2':np.random.randint(0,10),
       'Alumno3':np.random.randint(0,10),
       'Alumno4':np.random.randint(0,10),
       'Alumno5':np.random.randint(0,10),
       'Alumno6':np.random.randint(0,10)}
def ex18_best_student(grades_dict):
    lista = []
    lista = sorted(dictt, key = dictt.get)
    r=lista[0]
    return lista[0]

ex18_best_student(dictt)

'Alumno6'

In [113]:
def ex19_invert_dictionary(d):
    dicc = {}
    for clave, valor in d.items():  
        dicc[valor] = clave         
    return dicc

dictt = {'Alumno1':10,
         'Alumno2':5,
         'Alumno3':6,
         'Alumno4':9,
         'Alumno5':8,
         'Alumno6':4}

print(ex19_invert_dictionary(dictt))

{10: 'Alumno1', 5: 'Alumno2', 6: 'Alumno3', 9: 'Alumno4', 8: 'Alumno5', 4: 'Alumno6'}

In [119]:
dictt1 = {'Alumno1':10,
         'Alumno2':5,
         'Alumno3':6,
         'Alumno4':9,
         'Alumno5':8,
         'Alumno6':4}
dictt2 = {'Alumno1':1,
         'Alumno5':5,
         'Alumno3':8,
         'Alumno8':9,
         'Alumno7':8,
         'Alumno6':2}
def ex20_merge_dicts_sum_values(d1, d2):
    listak1 = list(dictt1.keys())
    listak2 = list(dictt2.keys())
    listak = listak1 + listak2
    dictt3 = {}
    for key in listak:
        dictt3[key] = dictt3[key] = d1.get(key, 0) + d2.get(key, 0)
    return dictt3

ex20_merge_dicts_sum_values(dictt1, dictt2)

{'Alumno1': 11,
 'Alumno2': 5,
 'Alumno3': 14,
 'Alumno4': 9,
 'Alumno5': 13,
 'Alumno6': 6,
 'Alumno8': 9,
 'Alumno7': 8}

In [123]:
def ex21_numpy_array_set_fifth():
    zeros = np.zeros(10)
    zeros[4] = 1
    return zeros

ex21_numpy_array_set_fifth()

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

In [124]:
def ex22_numpy_matrix_3x3():
    matriz = np.arange(9).reshape(3, 3)
    return matriz
ex22_numpy_matrix_3x3()

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [135]:
def ex23_numpy_statistics():
    mat = np.random.randint(0,20,size = 20)
    mean, median, sd = np.mean(mat), np.median(mat), np.std(mat)
    result = (mean, median, sd)
    return result
ex23_numpy_statistics()

(np.float64(11.55), np.float64(12.5), np.float64(5.499772722576815))

In [138]:
mat = np.random.randint(0,20,size = 20)
def ex24_numpy_clip_values(arr):
    return np.clip(arr, a_min=None, a_max=10)

ex24_numpy_clip_values(mat)

array([10,  1,  9,  2,  4, 10, 10,  1, 10, 10, 10,  8, 10,  1,  3, 10, 10,
       10,  4,  0], dtype=int32)

In [147]:
def ex25_filter_rows_age_over_30():
    df = pd.DataFrame({'Nombre':['Rodrigo', 'Juan', 'Pablo', 'Roy'],
                 'Edad':[14,31,28,54],
                'Ciudad':['Acapulco', 'Irapuato', 'San José de los Olvera', 'Torreón']})
    df2 = df[df.Edad > 30]
    return df2

ex25_filter_rows_age_over_30()

  Nombre  Edad    Ciudad
1   Juan    31  Irapuato
3    Roy    54   Torreón

In [153]:
def ex26_load_dict_into_dataframe_and_sort():
    df = pd.DataFrame({'Nombre':['Rodrigo', 'Juan', 'Pablo', 'Roy'],
                 'Puntaje':[14,31,28,54],
                'Ciudad':['Acapulco', 'Irapuato', 'San José de los Olvera', 'Torreón']})
    return df.sort_values(by = 'Puntaje', ascending = False)
ex26_load_dict_into_dataframe_and_sort()

    Nombre  Puntaje                  Ciudad
3      Roy       54                 Torreón
1     Juan       31                Irapuato
2    Pablo       28  San José de los Olvera
0  Rodrigo       14                Acapulco

In [155]:
def ex28_most_sold_product_from_sales_df():
    df1 = pd.DataFrame({'Producto':['Leche', 'Pan', 'Galletas'], 'Ventas':
                       [3211,456,10123]})
    df1 = df1.sort_values(by = 'Ventas', ascending = False)
    producto, ventas = df1.iloc[0,0], df1.iloc[0,1]
    resultado = (producto, ventas)
    return resultado
ex28_most_sold_product_from_sales_df()

('Galletas', np.int64(10123))

In [162]:
def ex29_cube_numbers(lst):
    return list(map(lambda x: x**3, lst))

numeros = [1, 2, 3, 4, 5]
ex29_cube_numbers(numeros)

[1, 8, 27, 64, 125]

In [163]:
def ex30_filter_lambda_even(lst):
    return list(filter(lambda x: x % 2 == 0, lst))
numeros = [1, 2, 3, 4, 5, 6]
ex30_filter_lambda_even(numeros)

[2, 4, 6]

In [167]:
def ex31_sort_list_of_dicts_by_key(lst, keyname):
    return sorted(lst, key=lambda d: d[keyname])
lista_dic = [
    {'nombre':'Ana', 'edad':25},
    {'nombre':'Juan', 'edad':20},
    {'nombre':'Pablo', 'edad':30}
]

ex31_sort_list_of_dicts_by_key(lista_dic, 'edad')

[{'nombre': 'Juan', 'edad': 20},
 {'nombre': 'Ana', 'edad': 25},
 {'nombre': 'Pablo', 'edad': 30}]

In [169]:
def ex32_pandas_apply_lambda_uppercase(names_list):
    df = pd.DataFrame({'Nombre': names_list})
    df['Nombre_mayus'] = df['Nombre'].apply(lambda x: x.upper())
    return df

nombres = ['Ana', 'Juan', 'Pablo']
ex32_pandas_apply_lambda_uppercase(nombres)

  Nombre Nombre_mayus
0    Ana          ANA
1   Juan         JUAN
2  Pablo        PABLO