## Elaboró: Anette Paulina González Solano

# TAREA: 2° Parcial


Cada ejercicio está representado por una función con su docstring que contiene
la instrucción (no incluye soluciones). Implementa las funciones por tu cuenta.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
"""
Archivo: ejercicios_python_estructuras_numpy_pandas_instrucciones.py
Descripción: 32 ejercicios (SOLO INSTRUCCIONES) sobre:
- pandas (concatenación y otras operaciones), listas, conjuntos, tuplas, diccionarios,
  NumPy y uso de lambdas (map, filter, sorted, apply).

Cada ejercicio está representado por una función con su docstring que contiene
la instrucción (no incluye soluciones). Implementa las funciones por tu cuenta.
"""

# Nota: este archivo contiene únicamente las instrucciones de cada ejercicio.
# Implementa cada función en tu entorno (o pégalas en una plataforma tipo HackerRank/LeetCode).

import pandas as pd
import numpy as np

In [ ]:
# -----------------------------
# 1-4: Pandas (concatenación)
# -----------------------------

In [23]:
def ex1_concat_same_structure():
    """Ejercicio 1:
    Crea dos DataFrame que compartan la misma estructura de columnas (por ejemplo,
    'Nombre' y 'Edad'), con al menos 3 filas cada uno. Concaténalos verticalmente
    en un único DataFrame. Retorna el DataFrame resultante.
    """
    df1 = pd.DataFrame({'Nombre': ['Lorelai', 'Rory', 'Emily'], 'Edad': [32, 16, 64]})
    df2 = pd.DataFrame({'Nombre': ['Walter', 'Jesse', 'Gustavo'], 'Edad': [50, 27, 55]})
    return pd.concat([df1, df2], ignore_index = True)

# Comprobar que sirve
ex1_concat_same_structure()

    Nombre  Edad
0  Lorelai    32
1     Rory    16
2    Emily    64
3   Walter    50
4    Jesse    27
5  Gustavo    55

In [22]:
def ex2_concat_with_month_column():
    """Ejercicio 2:
    Tienes un DataFrame con ventas de enero y otro con ventas de febrero (mismas columnas).
    Concaténalos en un solo DataFrame y añade una columna que indique el mes original
    de cada fila (por ejemplo: 'Enero' o 'Febrero'). Retorna el DataFrame resultante.
    """
    enero = pd.DataFrame({'Producto': ['Silla', 'Mesa', 'Sofá'], 'Ventas': [5, 2, 3]})
    febrero = pd.DataFrame({'Producto': ['Silla', 'Mesa', 'Sofá'], 'Ventas': [8, 7, 1]})
    enero['Mes'] = 'Enero'
    febrero['Mes'] = 'Febrero'
    return pd.concat([enero, febrero], ignore_index = True)

# Comprobar que sirve
ex2_concat_with_month_column()

  Producto  Ventas      Mes
0    Silla       5    Enero
1     Mesa       2    Enero
2     Sofá       3    Enero
3    Silla       8  Febrero
4     Mesa       7  Febrero
5     Sofá       1  Febrero

In [29]:
def ex3_concat_diff_columns_fillna():
    """Ejercicio 3:
    Crea dos DataFrame que no tengan exactamente las mismas columnas (ej.: uno tiene
    'Producto' y 'Ventas', el otro 'Producto' y 'Descuento'). Concaténalos y asegura
    que los valores faltantes queden rellenados con 0. Retorna el DataFrame resultante.
    """
    df1 = pd.DataFrame({'Producto': ['Cama', 'Librero', 'Escritorio'], 'Ventas': [3, 9, 11]})
    df2 = pd.DataFrame({'Producto': ['Cama', 'Librero', 'Escritorio'], 'Descuento': [20, 25, 10]})
    return pd.concat([df1, df2], ignore_index = True).fillna(0) # .fillna(0) reemplaza NaN → 0

# Comprobar que sirve
ex3_concat_diff_columns_fillna()

     Producto  Ventas  Descuento
0        Cama     3.0        0.0
1     Librero     9.0        0.0
2  Escritorio    11.0        0.0
3        Cama     0.0       20.0
4     Librero     0.0       25.0
5  Escritorio     0.0       10.0

In [38]:
def ex4_concat_three_groups():
    """Ejercicio 4:
    Genera tres DataFrame pequeños (cada uno con, por ejemplo, 3 filas) que representen
    notas de distintos grupos de alumnos. Concaténalos verticalmente en un solo DataFrame
    que contenga todas las notas. Retorna el DataFrame resultante.
    """
    ng1 = pd.DataFrame({'Alumno': ['Majo', 'Alessa', 'Pavel'], 'Nota': [5.5, 8, 7.2]})
    ng2 = pd.DataFrame({'Alumno': ['Adrián', 'Óscar', 'Jonathan'], 'Nota': [8, 6.5, 7.7]})
    ng3 = pd.DataFrame({'Alumno': ['Geraldine', 'Michelle', 'Aura'], 'Nota': [2, 7, 6.5]})
    return pd.concat([ng1, ng2, ng3], ignore_index=True)

# Comprobar que sirve
ex4_concat_three_groups()

      Alumno  Nota
0       Majo   5.5
1     Alessa   8.0
2      Pavel   7.2
3     Adrián   8.0
4      Óscar   6.5
5   Jonathan   7.7
6  Geraldine   2.0
7   Michelle   7.0
8       Aura   6.5

In [ ]:
# -----------------------------
# 5-8: Listas
# -----------------------------

In [45]:
def ex5_remove_duplicates_preserve_order(lst):
    """Ejercicio 5:
    Dada una lista de enteros (o strings) que puede contener duplicados, devuelve una
    nueva lista sin duplicados preservando el orden original. No uses directamente set()
    para eliminar duplicados (escribe la lógica que preserve el orden). Retorna la nueva 
    lista sin duplicados.
    """
    resultado = [] # Aquí se irán guardando los items s/duplicar
    for item in lst:
        if item not in resultado:
            resultado.append(item) # Añadir item a 'resultado'
    return resultado

# Comprobar que sirve
ex5_remove_duplicates_preserve_order(['ojo', 'boca', 'ojo']), ex5_remove_duplicates_preserve_order([3, 4, 7, 4])

(['ojo', 'boca'], [3, 4, 7])

In [46]:
def ex6_sort_tuples_by_second_element(tuples_list):
    """Ejercicio 6:
    Dada una lista de tuplas, por ejemplo [("a", 3), ("b", 1), ("c", 2)], ordénala
    por el segundo elemento de cada tupla y devuelve la lista ordenada. Usa una función
    anónima si lo deseas. Retorna la lista ordenada.
    """
    return sorted(tuples_list, key = lambda x: x[1]) # lambda = función anónima, x = elemento de la lista, x[1] = devuelve 2do elemento de la lista

# Comprobar que sirve
ex6_sort_tuples_by_second_element([("a", 3), ("b", 1), ("c", 2)])

[('b', 1), ('c', 2), ('a', 3)]

In [51]:
def ex7_first_n_multiples_of_7(n):
    """Ejercicio 7:
    Devuelve una lista con los primeros n múltiplos de 7 (por ejemplo, n=5 -> [7,14,21,28,35]).
    Retorna la lista generada.
    """
    return [7 * i for i in range(1, n + 1)] # Si solo pusiéramos n, tendríamos en realidad n-1 (lim sup no se incluye)

# Comprobar que sirve
ex7_first_n_multiples_of_7(5)

[7, 14, 21, 28, 35]

In [63]:
def ex8_filter_palindromes(strings): 
    """Ejercicio 8: Dada una lista de cadenas, devuelve sólo aquellas que son palíndromos 
    (se leen igual al derecho y al revés). Retorna una lista con los palíndromos encontrados. """
    palíndromos = []
    for s in strings:
        if s.lower() == s[::-1].lower():  # Compara s con su reverso, tomando como igual minúsculas y mayúsculas
            palíndromos.append(s) # Añade s a 'palíndromos'
    return palíndromos

# Comprobar que sirve
ex8_filter_palindromes(['Hannah', 'oro', 'sujeto'])

['Hannah', 'oro']

In [ ]:
# -----------------------------
# 9-12: Conjuntos
# -----------------------------

In [66]:
def ex9_set_intersection_and_difference(set_a, set_b):
    """Ejercicio 9:
    Dado dos conjuntos, devuelve su intersección y la diferencia (elementos de A que no
    están en B). Retorna una tupla (intersección, diferencia).
    """
    intersección = set_a & set_b # Elementos en común
    diferencia = set_a - set_b # Están en A, pero no en B
    return (intersección, diferencia)

# Comprobar que sirve
ex9_set_intersection_and_difference(set_a = {'rojo', 'azul', 'amarillo'}, set_b = {'rojo', 'verde', 'azul'})

({'azul', 'rojo'}, {'amarillo'})

In [69]:
def ex10_is_subset(set_a, set_b):
    """Ejercicio 10:
    Verifica si set_a es subconjunto de set_b. Devuelve True o False.
    """
    return set_a.issubset(set_b)

# Comprobar que sirve
ex10_is_subset(set_a = {2, 4, 7}, set_b = {2, 3, 4, 6, 7}), ex10_is_subset(set_a = {2, 4, 7}, set_b = {3, 5, 6})

(True, False)

In [71]:
def ex11_count_unique_elements(lst):
    """Ejercicio 11:
    Dada una lista, cuenta cuántos elementos únicos contiene (usa set para obtener el conteo).
    Retorna el número de elementos únicos.
    """
    return len(set(lst))

# Comprobar que sirve
ex11_count_unique_elements(['a', 'a', 'b', 'c', 'c'])

3

In [78]:
def ex12_unique_words_from_phrases(phrases):
    """Ejercicio 12:
    Dada una lista de frases (strings), extrae y devuelve el conjunto de todas las palabras
    únicas que aparecen en todas las frases. Retorna un conjunto con las palabras únicas.
    """
    únicas = set() # Aquí se irán almacenando las palabras únicas
    for f in phrases:
        únicas.update(f.lower().split()) # Toma como iguales minúsculas y minúsculas, divide frase en palabras
    return únicas
    # .update() agrega varios elementos a un set, .add() agrega un solo elemento
    
# Comprobar que sirve
ex12_unique_words_from_phrases([
    'Somos o no somos', 
    'Traición con traición se paga'])

{'con', 'no', 'o', 'paga', 'se', 'somos', 'traición'}

In [79]:
# -----------------------------
# 13-16: Tuplas
# -----------------------------

In [82]:
def ex13_oldest_person(tuple_list):
    """Ejercicio 13:
    Recibe una lista de tuplas (nombre, edad). Devuelve la tupla de la persona con mayor edad.
    """
    return max(tuple_list, key = lambda x: x[1])

# Comprobar que sirve
ex13_oldest_person([('Anette', 22), ('Adrián', 22), ('Óscar', 23)])

('Óscar', 23)

In [83]:
def ex14_convert_list_of_lists_to_tuples(list_of_lists):
    """Ejercicio 14:
    Convierte una lista de listas en una lista de tuplas. Retorna la nueva lista de tuplas.
    """
    return [tuple(nueva) for nueva in list_of_lists] # tuple(nueva) convierte la nueva en tupla, 'for nueva in list_of_lists' recorre cada lista (elemento) dentro de la lista principal

# Comprobar que sirve
ex14_convert_list_of_lists_to_tuples([[3, 4], [7, 8], [11, 12]]) # [3, 4] es una lista dentro de una lista

[(3, 4), (7, 8), (11, 12)]

In [85]:
def ex15_sum_of_tuple_abc(t):
    """Ejercicio 15:
    Recibe una tupla de tres números (a, b, c). Desempaquétala y devuelve la suma a+b+c. 
    Retorna un número entero o flotante.
    """
    a, b, c = t
    return a + b + c

# Comprobar que sirve
ex15_sum_of_tuple_abc((6, 2, 2))

10

In [88]:
def ex16_sort_product_price(prod_price_list):
    """Ejercicio 16:
    Dada una lista de tuplas (producto, precio), ordénala por precio de menor a mayor.
    Retorna la lista ordenada.
    """
    return sorted(prod_price_list, key = lambda x: x[1])

# Comprobar que sirve
ex16_sort_product_price([('Colar', 50), ('Anillo', 25), ('Aretes', 30)])

[('Anillo', 25), ('Aretes', 30), ('Colar', 50)]

In [ ]:
# -----------------------------
# 17-20: Diccionarios
# -----------------------------

In [90]:
def ex17_char_frequency(s):
    """Ejercicio 17:
    Cuenta la frecuencia de cada carácter en una cadena usando un diccionario.
    Retorna un diccionario {carácter: frecuencia}.
    """
    frecuencia = {} # Aquí se irán almacenando las frecuencias de cada caracter
    for c in s:
      if c in frecuencia:
          frecuencia[c] += 1 # Si ya está, sumar 1
      else:
          frecuencia[c] = 1
    return frecuencia

# Comprobar que sirve
ex17_char_frequency('Verde')

{'V': 1, 'e': 2, 'r': 1, 'd': 1}

In [94]:
def ex18_best_student(grades_dict):
    """Ejercicio 18:
    Dado un diccionario {alumno: calificación}, devuelve al mejor estudiante.
    Retorna una tupla (nombre, calificación).
    """
    return max(grades_dict.items(), key = lambda x: x[1]) # .items() devuelve un iterable de tuplas (key, valor), no solo key

# Comprobar que sirve
ex18_best_student({'Alumno 1': 8.0, 'Alumno 2': 8.7, 'Alumno 3': 7.6})

('Alumno 2', 8.7)

In [96]:
def ex19_invert_dictionary(d):
    """Ejercicio 19:
    Invierte un diccionario, intercambiando claves y valores.
    Retorna el diccionario invertido.
    """
    return {valor: key for key, valor in d.items()}

# Comprobar que sirve
ex19_invert_dictionary({'Alumno 1': 8.0, 'Alumno 2': 8.7, 'Alumno 3': 7.6})

{8.0: 'Alumno 1', 8.7: 'Alumno 2', 7.6: 'Alumno 3'}

In [97]:
def ex20_merge_dicts_sum_values(d1, d2):
    """Ejercicio 20:
    Fusiona dos diccionarios sumando los valores de las claves que se repitan. 
    Devuelve el diccionario resultante.
    """
    dicc_resultante = dict(d1)
    for key, valor, in d2.items():
        dicc_resultante[key] = dicc_resultante.get(key, 0) + valor
    return dicc_resultante

# Comprobar que sirve
ex20_merge_dicts_sum_values({'a': 4, 'b': 3}, {'b': 8, 'c': 2})

{'a': 4, 'b': 11, 'c': 2}

In [ ]:
# -----------------------------
# 21-24: NumPy
# -----------------------------

In [98]:
def ex21_numpy_array_set_fifth():
    """Ejercicio 21:
    Crea un arreglo de NumPy de 10 ceros y cambia el quinto elemento (índice 4) a 1.
    Retorna el array resultante.
    """
    array = np.zeros(10)
    array[4] = 1
    return array

# Comprobar que sirve
ex21_numpy_array_set_fifth()

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

In [101]:
def ex22_numpy_matrix_3x3():
    """Ejercicio 22:
    Genera una matriz 3x3 con los valores del 0 al 8. 
    Retorna la matriz como array de NumPy.
    """
    return np.arange(9).reshape(3, 3) # .arange() crea array con valores 0-8, .reshape() da formato 3x3 al array

# Comprobar que sirve
ex22_numpy_matrix_3x3()

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [104]:
def ex23_numpy_statistics():
    """Ejercicio 23:
    Genera un array aleatorio de 20 enteros y calcula la media, mediana y desviación estándar.
    Retorna una tupla (media, mediana, desviación estándar).
    """
    array = np.random.randint(0, 100, 20)
    return array.mean(), np.median(array), array.std()

# Comprobar que sirve
ex23_numpy_statistics()

(np.float64(44.1), np.float64(46.5), np.float64(31.317566955304812))

In [107]:
def ex24_numpy_clip_values(arr):
    """Ejercicio 24:
    Dado un array (o lista) de números, reemplaza todos los valores mayores que 10 por 10
    (es decir, limita/"clip" los valores máximos).
    Retorna el array modificado.
    """
    return np.clip(np.array(arr), None, 10) # np.array() asegura que arr sea una lista, None = sin límite inferior

# Comprobar que sirve
ex24_numpy_clip_values([50, 3, 4, 60, 8, 11])

array([10,  3,  4, 10,  8, 10])

In [ ]:
# -----------------------------
# 25-28: Pandas (otros)
# -----------------------------

In [111]:
def ex25_filter_rows_age_over_30():
    """Ejercicio 25:
    Crea un DataFrame con columnas 'Nombre', 'Edad' y 'Ciudad'.
    Filtra y retorna solo las filas con `Edad` > 30.
    """
    df = pd.DataFrame({
        'Nombre': ['Marie', 'Mónica', 'Guadalupe'],
        'Edad': [40, 29, 35],
        'Ciudad': ['París', 'Puebla', 'CDMX']})
    return df[df['Edad'] > 30]

# Comprobar que sirve
ex25_filter_rows_age_over_30()

      Nombre  Edad Ciudad
0      Marie    40  París
2  Guadalupe    35   CDMX

In [113]:
def ex26_load_dict_into_dataframe_and_sort():
    """Ejercicio 26:
    Carga un diccionario en un DataFrame (por ejemplo {'Nombre': [...], 'Puntaje': [...]})
    y ordénalo por la columna de puntaje de mayor a menor.
    Retorna el DataFrame ordenado.
    """
    diccionario = {'Nombre': ['Javier', 'Oswaldo', 'José'], 'Puntaje': [85, 94, 91]}
    df = pd.DataFrame(diccionario)
    return df.sort_values('Puntaje', ascending = False) # sorted() no aplica para DataFrames, porque este no es directamente iterable por filas

# Comprobar que sirve
ex26_load_dict_into_dataframe_and_sort()

    Nombre  Puntaje
1  Oswaldo       94
2     José       91
0   Javier       85

In [120]:
def ex27_groupby_mean_value():
    """Ejercicio 27:
    Dado un DataFrame con columnas 'Grupo' y 'Valor', calcula el promedio de 'Valor'
    por cada 'Grupo' usando groupby. 
    Retorna el DataFrame agrupado con promedios.
    """
    df = pd.DataFrame({
        'Grupo': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Valor': [3, 2, 5, 8, 1, 2]})
    return df.groupby('Grupo')['Valor'].mean().reset_index()
    # .groupby('Grupo') agrupa las filas por la columna 'Grupo'; 
    # ['Valor'].mean() calcula la media de la columna 'Valor' para cada grupo formado
    # .reset_index() deja a 'Grupo' como columna normal en vez de índice del resultado

# Comprobar que sirve
ex27_groupby_mean_value()

  Grupo  Valor
0     A    2.5
1     B    6.5
2     C    1.5

In [125]:
def ex28_most_sold_product_from_sales_df():
    """Ejercicio 28:
    Dado un DataFrame de ventas con columnas 'Producto' y 'Cantidad', determina cuál
    es el producto con la mayor suma total de 'Cantidad' (es decir, el más vendido).
    Retorna una tupla (Producto, Ventas).
    """
    df = pd.DataFrame({
        'Producto': ['Café', 'Café', 'Té', 'Matcha', 'Matcha', 'Matcha'],
        'Cantidad': [10, 5, 7, 9, 11, 3]})
    suma_cantidad = df.groupby('Producto')['Cantidad'].sum()
    return (suma_cantidad.idxmax(), suma_cantidad.max())
    # .idxmax() devuelve etiqueta de 'Producto' más vendido
    # .max() devuelve cantidad de 'Cantidad' máxima

# Comprobar que sirve
ex28_most_sold_product_from_sales_df()

('Matcha', np.int64(23))

In [ ]:
# -----------------------------
# 29-32: Lambdas y funciones anónimas
# -----------------------------

In [131]:
def ex29_map_lambda_cube(lst):
    """Ejercicio 29:
    Usa map junto con una función lambda para elevar al cubo cada número en una lista.
    Devuelve la lista resultante.
    """
    return list(map(lambda x: x**3, lst)) # map(func, iterable) aplica una función a cada elemento de in iterable (lista, tubla, etc.)

# Comprobar que sirve (para tupla y lista)
ex29_map_lambda_cube((1, 2, 3)), ex29_map_lambda_cube([5, 1, 9])

([1, 8, 27], [125, 1, 729])

In [134]:
def ex30_filter_lambda_even(lst):
    """Ejercicio 30:
    Usa filter y una lambda para quedarte sólo con los números pares de una lista.
    Devuelve la lista filtrada.
    """
    return list(filter(lambda x: x % 2 == 0, lst))

# Comprobar que sirve (para tupla y lista)
ex30_filter_lambda_even((2, 3, 4, 8)), ex30_filter_lambda_even([24, 7, 9, 11])

([2, 4, 8], [24])

In [143]:
def ex31_sort_list_of_dicts_by_key(lst, keyname):
    """Ejercicio 31:
    Dada una lista de diccionarios, ordénala por el valor asociado a 'keyname' usando
    sorted con una lambda. Devuelve la lista ordenada.
    """
    return sorted(lst, key = lambda x: x[keyname])

# Comprobar que sirve
ex31_sort_list_of_dicts_by_key([
    {'Candidato': 'Rojo', 'Votos': 34}, 
    {'Candidato': 'Azul', 'Votos': 12},
    {'Candidato': 'Amarillo', 'Votos': 72}], 'Votos')

[{'Candidato': 'Azul', 'Votos': 12},
 {'Candidato': 'Rojo', 'Votos': 34},
 {'Candidato': 'Amarillo', 'Votos': 72}]

In [142]:
def ex32_pandas_apply_lambda_uppercase(names_list):
    """Ejercicio 32:
    Crea un DataFrame con una columna 'Nombre' a partir de names_list y usa apply con
    una función lambda para crear una nueva columna con los nombres en mayúsculas.
    Devuelve el DataFrame modificado.
    """
    df = pd.DataFrame({'Nombre': names_list})
    df['NOMBRE'] = df['Nombre'].apply(lambda x: x.upper())
    return df

# Comprobar que sirve
ex32_pandas_apply_lambda_uppercase(['Anette', 'Paulina'])

    Nombre   NOMBRE
0   Anette   ANETTE
1  Paulina  PAULINA