In [26]:
import pandas as pd
import numpy as np

In [27]:
valores= [6,8,34,94,78]
indice= range(len(valores))

serie1=pd.Series(data=valores,index=indice)

In [28]:
pd.Series(valores,indice)

0     6
1     8
2    34
3    94
4    78
dtype: int64

In [29]:
valores2=[28,45,852,3,16]
serie2= pd.Series(index=indice,data=valores2)
serie2

0     28
1     45
2    852
3      3
4     16
dtype: int64

In [30]:
serie1+serie2

0     34
1     53
2    886
3     97
4     94
dtype: int64

In [31]:
serie1/serie2

0     0.214286
1     0.177778
2     0.039906
3    31.333333
4     4.875000
dtype: float64

In [32]:
serie1**serie2 #puntualmente las potencias negativas si se pueden hacer, pero en conjunto da error

0   -1823562080465190912
1                      0
2                      0
3                 830584
4    3945326505906733056
dtype: int64

In [33]:
array=np.random.normal(-10,10,size=[4,4]) # diferencia entre dataframe y arreglo
array

array([[-13.1075708 , -14.22480689,  -3.88254756, -13.43926269],
       [-25.40350706, -22.04113253, -16.93644815, -15.11202679],
       [-19.36917687,  -7.49925938,  -8.14000227,  -2.47349305],
       [ -9.57876995,  -9.59764492, -13.86705092,   6.49048784]])

In [34]:
pd.DataFrame([[2,3],[4,5]],index=['a','b'], columns= ['W','X']) # manera explicita

   W  X
a  2  3
b  4  5

In [40]:
# indices y columnas comienzan desde cero, manera implicita
df=pd.DataFrame(array,index=range(1,len(array)+1),columns=['W','X','Y','Z']) # para empezar con 1
df

           W          X          Y          Z
1 -13.107571 -14.224807  -3.882548 -13.439263
2 -25.403507 -22.041133 -16.936448 -15.112027
3 -19.369177  -7.499259  -8.140002  -2.473493
4  -9.578770  -9.597645 -13.867051   6.490488

In [42]:
type(df['X']) # UNA CLOUMNA

pandas.core.series.Series

In [43]:
type(df) #todas las columnas

pandas.core.frame.DataFrame

In [45]:
df['X'][2] #slicing

np.float64(-22.04113253467878)

In [48]:
df.X #puntito->metodo o propuiedades del objeto

1   -14.224807
2   -22.041133
3    -7.499259
4    -9.597645
Name: X, dtype: float64

In [49]:
df[['W','Y']] #filtrado del dataframe, el primer corchete para indicar slicing, segundo para listar columnas de tu interés

           W          Y
1 -13.107571  -3.882548
2 -25.403507 -16.936448
3 -19.369177  -8.140002
4  -9.578770 -13.867051

In [50]:
columnas=['W','Y']
df[[columnas]]

KeyError: "None of [Index([('W', 'Y')], dtype='object')] are in the [columns]"

In [51]:
df.X+df.Z

1   -27.664070
2   -37.153159
3    -9.972752
4    -3.107157
dtype: float64

In [52]:
# los datasframes son MUTABLES, agregar columnas
df['suma_X_Z']=df.X+df.Z
df

           W          X          Y          Z   suma_X_Z
1 -13.107571 -14.224807  -3.882548 -13.439263 -27.664070
2 -25.403507 -22.041133 -16.936448 -15.112027 -37.153159
3 -19.369177  -7.499259  -8.140002  -2.473493  -9.972752
4  -9.578770  -9.597645 -13.867051   6.490488  -3.107157

In [53]:
#borrar columnas, si le das dos veces te da error porque no puedes borrar algo que ya borraste
df.drop('Y',axis=1) # especificar que es una columna indicando el eje axis=1, axis= 0 paraborrar filas

           W          X          Z   suma_X_Z
1 -13.107571 -14.224807 -13.439263 -27.664070
2 -25.403507 -22.041133 -15.112027 -37.153159
3 -19.369177  -7.499259  -2.473493  -9.972752
4  -9.578770  -9.597645   6.490488  -3.107157

In [54]:
# si queremos que el borrado sea permanente
df.drop('Y',axis=1,inplace=True)

In [55]:
df.drop(3,axis=0)

           W          X          Z   suma_X_Z
1 -13.107571 -14.224807 -13.439263 -27.664070
2 -25.403507 -22.041133 -15.112027 -37.153159
4  -9.578770  -9.597645   6.490488  -3.107157

In [58]:
df.loc[1] #para acceder a las filas es mediante su localización

W          -13.107571
X          -14.224807
Z          -13.439263
suma_X_Z   -27.664070
Name: 1, dtype: float64

In [60]:
df.iloc[[0,2]] #slilcing con localización original

           W          X          Z   suma_X_Z
1 -13.107571 -14.224807 -13.439263 -27.664070
3 -19.369177  -7.499259  -2.473493  -9.972752

In [62]:
df.loc[[2,4],['X','suma_X_Z']]

           X   suma_X_Z
2 -22.041133 -37.153159
4  -9.597645  -3.107157