In [5]:
import pandas as pd
import numpy as np

In [6]:
experimento= { "sujeto": ["S01","S02","S03", "S01","S01","S02"],
               "sabor":["chocolate","piñon","queso","angel","vainilla","choco"],
               "precio":[45,105,30,60,85,120],
               "tamaño":["med","gra","ch","med","gra","ch"]}

In [7]:
dafra=pd.DataFrame(experimento)

In [11]:
dafra["activación"]= [True,True,False,False,True,True] #agregar columna
print(dafra)

  sujeto      sabor  precio tamaño  activación
0    S01  chocolate      45    med        True
1    S02      piñon     105    gra        True
2    S03      queso      30     ch       False
3    S01      angel      60    med       False
4    S01   vainilla      85    gra        True
5    S02      choco     120     ch        True

In [13]:
dafra.sujeto

0    S01
1    S02
2    S03
3    S01
4    S01
5    S02
Name: sujeto, dtype: object

In [15]:
dafra[dafra["sujeto"]== "S01"] #filtrado condicional a todas las filas que cumplen la condicion

  sujeto      sabor  precio tamaño  activación
0    S01  chocolate      45    med        True
3    S01      angel      60    med       False
4    S01   vainilla      85    gra        True

In [16]:
dafra[dafra["precio"]>100]

  sujeto  sabor  precio tamaño  activación
1    S02  piñon     105    gra        True
5    S02  choco     120     ch        True

In [19]:
por_sujeto=dafra.groupby(by="sujeto")
por_sujeto.describe(include="all")

       sabor                                                       ...  \
       count unique        top freq mean  std  min  25%  50%  75%  ...
sujeto                                                             ...
S01        3      3  chocolate    1  NaN  NaN  NaN  NaN  NaN  NaN  ...
S02        2      2      piñon    1  NaN  NaN  NaN  NaN  NaN  NaN  ...
S03        1      1      queso    1  NaN  NaN  NaN  NaN  NaN  NaN  ...

       activación
           unique    top freq mean  std  min  25%  50%  75%  max
sujeto
S01             2   True    2  NaN  NaN  NaN  NaN  NaN  NaN  NaN
S02             1   True    2  NaN  NaN  NaN  NaN  NaN  NaN  NaN
S03             1  False    1  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[3 rows x 44 columns]

In [2]:
tipos_sujetos= ["S"+ str(i).zfill(2)for i in range (4)]
generos=["M","F"]
condicion=["control","experimental"]
region=["hipocampo","PFC","amígdala"]
neurotransmisores=["dopamina","serotonina"]
#crear DF 200 filas
#las columnas que están arriba con distr normal
#agregar col llamada precisión con dstr normal y mu= 0.92 y sigma= 0.08
#se pretenden simular los datos de un estudio en el que se miden las var cognitivas y fisiológicas en
#dif regiones cerebrales sujetos y condiciones

In [7]:
df_neuro= pd.DataFrame(columns=( "tipos_sujetos", "generos", "condicion", "region", "neurotransmisores"), index= range(200))

In [8]:
df_neuro

    tipos_sujetos generos condicion region neurotransmisores
0             NaN     NaN       NaN    NaN               NaN
1             NaN     NaN       NaN    NaN               NaN
2             NaN     NaN       NaN    NaN               NaN
3             NaN     NaN       NaN    NaN               NaN
4             NaN     NaN       NaN    NaN               NaN
..            ...     ...       ...    ...               ...
195           NaN     NaN       NaN    NaN               NaN
196           NaN     NaN       NaN    NaN               NaN
197           NaN     NaN       NaN    NaN               NaN
198           NaN     NaN       NaN    NaN               NaN
199           NaN     NaN       NaN    NaN               NaN

[200 rows x 5 columns]

In [9]:
longitud= 200
entero= np.random.randint(0,4,size=longitud)
sujetos=["5"+str(i).zfill(2) for i in entero]

In [10]:
df_neuro["tipos_sujetos"]= sujetos

In [ ]:
ops_generos=np.random.randint(len(generos),size=longitud)
generos2= [generos[i] for i in ops_generos]