#  Tipos de datos:
-Númericos (enteros, flotantes(enteros con decimales), complejos)
-Strings(cadenas)
-Listas
- Tuplas
- Diccionarios

In [15]:
a = 10
b = 3.14
c = "Hola"
d = True
e = [1,2,3]
f = (4,5,6)
g = {1,2,3,2}
h = {"nombre":"Monce", "edad":19}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [23]:
x = 5       # int
y = 3.7     # float
s = "10"    # str
#Convierte x a float.

#Convierte y a int.

#Convierte s a int y luego a float.

In [35]:
float(x)
print (x)
int(y)
print(y)
v= int(s)
print(v)
float(v)

5
3.7
10

10.0

In [38]:
a = 5       # int
b = 2.5     # float
c = "3"     # str
#Suma a + b. ¿Qué tipo tiene el resultado?

#Convierte c a int y suma con a.

#Concatenar c como string con " años" → "3 años".

In [44]:
v= a+b
print(type(v))
print(int(c)+a)
str(c)+" 3 años"
print(str(c)+" años")

<class 'float'>
8
3 años

In [45]:
lista = [1,2,3,4]
tupla = (5,6,7)
conjunto = {1,2,2,3}
dic = {"nombre":"Monce","edad":19}
#Accede al segundo elemento de lista y tupla.

#Añade un elemento a lista y a conjunto.

#Cambia "edad" en dic a 20.

#Imprime todos los valores del diccionario.

In [71]:
print(lista[2])
print(tupla[2])
print(lista+[5])
dic["edad"] = 20
print("Diccionario actualizado:", dic)
print(dic.values())
print(dic.keys())

3
7
[1, 2, 3, 4, 5]
Diccionario actualizado: {'nombre': 'Monce', 'edad': 20}
dict_values(['Monce', 20])
dict_keys(['nombre', 'edad'])

In [73]:
numeros = [10, 20, 30, 40, 50, 60, 70]
#Ejercicios:

#Obtener los primeros 3 elementos.

#Obtener los últimos 2 elementos.

#Obtener elementos desde el índice 2 hasta el 5 (sin incluir el 5).

#Obtener todos los elementos de la lista de 2 en 2.

In [89]:
print(numeros[ :3])
print(numeros[ -2:])
print(numeros[2:5])
print(numeros[ :  : 2])

[10, 20, 30]
[60, 70]
[30, 40, 50]
[10, 30, 50, 70]

In [92]:
#️⃣ Slicing en strings
palabra = "Pythonista"
#Ejercicios:

#Obtener los primeros 6 caracteres.

#Obtener los últimos 4 caracteres.

#Obtener los caracteres del índice 2 al 6 (sin incluir el 6).

#Obtener la palabra al revés.

In [100]:
print(palabra[ :6])
print(palabra[-4: ])
print(palabra[ 2:6]) #recuerdaaaaaaa el 6 no lo ,muestra
print(palabra[ :  :-1])

Python
ista
thon
atsinohtyP

In [101]:
frase = "Python es muy divertido"
#Tareas:

#Extraer la palabra "Python".

#Extraer la palabra "divertido".

#Extraer "es muy" usando slicing.
#Dividir la frase en palabras.

#Voltear el orden de las palabras para que quede "divertido muy es Python".

#Voltear cada palabra individualmente y mantener el orden original: "nohtyP se yum oditrevid"

In [149]:
print(frase[ :6])
print(frase[-9:])
print(frase[7:13])
print(list(frase))
print(frase.split())
print((frase[-9:])+ frase[6:14]+frase[ :7] )
print(frase[ -1: :-1])

Python
divertido
es muy
['P', 'y', 't', 'h', 'o', 'n', ' ', 'e', 's', ' ', 'm', 'u', 'y', ' ', 'd', 'i', 'v', 'e', 'r', 't', 'i', 'd', 'o']
['Python', 'es', 'muy', 'divertido']
divertido es muy Python
oditrevid yum se nohtyP

In [171]:
v1="hola, deberías de dormir "

In [176]:
print((v1[ :18])+v1[-7:] + v1[8:9]+v1[-3:-2]+v1[8:9]+v1[-3:-2])

hola, deberías de dormir bibi

In [177]:
print("Hola mundo!")

Hola mundo!

In [178]:
var1= ("Hola mundo")
print(var1)

Hola mundo

In [180]:
#Escribir un programa que pregunte el nombre del usuario 
#en la consola y después de que el usuario lo introduzca 
#muestre por pantalla la cadena ¡Hola <nombre>!, donde <nombre> es 
#el nombre que el usuario haya introducido.
print("¿cómo te llamas?") ## no olvidar que print siempre se excribe 
entre parentesis
nombre=input()
print(f"Hola {nombre}")

¿cómo te llamas?

 monce

Hola monce

In [184]:
#Escribir un programa que muestre por pantalla el resultado de la 
#siguiente operación aritmética
var2= ((3+2)/(2*5))**2
print(var2)

0.25

In [191]:
#Escribir un programa que pregunte al usuario por el número de horas
#trabajadas y el coste por hora. 
#Después debe mostrar por pantalla la paga que le corresponde.
print("¿cuántas horas trabajas en un día?")
horas= float(input())
print("¿A cuánto te pagan la hora?")
pago= float(input())
sueldo= horas * pago
print(f"Esto te corresponde {sueldo}")

¿cuántas horas trabajas en un día?

 7.5

¿A cuánto te pagan la hora?

 24

Esto te corresponde 180.0

In [198]:
#Escribir un programa que lea un entero positivo, 
#introducido por el usuario y después muestre en pantalla la suma de 
#todos los enteros desde 1 hasta n
print("introduzca un numero entero")
n = int(input())## n es igual al input q se va convertir en estero
resultado= (n*(n+1))/2
print(f"la suma de los enteros del 1 hasta {n} es {resultado}")

introduzca un numero entero

 3

la suma de los enteros del 1 hasta 3 es 6.0

In [ ]:
print("introdusca su peso en kg")
Peso= (float(input()))
print("introduzca su estatura en metros")
Estatura= (float(input()))
imc=Peso*(Estatura**2)
print(f"tú indice de masa corporal es {imc}")

introdusca su peso en kg

 70

introduzca su estatura en metros