# 1. Tipos de datos

a) Declara tres variables con valores de tipo int y float y muestra sus tipos.

In [1]:
a = 3
b = 3.1416
type(a), type(b)

(int, float)

b) Evalúa bool() sobre: 0, "", [], {}, "Python", 1.

In [2]:
bool(0), bool(""), bool([]), bool({}), bool("Python"), bool(1) # 1 y strings siempre son True

(False, False, False, False, True, True)

c) Crea una variable x = 3.99 y conviértela en int y en str. ¿Qué cambia?

In [3]:
x = 3.99
int(x) # Un float convertido en int trunca el número decimal (no redondea)

3

In [4]:
str(x) # Un float convertido en str aparece entre comillas

'3.99'

## Convertir tipos de datos

a) Convierte "100" en entero y súmale 50.

In [37]:
# "100" es un string, no un entero per se
int("100")+50

150

b) Convierte 45 en string y concaténalo con " años".

In [38]:
str(45)+" años"

'45 años'

c) Convierte "Anette Solano" a lista y muestra solo las vocales.

In [39]:
lista = list("Anette Solano")
lista # Los espacios de un string también son elementos en una lista

['A', 'n', 'e', 't', 't', 'e', ' ', 'S', 'o', 'l', 'a', 'n', 'o']

In [40]:
for vocal in lista:
    if vocal in "aeiouAEIOU":
        print(vocal)

A
e
e
o
a
o

# 2. Operaciones matemáticas

a) Calcula el área de un rectángulo con base=12 y altura=8.

In [5]:
b = 12
h = 8
area = b*h
area

96

b) Calcula el perímetro de un círculo de radio 5 usando la fórmula 2*π*r (usa math.pi).

In [6]:
import math # Para importar math.pi
r = 5
perimetro = 2*math.pi*r
perimetro

31.41592653589793

c) Divide 100 entre 7 mostrando resultado con / y con //.

In [7]:
division_float = 100/7
division_int = 100//7
division_float, division_int # Es decir, / arroja un float, mientras que // arroja un int

(14.285714285714286, 14)

d) Calcula el módulo de dividir 37 entre 6.

In [8]:
37%6 # Esto equivale a: 37//6 = 6, luego 37-36 = 1 ← módulo

1

e) Da un ejemplo de potencia y de raíz cuadrada.

In [9]:
3**2, 16**(1/2)

(9, 4.0)

# 3. Strings

a) Declara palabra = "Python" y:
- Imprime la primera, tercera y última letra.
- Extrae "Pyt" y "hon".
- Inviértela.

In [10]:
string = "Python"
string[0], string[2], string[5] # Recuerda, inicia desde 0

('P', 't', 'n')

In [11]:
# Extra: simplemente para imprimir con un string que diga "Primera letra:"
print("Primera letra:", string[0])

Primera letra: P

In [12]:
string[:3], string[3:] 
# string[:3] → toma desde el inicio (índice 0) hasta el índice 3, sin incluirlo
# string[3:] → toma desde el índice 3 hasta el final, incluyéndolo

('Pyt', 'hon')

In [13]:
string[::-1] # Recordando el formato "string[inicio:fin:paso]" → inicio = ∅ (toma todo), final = ∅ (toma todo), paso = -1 (o sea, n)

'nohtyP'

b) Crea una frase "Aprender Python es genial" y:
- Cuenta cuántos caracteres tiene.
- Concatena "!!!" al final.
- Repite 3 veces la palabra "Python".

In [14]:
string = "Aprender Pyhton es genial"
len(string) # Cuenta caracteres con espacios

25

In [15]:
string+"!!!"

'Aprender Pyhton es genial!!!'

In [16]:
string[9:15]*3, string.split()[1]*3
# split() divide el string por espacios en blanco; [1] significa que toma la segunda palabra

('PyhtonPyhtonPyhton', 'PyhtonPyhtonPyhton')

In [17]:
# Si por ejemplo, tuviéramos...
string = "Aprender,Python,es,genial"
string.split(',')[1]*3 
# split(",") divide el string por comas

'PythonPythonPython'

# 4. Listas

a) Crea lista = [10,20,30,40] y:
- Cambia el valor 20 por 25.
- Agrega 50.
- Elimina el primer elemento.
- Muestra el último elemento.

In [18]:
lista = [10, 20, 30, 40]
lista[1] = 25
lista # En las listas, también el primer elemento es 0

[10, 25, 30, 40]

In [19]:
lista+[50]

[10, 25, 30, 40, 50]

In [20]:
del lista[0]
lista # Recuerda que lista = [10, 20, 30, 40]

[25, 30, 40]

In [21]:
lista[-1]

40

b) Declara nombres = ["Ana","Luis","Sofia"] y:
- Agrega "Pedro".
- Reemplaza "Luis" por "Lucas".
- Imprime cuántos nombres hay en la lista.

In [22]:
nombres = ["Ana", "Luis", "Sofia"]
nombres+["Pedro"]

['Ana', 'Luis', 'Sofia', 'Pedro']

In [23]:
nombres[1] = "Lucas"
nombres

['Ana', 'Lucas', 'Sofia']

In [24]:
len(nombres)

3

c) Declara una matriz [[1,2,3],[4,5,6],[7,8,9]] y:
- Muestra la segunda fila.
- Muestra el número 9.

In [25]:
matriz = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
matriz[1]

[4, 5, 6]

In [26]:
matriz[2][2] # Accede al segundo elemento "[7,8,9]" y luego al segundo elemento de este "9"

9

c) Crea una lista vacía.
- Ve agregando 5 números que ingrese el usuario.
- Ordena los números con sorted() (sin modificar la lista original).
- Calcula el promedio de los números.
- Imprime la lista original, la lista ordenada y el promedio.

In [100]:
numeros = [] # Almacena los números que ingrese el usuario

for i in range(5):
    num = float(input(f"Ingrese el número {i+1}: "))
    numeros.append(num) # Toma el valor de "num" y lo agrega al final de la lista "numeros"

numeros_ord = sorted(numeros)
numeros_prom = sum(numeros) / len(numeros)

print("Lista original:", numeros)
print("Lista ordenada:", numeros_ord)
print("Promedio:", numeros_prom)

Ingrese el número 1:  6
Ingrese el número 2:  12
Ingrese el número 3:  24
Ingrese el número 4:  8
Ingrese el número 5:  2

Lista original: [6.0, 12.0, 24.0, 8.0, 2.0]
Lista ordenada: [2.0, 6.0, 8.0, 12.0, 24.0]
Promedio: 10.4

d) Crea una lista llamada _matriz 3x3_ que contenga 3 listas, cada una con 3 números enteros.
- Imprime la diagonal principal.
- Intercambia la primera fila con la última.

In [120]:
matriz = [[1,0,0], [0,1,0], [0,0,1]]
diagonal = [matriz[0][0], matriz[1][1], matriz[2][2]] # matriz[elemento][subelemento]
diagonal

[1, 1, 1]

In [121]:
matriz[0], matriz[2] = matriz[2], matriz[0]
matriz

[[0, 0, 1], [0, 1, 0], [1, 0, 0]]

# 5. Tuplas

a) Declara t = (1,2,3,4) y:
- Muestra el primer y último valor.
- Concaténala con (5,6,7).
- Repite la tupla dos veces.

In [27]:
t = (1, 2, 3, 4)
t[0], t[-1], t[3] # Dos formas de mostrar el último valor

(1, 4, 4)

In [28]:
t+(5, 6, 7) # Aquí no es necesario poner [(5, 6, 7)]

(1, 2, 3, 4, 5, 6, 7)

In [29]:
t*2

(1, 2, 3, 4, 1, 2, 3, 4)

b) Usa una tupla para guardar las coordenadas de un punto (x,y) y muéstralas.

In [30]:
coordenadas = (3,5)
coordenadas[0], coordenadas[1]

(3, 5)

# 6. Diccionarios

a) Declara alumno = {"nombre":"Ana","edad":20,"curso":"Python"} y:
- Cambia la edad a 21.
- Agrega la clave "nota": 9.5.
- Elimina "curso".
- Muestra solo las llaves y solo los valores.

In [31]:
alumno = {"Nombre": "Ana", "Edad": 20, "Curso": "Python"}
alumno["Edad"] = 21
alumno

{'Nombre': 'Ana', 'Edad': 21, 'Curso': 'Python'}

In [32]:
alumno["Nota"] = 9.5
alumno # Para añadir claves en un diccionario, es muy diferente a como se hace en listas [] y tuplas ()

{'Nombre': 'Ana', 'Edad': 21, 'Curso': 'Python', 'Nota': 9.5}

In [33]:
del alumno["Curso"]
alumno

{'Nombre': 'Ana', 'Edad': 21, 'Nota': 9.5}

In [34]:
alumno.keys(), alumno.values()

(dict_keys(['Nombre', 'Edad', 'Nota']), dict_values(['Ana', 21, 9.5]))

b) Declara un diccionario vacío y agrega las claves usuario, contraseña, correo.

In [35]:
datos = {}
datos

{}

In [36]:
datos["Usuario"] = "apgsolano"
datos["Contraseña"] = 2003
datos["Correo"] = "a.p.g.solano@gmail.com"
print(datos)
# Aquí cada clave nueva tiene que ir en un renglón diferente, no añadas comas
# print() te arroja los resultados en fila, mientras que datos te los arroja en 3 renglones, elige como tú prefieras

{'Usuario': 'apgsolano', 'Contraseña': 2003, 'Correo': 'a.p.g.solano@gmail.com'}

# 7. Control de flujo

¿Cuándo usar...?
- if → Decidir una sola vez (sí o no).
- for → Repetir con un número fijo de vueltas (lista, texto, rango).
- while → Repetir mientras la condición siga siendo True.

a) Pide al usuario un número y determina si es par o impar.

In [41]:
numero = int(input("Ingresa un número: ")) # Lo que el usuario escribe, se guarda como string → int → se guarda en variable "numero"
    
if numero % 2 == 0: # == significa "igual a", si el número dividido entre 2 tiene módulo 0, entonces es par
    print(f"{numero} es par")
else:
    print(f"{numero} es impar")

Ingresa un número:  45

45 es impar

b) Pide dos números reales y muestra cuál es mayor o si son iguales.

In [42]:
num1 = input("Ingresa un número: ")
num2 = input("Ingresa otro número: ")

if num1 > num2:
    print(f"{num1} es mayor que {num2}")
elif num2 > num1:
    print(f"{num2} es mayor que {num1}")
else: 
    print(f"{num1} es igual que {num2}")

Ingresa un número:  23
Ingresa otro número:  27

27 es mayor que 23

c) Con un for, imprime la tabla de multiplicar del 5.

In [43]:
for i in range(1,11): # range() no incluye el último número, por eso ponemos 11 y no 10
    print(f"5 x {i} = {5 * i}") # En un f-string, {} sirve para poner una variable o cálculo dentro de un texto. Python reemplaza lo que hay dentro de {} por su valor

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

d) Con un while, imprime los números del 1 al 20, pero solo los múltiplos de 3.

In [46]:
n = 1 # Inicia en 1
while n <= 20: # El bucle se ejecuta mientras n sea menor o igual a 20
    if n % 3 == 0: # Si el módulo de n entre 3 es 0, significa que n es múltiplo de 3
        print(n)
    n += 1 # Aumenta n en 1 en cada vuelta, evitando que el bucle sea infinito

# Si la condición de while siempre es True, el bucle nunca termina
# Cuando n llega a 21, la condición n <= 20 se vuelve False y el bucle termina

3
6
9
12
15
18

e) Crea un programa que sume los números del 1 al 100.

In [58]:
suma = 0 # Acumulador (guarda la suma parcial mientras recorremos i)
for i in range(1, 101):
    suma += i
    print(suma) # print() dentro del bucle muestra la suma parcial en cada vuelta

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [61]:
print(suma) # print() fuera del bucle muestra el total

5050

La ubicación de _print()_  determina qué se muestra y cuándo.
- Indentación dentro del bucle → imprime cada paso.
- Indentación fuera del bucle → imprime el resultado final.

f) Comprueba si un número ingresado por el usuario es mayor que 18 y menor que 30.

In [78]:
numero = float(input("Ingresa un número: ")) # float() convierte el input() del usuario en número real
if numero > 18 and numero < 30:
    print("True")
else:
    print("False")

Ingresa un número:  24.5

True

g) Verifica si un número ingresado es divisible por 2 o por 5.

In [88]:
numero = int(input("Ingresa un número entero:"))
if numero % 2 == 0 and numero % 5 == 0:
    print(f"{numero} es divisible entre 2 y 5")
elif numero % 2 == 0:
    print(f"{numero} es divisible entre 2")
elif numero % 5 == 0:
    print(f"{numero} es divisible entre 5")
else:
    print(f"{numero} no es divisible entre 2 ni 5")

Ingresa un número entero: 10

10 es divisible entre 2 y 5

In [90]:
# Otra forma que se me ocurre utilizando or es...
numero = int(input("Ingresa un número entero:"))
if numero % 2 == 0 or numero % 5 == 0:
    print(f"{numero} es divisible entre 2, 5 o ambos")
else:
    print(f"{numero} no es divisible entre 2 o 5")

Ingresa un número entero: 13

13 no es divisible entre 2 o 5

# 8. Built-in functions