In [23]:
import pandas as pd
import numpy as np

In [28]:

experimento = {
    'sujeto' : ['S01', 'S02', 'S03', 'S02', 'S01', 'S01', 'S02'],
    'sabor' : ['choco', 'piñon', 'queso', 'chango', 'choco', 'queso', 'angel'],
    'precio' : [45, 105, 30, 60, 65, 85, 120],
    'tamaño' : ['m', 'g', 'ch', 'ch', 'g', 'm', 'g']
}

In [5]:
experimento

{'sujeto': ['S01', 'SO2', 'S03', 'S02', 'S01', 'S01', 'S02'],
 'sabor': ['choco', 'piñon', 'queso', 'chango', 'choco', 'queso', 'angel'],
 'precio': [45, 105, 30, 60, 85, 120],
 'tamaño': ['m', 'g', 'ch', 'ch', 'g', 'm', 'g']}

In [29]:
df=pd.DataFrame(experimento)
df

  sujeto   sabor  precio tamaño
0    S01   choco      45      m
1    S02   piñon     105      g
2    S03   queso      30     ch
3    S02  chango      60     ch
4    S01   choco      65      g
5    S01   queso      85      m
6    S02   angel     120      g

In [30]:
df['activación']=[True, True, False, False, True, True, False] #Asi se agregan columnas 
df

  sujeto   sabor  precio tamaño  activación
0    S01   choco      45      m        True
1    S02   piñon     105      g        True
2    S03   queso      30     ch       False
3    S02  chango      60     ch       False
4    S01   choco      65      g        True
5    S01   queso      85      m        True
6    S02   angel     120      g       False

In [31]:
df[ df['precio']>100 ]

  sujeto  sabor  precio tamaño  activación
1    S02  piñon     105      g        True
6    S02  angel     120      g       False

In [32]:
df[ df['sujeto'] == 'S01' ]

  sujeto  sabor  precio tamaño  activación
0    S01  choco      45      m        True
4    S01  choco      65      g        True
5    S01  queso      85      m        True

In [33]:
df[ df['sujeto'] == 'S02' ]

  sujeto   sabor  precio tamaño  activación
1    S02   piñon     105      g        True
3    S02  chango      60     ch       False
6    S02   angel     120      g       False

In [34]:
df[ df['sujeto'] == 'S03' ]

  sujeto  sabor  precio tamaño  activación
2    S03  queso      30     ch       False

In [35]:
df.groupby(by='sujeto')

In [37]:
df_por_sujeto = df.groupby(by='sujeto')
df_por_sujeto.describe(include= 'all')

       sabor                                                   ... activación  \
       count unique    top freq mean  std  min  25%  50%  75%  ...     unique
sujeto                                                         ...
S01        3      2  choco    2  NaN  NaN  NaN  NaN  NaN  NaN  ...          1
S02        3      3  piñon    1  NaN  NaN  NaN  NaN  NaN  NaN  ...          2
S03        1      1  queso    1  NaN  NaN  NaN  NaN  NaN  NaN  ...          1


          top freq mean  std  min  25%  50%  75%  max
sujeto
S01      True    3  NaN  NaN  NaN  NaN  NaN  NaN  NaN
S02     False    2  NaN  NaN  NaN  NaN  NaN  NaN  NaN
S03     False    1  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[3 rows x 44 columns]

In [40]:
df.describe(include='all')

       sujeto  sabor      precio tamaño activación
count       7      7    7.000000      7          7
unique      3      5         NaN      3          2
top       S01  choco         NaN      g       True
freq        3      2         NaN      3          4
mean      NaN    NaN   72.857143    NaN        NaN
std       NaN    NaN   32.256413    NaN        NaN
min       NaN    NaN   30.000000    NaN        NaN
25%       NaN    NaN   52.500000    NaN        NaN
50%       NaN    NaN   65.000000    NaN        NaN
75%       NaN    NaN   95.000000    NaN        NaN
max       NaN    NaN  120.000000    NaN        NaN

In [71]:
tipos_sujetos = ['S'+ str(i).zfill(2) for i in range(4)] #str(3).zfill(2) nos va a a arrojar 02, ya que pone en la posición dos el valor  3
generos=['M', 'F'],
condición= ['control', 'experimental']
region= ['hipocampo', 'cortex prefrontal', 'amigdala']
neurotransmisores= ['dopamina', 'serotonina']


#Crear un dataframe de 200 filas
#Con las columnas: tipos_sujetos, condición, region, neurotransmisor;
#Estas columnas deben tener una distribución uniforme 
#agregar una columna llamada 'presición' que tenga una distribución normal con mu=0.92, sigma=0.08
#Este Dataset pretende simular los resultados de un estudio en el que se miden variables cognitivas y 
#fisiológicas en diferentes regiones cerebrales, sujetos y condiciones experimentales

In [70]:
tipos_sujetos = ['S'+ str(i).zfill(2) for i in range(4)]

longitud= 2
enteros= np.random.randint(0,4, size=longitud)
sujetos= ['S'+ str(i).zfill(2) for i in enteros]
sujetos

['S01', 'S01']

In [69]:
tipos_sujetos = ['S'+ str(i).zfill(2) for i in range(4)]
longitud= 2
ops_sujetos= np.random.randint(len(tipos_sujetos), size=longitud)
sujetos2= [tipos_sujetos[i].zfill(2) for i in ops_sujetos]
sujetos2

['S03', 'S01']

In [68]:
generos=['M', 'F']
longitud= 2
ops_generos= np.random.randint(len(generos), size=longitud)
generos2= [generos[i] for i in ops_generos]
generos2

['F', 'M']

In [67]:
condición= ['control', 'experimental']
longitud= 2
ops_condición= np.random.randint(len(condición), size=longitud)
condición2= [condición[i] for i in ops_condición]
condición2

['experimental', 'experimental']

In [66]:
region= ['hipocampo', 'cortex prefrontal', 'amigdala']
longitud= 20
ops_region= np.random.randint(len(region), size=longitud)
region2= [region[i] for i in ops_region]
region2

['amigdala',
 'cortex prefrontal',
 'hipocampo',
 'cortex prefrontal',
 'hipocampo',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'hipocampo',
 'cortex prefrontal',
 'amigdala',
 'cortex prefrontal',
 'hipocampo',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo']

In [65]:
neurotransmisores= ['dopamina', 'serotonina']
longitud= 20
ops_neurotransmisores= np.random.randint(len(neurotransmisores), size=longitud)
neurotransmisores2= [neurotransmisores[i] for i in ops_neurotransmisores]
neurotransmisores2

['dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'serotonina',
 'dopamina',
 'serotonina',
 'dopamina',
 'serotonina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina']

In [74]:
variables =[sujetos2,generos2, condición2, region2, neurotransmisores2]
data= []

for variable in variables:
    opciones=np.random.randint(len(variable), size=longitud)
    data.append([variable[i] for i in opciones])

df= pd.DataFrame(data).transpose()
df.columns= ['sujeto', 'genero', 'condicion', 'region', 'neuro']
df['presición']= np.random.normal(loc=0.92, scale=0.08, size=longitud) #Agregar una nueva columna
df

  sujeto genero     condicion             region     neuro  presición
0    S01      M  experimental  cortex prefrontal  dopamina   0.933076
1    S03      F  experimental  cortex prefrontal  dopamina   0.960015

In [59]:
import matplotlib.pyplot as plt

In [ ]:
#generar el histograma de cuantos datos por sujeto se tienen
#Mostrar en un histograma la proporción de neurotransmisor

In [64]:
plt.hist(df[''], color='tab:blue', alpha=0.5);

KeyError: 'variables'

In [ ]:
# para cada sujeto, asacar la proporción del tipo de condición
#para cada sujeto, clacule el maximo, el mínimo, y la media de su presición
#para cada condición, hacer el histograma de las regiones activadas

#hacerlo mediante 2 metodos filtrado de dataframes y usando groupby