# Concatenar de DataFrames- juntar, unir o fusionar datos en un solo DataFrame
Existen 3 formas de concatenar:
- Concat(concatenar)
- Merge(fusionar)
- Join(unir)

# Concat
Se centra en base de datos comúnes (tienen las mismas columnas) y se tienen que juntar esas filas

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp311-cp311-win_amd64.whl (11.3 MB)
     --------------------------------------- 11.3/11.3 MB 16.4 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.23.2 in c:\users\v304-23\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\v304-23\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
     ------------------------------------- 509.2/509.2 kB 10.6 MB/s eta 0:00:00
Collecting tzdata>=2022.7
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
     ------------------------------------- 347.8/347.8 kB 10.5 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\v304-23\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.3.3 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip available: 22.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [11]:
df1 = pd.DataFrame( {"A": ["1A", "2A"], "B": ["1B", "2B"], "C": ["1C", "2C"], "K":["1K", "2K"]})
df2= pd.DataFrame( {"A": ["6A", "7A", "8A"], "B": ["6B", "7B", "8B"], "C":["6C", "7C", "8C"]})  #Creamos un diccionario (con las llaves)
df1

    A   B   C   K
0  1A  1B  1C  1K
1  2A  2B  2C  2K

In [5]:
df2

    A   B   C
0  6A  6B  6C
1  7A  7B  7C
2  8A  8B  8C

In [12]:
pd.concat([df1, df2], ignore_index=True) #une los dos dataframes y además si ponemos True no nos va a aparecer los subíndices anteriores

    A   B   C    K
0  1A  1B  1C   1K
1  2A  2B  2C   2K
2  6A  6B  6C  NaN
3  7A  7B  7C  NaN
4  8A  8B  8C  NaN

# Merge
Se encarga de fusionar diferentes DataFrames a partir de una columna (clave) en común

In [21]:
df1 = pd.DataFrame( {"A": ["1A", "2A"], "B": ["1B", "2B"]})
df2= pd.DataFrame( {"A": ["1A", "2A"], "C": ["1C", "2C"], "K":["1K", "2K"]})  #Creamos un diccionario (con las llaves)
df1

    A   B
0  1A  1B
1  2A  2B

In [15]:
df2

    A   C   K
0  1A  1C  1K
1  2A  2C  2K

In [17]:
pd.merge(df1,df2, on=["A"])  #lo fusiona de forma horizontal

    A   B   C   K
0  1A  1B  1C  1K
1  2A  2B  2C  2K

In [28]:
df1 = pd.DataFrame( {"A": ["1A", "2A", "3A"], "B": ["1B", "2B","3B"]})
df2= pd.DataFrame( {"A": ["5A", "6A"], "C": ["1C", "2C"], "K":["1K", "2K"]})  #Creamos un diccionario (con las llaves)

In [29]:
pd.merge(df1, df2, on=["A"], how="outer") #Se agarra todo el conjunto (diagrama de Venn)

    A    B    C    K
0  1A   1B  NaN  NaN
1  2A   2B  NaN  NaN
2  3A   3B  NaN  NaN
3  5A  NaN   1C   1K
4  6A  NaN   2C   2K

In [30]:
pd.merge(df1, df2, on=["A"], how="inner")  #No hay conjunto (o valores iguales)

Empty DataFrame
Columns: [A, B, C, K]
Index: []

In [33]:
pd.merge(df1, df2, on=["A"], how="left") #Solo se enfocan del lado izquierdo

    A   B    C    K
0  1A  1B  NaN  NaN
1  2A  2B  NaN  NaN
2  3A  3B  NaN  NaN

# Join

Combinar las columnas de dos DataFrames indexados

In [34]:
df1 = pd.DataFrame( {"Z": ["1A", "2A", "3A"], "B": ["1B", "2B", "3B"]}, index=["i1", "i2", "i3"])
df2= pd.DataFrame( {"A": ["5A", "6A"], "C": ["1C", "2C"], "K":["1K", "2K"]}, index=["i1", "i2"])  #Une todos los índices, los últimos NaN es que no tienen datos porque no hay "i3" en el dataframe 2
df1.join(df2)

     Z   B    A    C    K
i1  1A  1B   5A   1C   1K
i2  2A  2B   6A   2C   2K
i3  3A  3B  NaN  NaN  NaN

# Entradas y salidas

In [ ]:
# poner el dataframe a un fichero

In [35]:
df3 = df1.join(df2)
df3

     Z   B    A    C    K
i1  1A  1B   5A   1C   1K
i2  2A  2B   6A   2C   2K
i3  3A  3B  NaN  NaN  NaN

In [39]:
df3.to_csv("nombre.csv", index=False) #Se guardó en excel en csv de nuestra carpeta y no aparecen los índices por el False