In [1]:
import pandas as pd
import numpy as np

experimento ={
    'sujeto': ['S01', 'S02', 'S03', 'S02', 'S01', 'S01', 'S02'],
    'sabor':['choco', 'piñon', 'queso', 'chango', 'choco', 'queso', 'angel'],
    'precio' : [45, 105, 30, 60, 85, 45, 120],
    'tamaño' :['m', 'g', 'ch', 'ch', 'g', 'm', 'g'],
}

In [3]:
experimento

{'sujeto': ['S01', 'S02', 'S03', 'S02', 'S01', 'S01', 'S02'],
 'sabor': ['choco', 'piñon', 'queso', 'chango', 'choco', 'queso', 'angel'],
 'precio': [45, 105, 30, 60, 85, 45, 120],
 'tamaño': ['m', 'g', 'ch', 'ch', 'g', 'm', 'g']}

In [5]:
df = pd.DataFrame(experimento)

In [6]:
df

  sujeto   sabor  precio tamaño
0    S01   choco      45      m
1    S02   piñon     105      g
2    S03   queso      30     ch
3    S02  chango      60     ch
4    S01   choco      85      g
5    S01   queso      45      m
6    S02   angel     120      g

In [9]:
df['activacion'] = [True, True, False, False, True, True, False]
df

  sujeto   sabor  precio tamaño  activacion
0    S01   choco      45      m        True
1    S02   piñon     105      g        True
2    S03   queso      30     ch       False
3    S02  chango      60     ch       False
4    S01   choco      85      g        True
5    S01   queso      45      m        True
6    S02   angel     120      g       False

## agrupamiento de los datos

In [10]:
df.sujeto

0    S01
1    S02
2    S03
3    S02
4    S01
5    S01
6    S02
Name: sujeto, dtype: object

In [11]:
df[df['precio']>100]

  sujeto  sabor  precio tamaño  activacion
1    S02  piñon     105      g        True
6    S02  angel     120      g       False

In [13]:
df[df['sujeto']=='S01']

  sujeto  sabor  precio tamaño  activacion
0    S01  choco      45      m        True
4    S01  choco      85      g        True
5    S01  queso      45      m        True

In [14]:
df[df['sabor']=='choco']

  sujeto  sabor  precio tamaño  activacion
0    S01  choco      45      m        True
4    S01  choco      85      g        True

###### Para hacerlo de forma mas automatica -> groupby

In [15]:
df.groupby( by= 'sujeto')

In [18]:
df_por_sujeto= df.groupby(by='sujeto')
df_por_sujeto.describe() #hace una version estadistica del dataframe

       precio
        count       mean        std   min   25%    50%    75%    max
sujeto
S01       3.0  58.333333  23.094011  45.0  45.0   45.0   65.0   85.0
S02       3.0  95.000000  31.224990  60.0  82.5  105.0  112.5  120.0
S03       1.0  30.000000        NaN  30.0  30.0   30.0   30.0   30.0

In [19]:
df

  sujeto   sabor  precio tamaño  activacion
0    S01   choco      45      m        True
1    S02   piñon     105      g        True
2    S03   queso      30     ch       False
3    S02  chango      60     ch       False
4    S01   choco      85      g        True
5    S01   queso      45      m        True
6    S02   angel     120      g       False

In [20]:
df_por_sujeto.describe(include='all')

       sabor                                                   ... activacion  \
       count unique    top freq mean  std  min  25%  50%  75%  ...     unique
sujeto                                                         ...
S01        3      2  choco    2  NaN  NaN  NaN  NaN  NaN  NaN  ...          1
S02        3      3  piñon    1  NaN  NaN  NaN  NaN  NaN  NaN  ...          2
S03        1      1  queso    1  NaN  NaN  NaN  NaN  NaN  NaN  ...          1


          top freq mean  std  min  25%  50%  75%  max
sujeto
S01      True    3  NaN  NaN  NaN  NaN  NaN  NaN  NaN
S02     False    2  NaN  NaN  NaN  NaN  NaN  NaN  NaN
S03     False    1  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[3 rows x 44 columns]

In [21]:
df.describe(include='all')

       sujeto  sabor     precio tamaño activacion
count       7      7    7.00000      7          7
unique      3      5        NaN      3          2
top       S01  choco        NaN      g       True
freq        3      2        NaN      3          4
mean      NaN    NaN   70.00000    NaN        NaN
std       NaN    NaN   33.91165    NaN        NaN
min       NaN    NaN   30.00000    NaN        NaN
25%       NaN    NaN   45.00000    NaN        NaN
50%       NaN    NaN   60.00000    NaN        NaN
75%       NaN    NaN   95.00000    NaN        NaN
max       NaN    NaN  120.00000    NaN        NaN

In [22]:
tipos_sujetos =['S'+str(i).zfill(2) for i in range(4)]
generos = ['M', 'F']
condicion = ['control', 'experimental']
region = ['hipocampo', 'cortex prefrontal', 'amigdala']
neurotransmisor = ['dopamina', 'serotonina']

#Crear un DataFrame de 200 fila
# con las columnas : tipos_sujetos, generos, condicion, region, neurotransmisor
# estas columnas dben tener uns distribucion uniforme
# agregar una columns llamada "precision" que tenga uns distribucion normal con mu=0.92, sigma=0.08
#ESta dataset pretende simular los resultados de un estyudio en el que se miden variables cognitivas
# y fisiologicas en diferentes regiones cerbrales, sujetos y condiciones experimentales

In [27]:
str(6).zfill(5)

'00006'

In [35]:
tipos_sujetos=['S'+str(i).zfill(2) for i in range(4)]
longitud = 200
enteros = np.random.randint(0,4, size=longitud)
sujetos= ['S'+str(i).zfill(2) for i in enteros]
sujetos

['S00',
 'S00',
 'S01',
 'S00',
 'S00',
 'S00',
 'S02',
 'S01',
 'S02',
 'S01',
 'S03',
 'S00',
 'S00',
 'S01',
 'S01',
 'S01',
 'S00',
 'S03',
 'S01',
 'S03',
 'S02',
 'S02',
 'S01',
 'S00',
 'S03',
 'S02',
 'S00',
 'S01',
 'S01',
 'S01',
 'S00',
 'S02',
 'S01',
 'S00',
 'S00',
 'S00',
 'S00',
 'S02',
 'S00',
 'S03',
 'S01',
 'S01',
 'S00',
 'S02',
 'S01',
 'S02',
 'S02',
 'S01',
 'S03',
 'S02',
 'S01',
 'S03',
 'S02',
 'S03',
 'S03',
 'S01',
 'S02',
 'S01',
 'S01',
 'S02',
 'S00',
 'S01',
 'S01',
 'S01',
 'S02',
 'S03',
 'S03',
 'S03',
 'S03',
 'S02',
 'S00',
 'S03',
 'S00',
 'S01',
 'S01',
 'S03',
 'S01',
 'S00',
 'S02',
 'S02',
 'S03',
 'S01',
 'S03',
 'S01',
 'S00',
 'S02',
 'S01',
 'S03',
 'S03',
 'S01',
 'S02',
 'S01',
 'S02',
 'S03',
 'S03',
 'S01',
 'S03',
 'S02',
 'S00',
 'S03',
 'S01',
 'S03',
 'S03',
 'S02',
 'S03',
 'S02',
 'S00',
 'S01',
 'S02',
 'S02',
 'S02',
 'S02',
 'S03',
 'S01',
 'S01',
 'S00',
 'S00',
 'S02',
 'S03',
 'S00',
 'S00',
 'S02',
 'S01',
 'S00',
 'S03',
 'S02',
 'S01',
 'S02',
 'S02',
 'S00',
 'S02',
 'S02',
 'S03',
 'S02',
 'S01',
 'S01',
 'S00',
 'S00',
 'S03',
 'S02',
 'S02',
 'S03',
 'S03',
 'S02',
 'S01',
 'S02',
 'S02',
 'S00',
 'S03',
 'S03',
 'S00',
 'S00',
 'S00',
 'S00',
 'S01',
 'S01',
 'S00',
 'S00',
 'S03',
 'S03',
 'S01',
 'S01',
 'S03',
 'S01',
 'S00',
 'S01',
 'S03',
 'S01',
 'S02',
 'S01',
 'S01',
 'S02',
 'S02',
 'S01',
 'S03',
 'S00',
 'S02',
 'S03',
 'S03',
 'S02',
 'S00',
 'S02',
 'S00',
 'S01',
 'S02',
 'S02',
 'S03',
 'S03',
 'S01',
 'S03',
 'S02',
 'S02',
 'S02',
 'S01',
 'S01',
 'S01',
 'S02',
 'S00',
 'S00',
 'S00']

In [39]:
tipos_sujetos=['S'+str(i).zfill(2) for i in range(4)]
longitud = 200
ops_sujetos = np.random.randint(len(tipos_sujetos), size=longitud)
sujetos2=['S'+str(tipos_sujetos[i]).zfill(2) for i in ops_sujetos]
sujetos2

['SS02',
 'SS02',
 'SS03',
 'SS00',
 'SS00',
 'SS03',
 'SS02',
 'SS00',
 'SS02',
 'SS00',
 'SS01',
 'SS03',
 'SS02',
 'SS02',
 'SS01',
 'SS02',
 'SS00',
 'SS03',
 'SS00',
 'SS02',
 'SS01',
 'SS01',
 'SS03',
 'SS01',
 'SS02',
 'SS02',
 'SS03',
 'SS00',
 'SS03',
 'SS03',
 'SS00',
 'SS02',
 'SS02',
 'SS03',
 'SS01',
 'SS03',
 'SS01',
 'SS00',
 'SS01',
 'SS01',
 'SS03',
 'SS03',
 'SS01',
 'SS03',
 'SS00',
 'SS01',
 'SS00',
 'SS02',
 'SS01',
 'SS03',
 'SS00',
 'SS00',
 'SS00',
 'SS03',
 'SS00',
 'SS00',
 'SS01',
 'SS01',
 'SS03',
 'SS02',
 'SS01',
 'SS02',
 'SS01',
 'SS00',
 'SS01',
 'SS03',
 'SS03',
 'SS03',
 'SS00',
 'SS01',
 'SS03',
 'SS00',
 'SS01',
 'SS02',
 'SS00',
 'SS02',
 'SS03',
 'SS01',
 'SS00',
 'SS00',
 'SS01',
 'SS02',
 'SS01',
 'SS01',
 'SS00',
 'SS02',
 'SS02',
 'SS03',
 'SS03',
 'SS02',
 'SS00',
 'SS00',
 'SS01',
 'SS00',
 'SS03',
 'SS01',
 'SS01',
 'SS00',
 'SS02',
 'SS03',
 'SS00',
 'SS03',
 'SS00',
 'SS01',
 'SS01',
 'SS01',
 'SS02',
 'SS02',
 'SS01',
 'SS03',
 'SS00',
 'SS02',
 'SS01',
 'SS03',
 'SS01',
 'SS00',
 'SS01',
 'SS02',
 'SS03',
 'SS00',
 'SS03',
 'SS00',
 'SS00',
 'SS02',
 'SS03',
 'SS02',
 'SS01',
 'SS01',
 'SS02',
 'SS02',
 'SS00',
 'SS01',
 'SS01',
 'SS01',
 'SS00',
 'SS03',
 'SS01',
 'SS03',
 'SS02',
 'SS02',
 'SS01',
 'SS00',
 'SS02',
 'SS03',
 'SS00',
 'SS02',
 'SS00',
 'SS03',
 'SS00',
 'SS00',
 'SS02',
 'SS00',
 'SS02',
 'SS00',
 'SS03',
 'SS01',
 'SS00',
 'SS02',
 'SS01',
 'SS02',
 'SS03',
 'SS03',
 'SS02',
 'SS03',
 'SS03',
 'SS03',
 'SS02',
 'SS01',
 'SS01',
 'SS00',
 'SS03',
 'SS02',
 'SS01',
 'SS00',
 'SS00',
 'SS03',
 'SS00',
 'SS00',
 'SS00',
 'SS01',
 'SS03',
 'SS01',
 'SS03',
 'SS02',
 'SS00',
 'SS03',
 'SS00',
 'SS03',
 'SS02',
 'SS01',
 'SS03',
 'SS00',
 'SS02',
 'SS01',
 'SS02',
 'SS03',
 'SS00',
 'SS00',
 'SS00',
 'SS00']

In [40]:
#generar un histograma de cuantos datos por sujeto se tiene
#mostar en un histograma la proporcion de neurotransmisores

In [44]:
generos =['M', 'F']
longitud=200
ops_generos =  np.random.randint(len(generos), size=longitud)
gen=[]
for x in ops_generos:
    if x ==0:
        gen.append('M')
    else:
        gen.append('F')
gen

['F',
 'M',
 'M',
 'F',
 'M',
 'F',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'M',
 'M',
 'F',
 'M',
 'M',
 'M',
 'M',
 'F',
 'M',
 'M',
 'M',
 'M',
 'F',
 'M',
 'F',
 'F',
 'M',
 'M',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'M',
 'M',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F',
 'F',
 'M',
 'M',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F',
 'F',
 'M',
 'M',
 'F',
 'F',
 'M',
 'F',
 'F',
 'M',
 'F',
 'F',
 'M',
 'F',
 'M',
 'F',
 'F',
 'F',
 'M',
 'F',
 'M',
 'F',
 'F',
 'M',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'M',
 'M',
 'M',
 'F',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F',
 'M',
 'M',
 'F',
 'F',
 'M',
 'M',
 'M',
 'F',
 'F',
 'M',
 'F',
 'M',
 'M',
 'M',
 'F',
 'F',
 'M',
 'M',
 'F',
 'M',
 'M',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'M',
 'F',
 'M',
 'M',
 'F',
 'M',
 'F',
 'M',
 'F',
 'F',
 'F',
 'M',
 'F',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'M',
 'M',
 'F',
 'M',
 'M',
 'F',
 'F',
 'M',
 'M',
 'M',
 'M',
 'F',
 'M',
 'F',
 'F',
 'F',
 'M',
 'M',
 'F',
 'M',
 'M',
 'M',
 'F',
 'M',
 'M',
 'F',
 'M',
 'M',
 'M',
 'M',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'M',
 'M',
 'F',
 'M',
 'F',
 'F',
 'F',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F']

In [46]:
neurotransmisor = ['dopamina', 'serotonina']
lonngitud = 200
ops_neurotransmisores = np.random.randint(len(neurotransmisor), size=longitud)
lista_neurotransmisores =[neurotransmisor[i] for i in ops_neurotransmisores]
lista_neurotransmisores

['serotonina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'dopamina',
 'serotonina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'serotonina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'serotonina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina']

In [47]:
condicion = ['control', 'experimental']
longitud = 200
ops_condicion = np.random.randint(len(condicion), size=longitud)
lista_condicion= [condicion[i] for i in ops_condicion]
lista_condicion

['experimental',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'control',
 'control',
 'control',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'control',
 'control',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'control',
 'control',
 'control',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'control',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'control',
 'control',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'control',
 'control',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'control',
 'control',
 'control',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'experimental']

In [48]:
region = ['hipocampo', 'cortex prefrontal', 'amigdala']
longitud= 200
ops_region = np.random.randint(len(region), size=longitud)
lista_region= [region[i] for i in ops_region]
lista_region

['cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'amigdala',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'cortex prefrontal',
 'cortex prefrontal',
 'cortex prefrontal',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'cortex prefrontal',
 'amigdala',
 'amigdala',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'cortex prefrontal',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'amigdala',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'cortex prefrontal',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'cortex prefrontal',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'hipocampo',
 'cortex prefrontal',
 'cortex prefrontal',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'cortex prefrontal',
 'amigdala',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'hipocampo',
 'amigdala',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'cortex prefrontal',
 'amigdala',
 'amigdala',
 'amigdala',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'amigdala',
 'amigdala',
 'amigdala',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'hipocampo',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'amigdala',
 'amigdala',
 'amigdala',
 'amigdala',
 'amigdala']

In [50]:
longitud = 200
variables = [tipos_sujetos, generos, condicion, reion, neurotrnsmisor]
data =[]

        0
0    SS02
1    SS02
2    SS03
3    SS00
4    SS00
..    ...
195  SS03
196  SS00
197  SS00
198  SS00
199  SS00

[200 rows x 1 columns]