# Concatenación de dataframes

concatenar=juntar,unir o fusionar
Para dataframes,existen 3 formas de concatenar:

- concat(concatenar)
- Merge(fusionar)
- Join(unir)

# Concat

Se centra en bases de datos comunes,que tienen las mismas columnas y por tanto basicamente hay que juntar las filas

In [1]:
import pandas as pd

In [13]:
df1=pd.DataFrame({'A':['1A','2A'],'B':['1B','2B'],'C':['1C','2C'],'k':['1k','2k' ]})
df2=pd.DataFrame({'A':['6A','7A','8A' ],'B':['6B','7B','8B' ],'C':['6C','7C','8C' ] })

In [14]:
df1

    A   B   C   k
0  1A  1B  1C  1k
1  2A  2B  2C  2k

In [16]:
pd.concat([df1,df2 ],ignore_index=True)
#el ignore_index es para cambiar los numeros de la columna 1 ,en lugar de que salga 0,1,0,1,2,3 van a salir en orden 0,1,2,3,4
#aparece NaN en algunos porque el segundo dataframe no tiene valores de k

    A   B   C    k
0  1A  1B  1C   1k
1  2A  2B  2C   2k
2  6A  6B  6C  NaN
3  7A  7B  7C  NaN
4  8A  8B  8C  NaN

# Merge (fusionar)

Esta técnica fusiona diferentes dataframes a partir de una columna (clave) en común

In [24]:
df1=pd.DataFrame({'A':['1A','2A'],'B':['1B','2B',]})
df2=pd.DataFrame({'A':['1A','2A'],'C':['1C','2C'],'k':['1k','2k' ]})

In [25]:
df1

    A   B
0  1A  1B
1  2A  2B

In [26]:
df2

    A   C   k
0  1A  1C  1k
1  2A  2C  2k

In [27]:
pd.merge(df1,df2, on=['A'])

    A   B   C   k
0  1A  1B  1C  1k
1  2A  2B  2C  2k

In [29]:
df1=pd.DataFrame({'A':['1A','2A','3A'],'B':['1B','2B','3B']})
df2=pd.DataFrame({'A':['5A','6A'],'C':['1C','2C'],'k':['1k','2k' ]})

In [30]:
pd.merge(df1,df2, on=['A'],how='outer')

    A    B    C    k
0  1A   1B  NaN  NaN
1  2A   2B  NaN  NaN
2  3A   3B  NaN  NaN
3  5A  NaN   1C   1k
4  6A  NaN   2C   2k

In [31]:
pd.merge(df1,df2, on=['A'],how='left')

    A   B    C    k
0  1A  1B  NaN  NaN
1  2A  2B  NaN  NaN
2  3A  3B  NaN  NaN

# Join

La idea de este dataframe es combinar las columnas de dos dataframes indexados

In [36]:
df1=pd.DataFrame({'Z':['1A','2A','3A'],'B':['1B','2B','3B']},index=['i1','i2','i3'])
df2=pd.DataFrame({'A':['5A','6A'],'C':['1C','2C'],'k':['1k','2k' ]},index=['i1','i2' ])

In [37]:
df1.join(df2)

     Z   B    A    C    k
i1  1A  1B   5A   1C   1k
i2  2A  2B   6A   2C   2k
i3  3A  3B  NaN  NaN  NaN

# Entradas y salidas

In [38]:
df3=df1.join(df2)
df3

     Z   B    A    C    k
i1  1A  1B   5A   1C   1k
i2  2A  2B   6A   2C   2k
i3  3A  3B  NaN  NaN  NaN

In [40]:
df3.to_csv('nombre del archivo.csv')
#puedes exportar dataframes a diferentes archivos

PermissionError: [Errno 13] Permission denied: 'nombre del archivo.csv'