#  Pandas
## Manejo de bases de datos mediante series y dataframes

In [1]:
import pandas as pd

In [3]:
pd.Series([4,5,6,7,8,9,'casa'])

0       4
1       5
2       6
3       7
4       8
5       9
6    casa
dtype: object

In [4]:
pd.Series(range(50,56), index=['a','b','c','d','e','f'])

a    50
b    51
c    52
d    53
e    54
f    55
dtype: int64

In [11]:
serie= pd.Series([5,6,7,8,9],index=['a','b','c','d','e'])
serie['b']

np.int64(6)

In [12]:
pd.DataFrame([4 ,4])

   0
0  4
1  4