In [1]:
import pandas as pd

In [2]:
valores= [6, 8, 34, 94, -78]
indice = range(len(valores))

serie1= pd.Series(data = valores, index = indice)
serie1

0     6
1     8
2    34
3    94
4   -78
dtype: int64

In [3]:
valores2 = [28, 45, -852, 3, 16]
serie2 = pd.Series(index=indice, data=valores2)
serie2

0     28
1     45
2   -852
3      3
4     16
dtype: int64

In [4]:
34**(-852)

0.0

In [5]:
import numpy as np

In [7]:
array= np.random.normal(-10,10, size=[4,4])
array

array([[-26.64338904,  -2.30027338,   3.5966422 , -12.84549803],
       [-16.04216806, -20.75876072,  -8.97322417,  -8.45088216],
       [ -7.75057887,   0.67949526,  -2.85069697,  -0.210316  ],
       [-27.22978201, -11.29111089,  -4.67612083,   7.46420541]])

In [9]:
len(array)

4

In [13]:
pd.DataFrame([[2,3], [4,5]], index = ['a','b'], columns=['W','X'])

   W  X
a  2  3
b  4  5

In [16]:
df= pd.DataFrame(array, index=range(1, len(array)+1), columns=['W', 'X', 'Y', 'Z'])
df

           W          X         Y          Z
1 -26.643389  -2.300273  3.596642 -12.845498
2 -16.042168 -20.758761 -8.973224  -8.450882
3  -7.750579   0.679495 -2.850697  -0.210316
4 -27.229782 -11.291111 -4.676121   7.464205

In [19]:
df['X']

1    -2.300273
2   -20.758761
3     0.679495
4   -11.291111
Name: X, dtype: float64

In [20]:
df['X'][2]

np.float64(-20.758760716154036)

In [21]:
df.X

1    -2.300273
2   -20.758761
3     0.679495
4   -11.291111
Name: X, dtype: float64

In [22]:
df

           W          X         Y          Z
1 -26.643389  -2.300273  3.596642 -12.845498
2 -16.042168 -20.758761 -8.973224  -8.450882
3  -7.750579   0.679495 -2.850697  -0.210316
4 -27.229782 -11.291111 -4.676121   7.464205

In [23]:
df[['W', 'Y']]

           W         Y
1 -26.643389  3.596642
2 -16.042168 -8.973224
3  -7.750579 -2.850697
4 -27.229782 -4.676121

In [24]:
columnas = ['W', 'Y']
df[ columnas ]

           W         Y
1 -26.643389  3.596642
2 -16.042168 -8.973224
3  -7.750579 -2.850697
4 -27.229782 -4.676121

In [25]:
df

           W          X         Y          Z
1 -26.643389  -2.300273  3.596642 -12.845498
2 -16.042168 -20.758761 -8.973224  -8.450882
3  -7.750579   0.679495 -2.850697  -0.210316
4 -27.229782 -11.291111 -4.676121   7.464205

In [28]:
df['suma_X_Z'] = df.X + df.Z
df

           W          X         Y          Z   suma_X_Z
1 -26.643389  -2.300273  3.596642 -12.845498 -15.145771
2 -16.042168 -20.758761 -8.973224  -8.450882 -29.209643
3  -7.750579   0.679495 -2.850697  -0.210316   0.469179
4 -27.229782 -11.291111 -4.676121   7.464205  -3.826905

In [30]:
df.drop('Y', axis = 1)
#axis=1 es para borrar colimnas
#axis=0 es para borrar filas

           W          X          Z   suma_X_Z
1 -26.643389  -2.300273 -12.845498 -15.145771
2 -16.042168 -20.758761  -8.450882 -29.209643
3  -7.750579   0.679495  -0.210316   0.469179
4 -27.229782 -11.291111   7.464205  -3.826905

In [41]:
df.drop('Y', axis = 1, inplace= True) #para borrarlo para siempre

KeyError: "['Y'] not found in axis"

In [42]:
df

           W          X          Z   suma_X_Z
1 -26.643389  -2.300273 -12.845498 -15.145771
2 -16.042168 -20.758761  -8.450882 -29.209643
3  -7.750579   0.679495  -0.210316   0.469179
4 -27.229782 -11.291111   7.464205  -3.826905

In [40]:
df.drop(3, axis=0)

           W          X          Z   suma_X_Z
1 -26.643389  -2.300273 -12.845498 -15.145771
2 -16.042168 -20.758761  -8.450882 -29.209643
4 -27.229782 -11.291111   7.464205  -3.826905

In [43]:
df

           W          X          Z   suma_X_Z
1 -26.643389  -2.300273 -12.845498 -15.145771
2 -16.042168 -20.758761  -8.450882 -29.209643
3  -7.750579   0.679495  -0.210316   0.469179
4 -27.229782 -11.291111   7.464205  -3.826905

In [46]:
df.loc[1]#para ver localizacion de filas

W          -26.643389
X           -2.300273
Z          -12.845498
suma_X_Z   -15.145771
Name: 1, dtype: float64

In [48]:
#otra frma de localizar filas atravez del indice de 0 a 3 en lugar de 1 2 3 4
df.iloc[[0,2]]

           W         X          Z   suma_X_Z
1 -26.643389 -2.300273 -12.845498 -15.145771
3  -7.750579  0.679495  -0.210316   0.469179

In [49]:
df

           W          X          Z   suma_X_Z
1 -26.643389  -2.300273 -12.845498 -15.145771
2 -16.042168 -20.758761  -8.450882 -29.209643
3  -7.750579   0.679495  -0.210316   0.469179
4 -27.229782 -11.291111   7.464205  -3.826905

In [52]:
df.loc[3,'X']# para acceder a un elemento en especifico

np.float64(0.6794952613305192)

In [54]:
df.loc [[2,4], ['X', 'suma_X_Z']] #para localizar elementos especificos

           X   suma_X_Z
2 -20.758761 -29.209643
4 -11.291111  -3.826905