##Tarea 2do parcial

In [11]:

import pandas as pd
import numpy as np

In [12]:
##Ejercicio 1
def ex1_concat_same_structure(data1, data2):
    d1=pd.DataFrame( data1)
    d2=pd.DataFrame( data2)
    return(pd.concat([d1, d2], ignore_index=True))
ex1_concat_same_structure(data1=({"Nombre":["Martin","James","Keonho"], "Edad":["17","20","16"]}),
                          data2=({"Nombre":["RM","JK","Hobi"], "Edad":["30","27","28"]}))

   Nombre Edad
0  Martin   17
1   James   20
2  Keonho   16
3      RM   30
4      JK   27
5    Hobi   28

In [13]:
#Ejercicio 2
def ex2_concat_with_month_column(mes):
    ventas=pd.DataFrame({"ventas":["20","30","25","40","35"]})
    mes=pd.DataFrame(mes)
    return(ventas.join(mes))
ex2_concat_with_month_column({"meses":["Enero","Febrero","Marzo","Abril","Mayo"]})

  ventas    meses
0     20    Enero
1     30  Febrero
2     25    Marzo
3     40    Abril
4     35     Mayo

In [14]:
# Celda 5
#Ejercicio3
def ex3_concat_diff_columns_fillna():
    ventas=pd.DataFrame({"Productos":["1","2","3","4","5"], "Ventas":["50","40", "35", "20","25" ]})
    productos= pd.DataFrame({"Productos":["1","2","4"], "Descuento":["15%","15%","10%"]})
    m=pd.merge(ventas,productos, on=["Productos"], how="outer")
    print(m.fillna(0))
ex3_concat_diff_columns_fillna()

  Productos Ventas Descuento
0         1     50       15%
1         2     40       15%
2         3     35         0
3         4     20       10%
4         5     25         0

In [15]:
#Eejercicio 4
def ex4_concat_three_groups():
    g_1 = pd.DataFrame({"Alumno": ["A1","A2","A3"], "Nota": [9, 9, 8] })
    g_2 = pd.DataFrame({"Alumno": ["B1","B2","B3"], "Nota": [9, 8, 10] })
    g_3 = pd.DataFrame({ "Alumno": ["C1","C2","C3"], "Nota": [10, 9, 9]})
  
    print(pd.concat([g_1,g_2,g_3], ignore_index=True) )
ex4_concat_three_groups()

  Alumno  Nota
0     A1     9
1     A2     9
2     A3     8
3     B1     9
4     B2     8
5     B3    10
6     C1    10
7     C2     9
8     C3     9

In [16]:
#Ejercicio 5
def ex5_remove_duplicates_preserve_order(lista):
    lista_nueva=[]
    for  caracter in lista:
       if caracter not in lista_nueva:
           lista_nueva.append(caracter)   
    return lista_nueva
ex5_remove_duplicates_preserve_order(list("parangaricutirimicuaro"))

['p', 'a', 'r', 'n', 'g', 'i', 'c', 'u', 't', 'm', 'o']

In [17]:
#Ejercicio 6
def ex6_sort_tuples_by_second_element(tuplas):
    lista_ordenada = sorted(tuplas, key=lambda x:x[1])
    return lista_ordenada
ex6_sort_tuples_by_second_element([("a", 3), ("b", 1), ("c", 2)])

[('b', 1), ('c', 2), ('a', 3)]

In [18]:
#Ejercicio 7
def ex7_first_n_multiples_of_7(n):
    múltiplos = [7**x for x in range(n)]
    return múltiplos
ex7_first_n_multiples_of_7(5)

[1, 7, 49, 343, 2401]

In [19]:
#Ejercicio 8
def ex8_filter_palindromes(cadenas):
    palíndromos=[]
    for elemento in cadenas:
         if elemento==elemento[::-1]:
             palíndromos.append(elemento)
    return palíndromos
ex8_filter_palindromes(["Hola","babosos","mi", "ava", "reconocer","azul","ilili"])

['ava', 'reconocer', 'ilili']

In [20]:
#Ejercicio 9
def ex9_set_intersection_and_difference(set_a, set_b):
    interseccion=[]
    diferencia=[]
    for elemento in set_a:
       if elemento in set_b:
           interseccion.append(elemento)
       else:
           if elemento not in set_b:
               diferencia.append(elemento)
    return(interseccion,diferencia)
ex9_set_intersection_and_difference({1,2,3},{1,2,4})

([1, 2], [3])

In [21]:
#Ejercicio 10
def ex10_is_subset(set_a, set_b):
   return set_a.issubset(set_b)
ex10_is_subset({1,2,3},{1,2,3,4,5,6})

True

In [22]:
#Ejericio 11
def ex11_count_unique_elements(lst):
    set_l=set(lst)
    return(len(set_l))
ex11_count_unique_elements(list("parangaricutirimicuaro"))

11

In [23]:
#Ejercicio 12
def ex12_unique_words_from_phrases(phrases):
    b=set()
    for frase in phrases:
        for palabra in  frase.split():
         b.add(palabra)
    return(b)
    
         
ex12_unique_words_from_phrases(["Hola mundo", "Hola a todos", "Hola mundo a todos"])

{'Hola', 'a', 'mundo', 'todos'}

In [24]:
#Ejercicio 13
def ex13_oldest_person(tuple_list):
    return (max(tuple_list, key=lambda x:x[1]))
ex13_oldest_person([("Mon", 20), ("Bibi", 21), ("Pepe", 16)])

('Bibi', 21)

In [26]:
#Ejercicio 14
def ex14_convert_list_of_lists_to_tuples(list_of_lists):
    return( tuple(tuple(lista) for lista in list_of_lists))
ex14_convert_list_of_lists_to_tuples([[1, 2], [3, 4], [5, 6]])

((1, 2), (3, 4), (5, 6))

In [27]:
#Ejericio 15
def ex15_sum_of_tuple_abc(tupla):
    return ((int(sum (set(tupla)))))
(ex15_sum_of_tuple_abc([1,2,3]))

6

In [29]:
#Ejercicio 16
def ex16_sort_product_price(lista_de_tuplas):
    return(sorted(lista_de_tuplas, key=lambda x:x[1])) #sorted funciona con cualquier iterable
ex16_sort_product_price([["pasta", 24], ["frijol",32], ["lentejas",20]])

[['lentejas', 20], ['pasta', 24], ['frijol', 32]]

In [30]:
#Ejericicio 17
def ex17_char_frequency(s):
    diccionario={}
    for caracter in s:
        if caracter in diccionario:
           diccionario[caracter]+=1
        else:
            diccionario[caracter]=1
    return diccionario
ex17_char_frequency("Parangaricutirimicuaro")

{'P': 1,
 'a': 4,
 'r': 4,
 'n': 1,
 'g': 1,
 'i': 4,
 'c': 2,
 'u': 2,
 't': 1,
 'm': 1,
 'o': 1}

In [31]:
#Ejericio 18
def ex18_best_student(grades_dict):
 valor=max(grades_dict.values())
 for k in grades_dict:
    if grades_dict[k]==valor:
        return(k,valor)
    
ex18_best_student({"Pablo": 7, "Alejandro":9, "Roberto":7, "María":10})

('María', 10)

In [32]:
#Ejercicio 19
def ex19_invert_dictionary(d):
    new={}
    for k, v in d.items():
        new[v]=k
    return new
ex19_invert_dictionary({"Pablo": 7, "Alejandro":9, "Roberto":7, "María":10})

{7: 'Roberto', 9: 'Alejandro', 10: 'María'}

In [33]:
#Ejercicio 20
def ex20_merge_dicts_sum_values(d1, d2):
    for key, value in d2.items():
        if key in d1:
            d1[key] += value
        else:
            d1[key] = value
    return d1
ex20_merge_dicts_sum_values({"Pablo": 7, "Alejandro":9, "Roberto":7, "María":10}, {"Pablo": 7, "Isabel":9, "Roberto":7, "Mari":10})

{'Pablo': 14,
 'Alejandro': 9,
 'Roberto': 14,
 'María': 10,
 'Isabel': 9,
 'Mari': 10}

In [ ]:
import numpy as np

In [34]:
#Ejercico 21
def ex21_numpy_array_set_fifth():
    b=np.zeros(10)
    b[4]=5
    return b
ex21_numpy_array_set_fifth()

array([0., 0., 0., 0., 5., 0., 0., 0., 0., 0.])

In [36]:
#Ejercicio 22
def ex22_numpy_matrix_3x3():
    matriz=np.random.uniform(0,8, size=[3,3])
    return matriz
ex22_numpy_matrix_3x3()

array([[5.22314886, 2.66210969, 0.77354539],
       [5.87041912, 1.20768761, 1.32532703],
       [3.55096985, 1.06074278, 7.30166387]])

In [35]:
#Ejercicio 23
def ex23_numpy_statistics():
    array=np.random.normal(50,100, size=[20])
    a=np.mean(array)
    b=np.std(array)
    c=np.median(array)
    return(a,b,c)
ex23_numpy_statistics()

(np.float64(10.82596444563688),
 np.float64(132.19336511271675),
 np.float64(24.67821102188271))

In [37]:
#Ejercicio 24
def ex24_numpy_clip_values(arr):
    arr2 = np.clip(arr, a_min = None, a_max=10)
    return arr2
array=np.random.normal(2,45, size=[20])
ex24_numpy_clip_values(array)

array([ 10.        , -45.37647377, -80.10845233,  10.        ,
         0.49076727, -62.81619742,   1.37016874,  10.        ,
        -3.58440917,  10.        , -75.01212759, -19.12004123,
        10.        ,   3.00616929, -31.76368664,   0.7319472 ,
        10.        ,  10.        , -24.04880023, -48.44124882])

In [38]:
#Ejercico 25
import pandas as pd
def ex25_filter_rows_age_over_30():
    df= pd.DataFrame({"Nombre":["Isa","Martín","James"], "Edad":[33,17,20], "Ciudad":["Sji", "Seoul", "Chicago"]})
    return df[df["Edad"]>30]

ex25_filter_rows_age_over_30()

  Nombre  Edad Ciudad
0    Isa    33    Sji

In [39]:
#Ejercicio 26
def ex26_load_dict_into_dataframe_and_sort():
    df= pd.DataFrame({"Nombre":["Isa","Martín","James"], "Puntaje":[80,93,70]})
    return(df.sort_values("Puntaje", ignore_index= True))
ex26_load_dict_into_dataframe_and_sort()

   Nombre  Puntaje
0   James       70
1     Isa       80
2  Martín       93

In [54]:
# Celda 36
#Ejercicio 27
def ex27_groupby_mean_value():
    
    f= pd.DataFrame({"Grupo":["A","B","C"], "Valor":[80,93,70]})
    pass

f= pd.DataFrame({"Grupo":["A","A","A","B","B","B","C","C","C"], "Valor":[80,93,70,55,67,89,90,89,99]})
f.groupby('Grupo')['Valor'].mean()

Grupo
A    81.000000
B    70.333333
C    92.666667
Name: Valor, dtype: float64

In [55]:
#Ejercicio 28
def ex28_most_sold_product_from_sales_df():
    f= pd.DataFrame({"Producto":["A","B","C"], "Cantidad":[80,93,70]})
    return(tuple(f.max()))
ex28_most_sold_product_from_sales_df()

('C', np.int64(93))

In [56]:
#Ejercicio 29
def ex29_map_lambda_cube(lst):
    r=map(lambda x:x**3, lst)
    return list(r)
ex29_map_lambda_cube([1,2,3,4])

[1, 8, 27, 64]

In [57]:
#Ejercicio 30

def ex30_filter_lambda_even(lst):
   return(list(filter(lambda x: x%2==0, lst)))
ex30_filter_lambda_even([1,2,3,4])

[2, 4]

In [58]:
#Ejercicio 31
def ex31_sort_list_of_dicts_by_key(lst, keyname):
    return(sorted(lst, key=lambda diccionario:diccionario[keyname]))
ex31_sort_list_of_dicts_by_key([{"nombre": "Ana", "edad": 25},{"nombre": "Luis", "edad": 19},{"nombre": "Sofía", "edad": 30}], "edad")

[{'nombre': 'Luis', 'edad': 19},
 {'nombre': 'Ana', 'edad': 25},
 {'nombre': 'Sofía', 'edad': 30}]

In [59]:
#Ejercicio 32
def ex32_pandas_apply_lambda_uppercase(names_list):
    d=pd.DataFrame(names_list, columns=["Nombre"])
    d["Mayus"]=d["Nombre"]. apply(lambda x:x.upper())
    return d
ex32_pandas_apply_lambda_uppercase(["Mon","Rubi","Pabloo","Pepee"])

   Nombre   Mayus
0     Mon     MON
1    Rubi    RUBI
2  Pabloo  PABLOO
3   Pepee   PEPEE