# TAREA

## parea el 2do parcial


Cada ejercicio está representado por una función con su docstring que contiene
la instrucción (no incluye soluciones). Implementa las funciones por tu cuenta.

In [2]:
import pandas as pd
import numpy as np

In [ ]:
"""
Archivo: ejercicios_python_estructuras_numpy_pandas_instrucciones.py
Descripción: 32 ejercicios (SOLO INSTRUCCIONES) sobre:
- pandas (concatenación y otras operaciones), listas, conjuntos, tuplas, diccionarios,
  NumPy y uso de lambdas (map, filter, sorted, apply).

Cada ejercicio está representado por una función con su docstring que contiene
la instrucción (no incluye soluciones). Implementa las funciones por tu cuenta.
"""

# Nota: este archivo contiene únicamente las instrucciones de cada ejercicio.
# Implementa cada función en tu entorno (o pégalas en una plataforma tipo HackerRank/LeetCode).

import pandas as pd
import numpy as np

# -----------------------------
# 1-4: Pandas (concatenación)
# -----------------------------

def ex1_concat_same_structure():
    """Ejercicio 1:
    Crea dos DataFrame que compartan la misma estructura de columnas (por ejemplo,
    'Nombre' y 'Edad'), con al menos 3 filas cada uno. Concaténalos verticalmente
    en un único DataFrame. Retorna el DataFrame resultante.
    """
    pass


def ex2_concat_with_month_column():
    """Ejercicio 2:
    Tienes un DataFrame con ventas de enero y otro con ventas de febrero (mismas columnas).
    Concaténalos en un solo DataFrame y añade una columna que indique el mes original
    de cada fila (por ejemplo: 'Enero' o 'Febrero'). Retorna el DataFrame resultante.
    """
    pass


def ex3_concat_diff_columns_fillna():
    """Ejercicio 3:
    Crea dos DataFrame que no tengan exactamente las mismas columnas (ej.: uno tiene
    'Producto' y 'Ventas', el otro 'Producto' y 'Descuento'). Concaténalos y asegura
    que los valores faltantes queden rellenados con 0. Retorna el DataFrame resultante.
    """
    pass


def ex4_concat_three_groups():
    """Ejercicio 4:
    Genera tres DataFrame pequeños (cada uno con, por ejemplo, 3 filas) que representen
    notas de distintos grupos de alumnos. Concaténalos verticalmente en un solo DataFrame
    que contenga todas las notas. Retorna el DataFrame resultante.
    """
    pass


# -----------------------------
# 5-8: Listas
# -----------------------------

def ex5_remove_duplicates_preserve_order(lst):
    """Ejercicio 5:
    Dada una lista de enteros (o strings) que puede contener duplicados, devuelve una
    nueva lista sin duplicados preservando el orden original. No uses directamente set()
    para eliminar duplicados (escribe la lógica que preserve el orden). Retorna la nueva 
    lista sin duplicados.
    """
    pass


def ex6_sort_tuples_by_second_element(tuples_list):
    """Ejercicio 6:
    Dada una lista de tuplas, por ejemplo [("a", 3), ("b", 1), ("c", 2)], ordénala
    por el segundo elemento de cada tupla y devuelve la lista ordenada. Usa una función
    anónima si lo deseas. Retorna la lista ordenada.
    """
    pass


def ex7_first_n_multiples_of_7(n):
    """Ejercicio 7:
    Devuelve una lista con los primeros n múltiplos de 7 (por ejemplo, n=5 -> [7,14,21,28,35]).
    Retorna la lista generada.
    """
    pass


def ex8_filter_palindromes(strings):
    """Ejercicio 8:
    Dada una lista de cadenas, devuelve sólo aquellas que son palíndromos (se leen igual
    al derecho y al revés). Retorna una lista con los palíndromos encontrados.
    """
    pass


# -----------------------------
# 9-12: Conjuntos
# -----------------------------

def ex9_set_intersection_and_difference(set_a, set_b):
    """Ejercicio 9:
    Dado dos conjuntos, devuelve su intersección y la diferencia (elementos de A que no
    están en B). Retorna una tupla (intersección, diferencia).
    """
    pass


def ex10_is_subset(set_a, set_b):
    """Ejercicio 10:
    Verifica si set_a es subconjunto de set_b. Devuelve True o False.
    """
    pass


def ex11_count_unique_elements(lst):
    """Ejercicio 11:
    Dada una lista, cuenta cuántos elementos únicos contiene (usa set para obtener el conteo).
    Retorna el número de elementos únicos.
    """
    pass


def ex12_unique_words_from_phrases(phrases):
    """Ejercicio 12:
    Dada una lista de frases (strings), extrae y devuelve el conjunto de todas las palabras
    únicas que aparecen en todas las frases. Retorna un conjunto con las palabras únicas.
    """
    pass


# -----------------------------
# 13-16: Tuplas
# -----------------------------

def ex13_oldest_person(tuple_list):
    """Ejercicio 13:
    Recibe una lista de tuplas (nombre, edad). Devuelve la tupla de la persona con mayor edad.
    """
    pass


def ex14_convert_list_of_lists_to_tuples(list_of_lists):
    """Ejercicio 14:
    Convierte una lista de listas en una lista de tuplas. Retorna la nueva lista de tuplas.
    """
    pass


def ex15_sum_of_tuple_abc(t):
    """Ejercicio 15:
    Recibe una tupla de tres números (a, b, c). Desempaquétala y devuelve la suma a+b+c. 
    Retorna un número entero o flotante.
    """
    pass


def ex16_sort_product_price(prod_price_list):
    """Ejercicio 16:
    Dada una lista de tuplas (producto, precio), ordénala por precio de menor a mayor.
    Retorna la lista ordenada.
    """
    pass


# -----------------------------
# 17-20: Diccionarios
# -----------------------------

def ex17_char_frequency(s):
    """Ejercicio 17:
    Cuenta la frecuencia de cada carácter en una cadena usando un diccionario.
    Retorna un diccionario {carácter: frecuencia}.
    """
    pass


def ex18_best_student(grades_dict):
    """Ejercicio 18:
    Dado un diccionario {alumno: calificación}, devuelve al mejor estudiante.
    Retorna una tupla (nombre, calificación).
    """
    pass


def ex19_invert_dictionary(d):
    """Ejercicio 19:
    Invierte un diccionario, intercambiando claves y valores.
    Retorna el diccionario invertido.
    """
    pass


def ex20_merge_dicts_sum_values(d1, d2):
    """Ejercicio 20:
    Fusiona dos diccionarios sumando los valores de las claves que se repitan. 
    Devuelve el diccionario resultante.
    """
    pass


# -----------------------------
# 21-24: NumPy
# -----------------------------

def ex21_numpy_array_set_fifth():
    """Ejercicio 21:
    Crea un arreglo de NumPy de 10 ceros y cambia el quinto elemento (índice 4) a 1.
    Retorna el array resultante.
    """
    pass


def ex22_numpy_matrix_3x3():
    """Ejercicio 22:
    Genera una matriz 3x3 con los valores del 0 al 8. 
    Retorna la matriz como array de NumPy.
    """
    pass


def ex23_numpy_statistics():
    """Ejercicio 23:
    Genera un array aleatorio de 20 enteros y calcula la media, mediana y desviación estándar.
    Retorna una tupla (media, mediana, desviación estándar).
    """
    pass


def ex24_numpy_clip_values(arr):
    """Ejercicio 24:
    Dado un array (o lista) de números, reemplaza todos los valores mayores que 10 por 10
    (es decir, limita/"clip" los valores máximos).
    Retorna el array modificado.
    """
    pass


# -----------------------------
# 25-28: Pandas (otros)
# -----------------------------

def ex25_filter_rows_age_over_30():
    """Ejercicio 25:
    Crea un DataFrame con columnas 'Nombre', 'Edad' y 'Ciudad'.
    Filtra y retorna solo las filas con `Edad` > 30.
    """
    pass


def ex26_load_dict_into_dataframe_and_sort():
    """Ejercicio 26:
    Carga un diccionario en un DataFrame (por ejemplo {'Nombre': [...], 'Puntaje': [...]})
    y ordénalo por la columna de puntaje de mayor a menor.
    Retorna el DataFrame ordenado.
    """
    pass


def ex27_groupby_mean_value():
    """Ejercicio 27:
    Dado un DataFrame con columnas 'Grupo' y 'Valor', calcula el promedio de 'Valor'
    por cada 'Grupo' usando groupby. 
    Retorna el DataFrame agrupado con promedios.
    """
    pass


def ex28_most_sold_product_from_sales_df():
    """Ejercicio 28:
    Dado un DataFrame de ventas con columnas 'Producto' y 'Cantidad', determina cuál
    es el producto con la mayor suma total de 'Cantidad' (es decir, el más vendido).
    Retorna una tupla (Producto, Ventas).
    """
    pass


# -----------------------------
# 29-32: Lambdas y funciones anónimas
# -----------------------------

def ex29_map_lambda_cube(lst):
    """Ejercicio 29:
    Usa map junto con una función lambda para elevar al cubo cada número en una lista.
    Devuelve la lista resultante.
    """
    pass


def ex30_filter_lambda_even(lst):
    """Ejercicio 30:
    Usa filter y una lambda para quedarte sólo con los números pares de una lista.
    Devuelve la lista filtrada.
    """
    pass


def ex31_sort_list_of_dicts_by_key(lst, keyname):
    """Ejercicio 31:
    Dada una lista de diccionarios, ordénala por el valor asociado a 'keyname' usando
    sorted con una lambda. Devuelve la lista ordenada.
    """
    pass


def ex32_pandas_apply_lambda_uppercase(names_list):
    """Ejercicio 32:
    Crea un DataFrame con una columna 'Nombre' a partir de names_list y usa apply con
    una función lambda para crear una nueva columna con los nombres en mayúsculas.
    Devuelve el DataFrame modificado.
    """
    pass

 ## Ejercicio 1:
    Crea dos DataFrame que compartan la misma estructura de columnas (por ejemplo,
    'Nombre' y 'Edad'), con al menos 3 filas cada uno. Concaténalos verticalmente
    en un único DataFrame. Retorna el DataFrame resultante.

In [2]:
def ex1_concat_same_structure(df1,df2):

    df_concatenado = pd.concat([df1, df2], ignore_index=True)
    return df_concatenado
datos1 = {
        'Nombre': ['Karem', 'Luis', 'Lucy'],
        'Edad': [23, 34, 45]
    }
df1 = pd.DataFrame(datos1)
datos2 = {
        'Nombre': ['Sebastian', 'Renata', 'David'],
        'Edad': [29, 31, 25]
    }
df2 = pd.DataFrame(datos2)
ex1_concat_same_structure(df1,df2)

      Nombre  Edad
0      Karem    23
1       Luis    34
2       Lucy    45
3  Sebastian    29
4     Renata    31
5      David    25

## Ejercicio 2
    Tienes un DataFrame con ventas de enero y otro con ventas de febrero (mismas columnas).
    Concaténalos en un solo DataFrame y añade una columna que indique el mes original
    de cada fila (por ejemplo: 'Enero' o 'Febrero'). Retorna el DataFrame resultante.

In [3]:
def ex2_concat_with_month_column(dfA,dfB):
    total_sales=pd.concat([dfA,dfB], ignore_index=True)
    return total_sales
pass

In [4]:
sales_jan=pd.DataFrame({
    'Producto':['Teclado','Mouse','Monitor'],
    'Cantidad':[23,34,45]
})
sales_jan['Mes']='Enero'

sales_feb=pd.DataFrame({
    'Producto':['Teclado','Mouse','Audifonos'],
    'Cantidad':[42,87,75]
})
sales_feb['Mes']='Febrero'

ex2_concat_with_month_column(sales_jan,sales_feb)

    Producto  Cantidad      Mes
0    Teclado        23    Enero
1      Mouse        34    Enero
2    Monitor        45    Enero
3    Teclado        42  Febrero
4      Mouse        87  Febrero
5  Audifonos        75  Febrero

## Ejercicio 3
Dataframes de diferentes tamaños concatenados y los nan=0

In [11]:
def ex3_concat_diff_columns_fillna(dfA,dfB):

    concatenados=pd.concat([dfA,dfB], ignore_index=True)
    sin_nan=concatenados.fillna(0)
    return sin_nan
pass

In [12]:
df_ventas=pd.DataFrame({
    'Producto':['Teclado','Mouse','Audifonos'],
    'Ventas':[42,87,75]
})
df_descuentos=pd.DataFrame({
    'Producto':['Escritorio','Mouse','Pilas'],
    'Descuentos':[40,15,55]
})
ex3_concat_diff_columns_fillna(df_ventas,df_descuentos)

     Producto  Ventas  Descuentos
0     Teclado    42.0         0.0
1       Mouse    87.0         0.0
2   Audifonos    75.0         0.0
3  Escritorio     0.0        40.0
4       Mouse     0.0        15.0
5       Pilas     0.0        55.0

## Ejercicio 4
Concatenar tres DF pequeños, reprensentando diferentes grupos de alumnos, concat verticalmente

In [13]:
def ex4_concat_three_groups(A,B,C):
    all_groups=pd.concat([A,B,C], ignore_index=True)
    return all_groups
pass

In [15]:
grupoA=pd.DataFrame({
    'Alumnos':['Paul','Edgar', 'Axel'],
    'Calificación':[9.8,4.2,8.6]
})
grupoA['Grupo']='A'

grupoB= pd.DataFrame({
    'Alumnos':['Daniel','Azael', 'Bernal'],
    'Calificación':[5.7,8.9,9.7]
})
grupoB['Grupo']='B'

grupoC= pd.DataFrame({
    'Alumnos':['Diana','Mirian', 'Rebeca'],
    'Calificación':[4.3,9.4,6.1]
})
grupoC['Grupo']='C'

ex4_concat_three_groups(grupoA,grupoB,grupoC)

  Alumnos  Calificación Grupo
0    Paul           9.8     A
1   Edgar           4.2     A
2    Axel           8.6     A
3  Daniel           5.7     B
4   Azael           8.9     B
5  Bernal           9.7     B
6   Diana           4.3     C
7  Mirian           9.4     C
8  Rebeca           6.1     C

## Ejercicio 5
Eliminar duplicados pero preservando orden de una lista o string, sin usar directamente set()

In [18]:
def ex5_remove_duplicates_preserve_order(lst):
    seen=set()
    result=[]
    if obj in lst:
        if obj not in seen:
            seen.add(obj)
            result.append(obj)

    return result

lista_random=[1, 4, 2, 5, 2, 4, 1, 6, 4, 7]
ex5_remove_duplicates_preserve_order(lista_random)

NameError: name 'obj' is not defined

## Ejercicio 6:
    Dada una lista de tuplas, por ejemplo [("a", 3), ("b", 1), ("c", 2)], ordénala
    por el segundo elemento de cada tupla y devuelve la lista ordenada. Usa una función
    anónima si lo deseas. Retorna la lista ordenada.

In [ ]:
def ex6_sort_tuples_dy_second_element(tuples_lis):
    tuples_lis.sort()
    return tuples_lis

## Ejercicio 7
lista de numeros primos

In [ ]:
def ex7_first_n_multiples_of_7(n):
    n+=1
    if n%2==0:
        return n
    else:
        return n//2

## Ejercicio 8
    Dada una lista de cadenas, devuelve sólo aquellas que son palíndromos (se leen igual
    al derecho y al revés). Retorna una lista con los palíndromos encontrados.

In [ ]:
ef ex8_filter_palindromes(strings):

    pass

## Ejercicio 9
Intersección y la diferencia de dos conjuntos

In [1]:
def ex9_set_intersection_and_difference(set_a,set_b):
    intersection=set_a.intersection(set_b)
    difference=set_a.difference(set_b)
    return (intersection, difference)

In [3]:
conjunto_a = {1, 2, 3, 4}
conjunto_b = {3, 4, 5, 6}
ex9_set_intersection_and_difference(conjunto_a, conjunto_b)

({3, 4}, {1, 2})

## Ejercicio 10
Verificar subconjuntos

In [2]:
def ex10_is_subset(set_a,set_b):
    response=set_a.issubset(set_b)
    return response
pass

## Ejercicio 11
Contar elementos unicos en una lista

In [ ]:
def ex11_count_unique_elements(lst):
    unique_words=set(lst)
    return len(unique_words)

## Ejercicio 12
Extraer palabras que sean unicas en frases

In [ ]:
def ex12_unique_words_from_phrases(phrases):
    unique_words=set()
    for phrase in phrases:
        words=phrase.split()
        unique_words.update(words)
        return unique_words

## Ejercicio 13
Encontrar persona con mayor edad

In [4]:
def ex13_oldest_person(tuple_list):
    oldest=max(tuple_list, key=lambda persona:persona[1])
    return oldest

## Ejercicio 14
Convertir lista de lista a lista de tuplas

In [6]:
def ex14_convert_list_of_lists_to_tuples(list_of_lists):
    return [tuple(sublista) for sublista in list_of_lists]

In [7]:
lista_de_listas = [[1, 2], [3, 4], [5, 6]]
ex14_convert_list_of_lists_to_tuples(lista_de_listas)

[(1, 2), (3, 4), (5, 6)]

## Ejercicio 15
Suma de los elementos de una tupla

In [8]:
def ex15_sum_of_tuple_abc(t):
    a,b,c=t
    return a + b+ c

In [9]:
mi_tupla = (10, 20, 30)

## Ejercicio 16
Ordenar una lista de tuplas por precio

In [11]:
def ex16_sort_product_price(prod_price_list):
    prod_price_list.sort()
    return prod_price_list

In [12]:
productos = [("Manzana", 1.5), ("Plátano", 0.75), ("Naranja", 1.25)]
productos_ordenados = ex16_sort_product_price(productos)
print(f"Productos ordenados por precio: {productos_ordenados}")

Productos ordenados por precio: [('Manzana', 1.5), ('Naranja', 1.25), ('Plátano', 0.75)]

## Ejercicio 17
Frecuencia de caracteres

In [13]:
def ex17_char_frequency(s):
    frecuencia={}
    for caracter in s:
        frecuencia[caracter]=frecuencia.get(caracter, 0)+1
        return frecuencia

In [17]:
texto = 'hola fer'
print(f"Frecuencia de caracteres en '{texto}': {ex17_char_frequency(texto)}")

Frecuencia de caracteres en 'hola fer': {'h': 1}

## Ejercicio 18
encontrar al mejor estudiante

In [20]:
def ex18_best_student(grades_dict):
    best=max(grades_dict.items(), key=lambda item: item[1])
    return best

In [21]:
calificaciones = {"Sebas": 8, "Ana": 9.5, "Luis": 7, "Marta": 9.5}
ex18_best_student(calificaciones)

('Ana', 9.5)

## Ejercicio 19
Invertir un diccionario

In [22]:
def ex19_invert_dictionary(d):
    return {valor: clave for clave, valor in d.items()}

In [23]:
diccionario_original = {"a": 1, "b": 2, "c": 3}
ex19_invert_dictionary(diccionario_original)

{1: 'a', 2: 'b', 3: 'c'}

## Ejercicio 20
Fusionar diccionarios sumando valores

In [24]:
def ex20_merge_dicts_sum_values(d1, d2):
    resultado=d1.copy()
    for clave, valor in d2.items():
        resultado[clave] = resultado.get(clave, 0) + valor

        return resultado

In [25]:
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 5, 'c': 15, 'd': 40}
ex20_merge_dicts_sum_values(dict1, dict2)

{'a': 10, 'b': 25, 'c': 30}

## Ejercicio 21
crear y modificar un array de numpy

In [26]:
def ex21_numpy_array_set_fifth():
    array_de_ceros=np.zeros(10)
    array_de_ceros[4]=1
    return array_de_ceros

## Ejercicio 22
Generar una matriz con np con valores del 0 al 8

In [27]:
def ex22_numpy_matrix_3x3():
    array_secuencia=np.arange(9)
    m_3x3=array_secuencia.reshape(3,3)
    return m_3x3

## Ejercicio 23
Media, mediana y sd de un array aleatorio con NP

In [28]:
def ex23_numpy_statistics():
    array_aleatorio=np.random.randint(0,100,20)
    media=np.mean(array_aleatorio)
    mediana=np.median(array_aleatorio)
    sd=np.std(array_aleatorio)
    return (media, mediana, sd)

## Ejercicio 24
Reemplazar todos los valores mayores que 10 por 10 de un array con np

In [29]:
def ex24_numpy_clip_values(arr):
    array_num=np.array(arr)
    array_modificado=np.clip(array_num, a_min=None, a_max=10)
    return array_modificado

## Ejercicio 25
    Filtrar filas de un dataframe de pandas

In [33]:
def ex25_filter_rows_age_over_30(datos):
    df=pd.DataFrame(datos)
    df_filtrado= df[df['Edad']>30]
    return df_filtrado

In [34]:
datos = {
        'Nombre': ['Ana', 'Juan', 'María', 'Pedro', 'Sofía'],
        'Edad': [28, 35, 42, 25, 31],
        'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla', 'Bilbao']
    }
ex25_filter_rows_age_over_30(datos)

  Nombre  Edad     Ciudad
1   Juan    35  Barcelona
2  María    42   Valencia
4  Sofía    31     Bilbao

## Ejercicio 26
Cargar dic en df y ordenarlo

In [35]:
def ex26_load_dict_into_dataframe_and_sort(dict):
    df=pd.DataFrame(dict)
    df_ordenado= df.sort_values(by='Puntaje', ascending=False)
    return df_ordenado

In [37]:
 datos_dict = {
        'Nombre': ['Carlos', 'Beatriz', 'David', 'Elena'],
        'Puntaje': [88, 95, 72, 95]
    }
 ex26_load_dict_into_dataframe_and_sort(datos_dict)

    Nombre  Puntaje
1  Beatriz       95
3    Elena       95
0   Carlos       88
2    David       72

## Ejercicio 27
Agrupar por grupo y calcular promedio

In [38]:
def ex27_groupby_mean_value(data):
    df=pd.DataFrame(data)
    promedios=df.groupby('Grupo') ['Valor'].mean().reset_index()
    return promedios

In [39]:
 datos = {
        'Grupo': ['A', 'B', 'A', 'B', 'A', 'C', 'C', 'B'],
        'Valor': [10, 15, 12, 18, 11, 20, 22, 16]
    }
 ex27_groupby_mean_value(datos)

  Grupo      Valor
0     A  11.000000
1     B  16.333333
2     C  21.000000

## Ejercicio 28
Producto más vendido de un df

In [44]:
def ex28_most_sold_product_from_sales_df(datos_ventas):
    df_ventas = pd.DataFrame(datos_ventas)
    por_producto=df_ventas.groupby('Producto')['Cantidad'].sum()
    best_seller=por_producto.idxmax()
    cantidad_mas_vendida=por_producto.max()
    return (best_seller, cantidad_mas_vendida)

In [45]:
datos_ventas = {
        'Producto': ['Laptop', 'Teclado', 'Mouse', 'Laptop', 'Monitor', 'Teclado', 'Laptop'],
        'Cantidad': [5, 10, 15, 8, 3, 12, 7]}
ex28_most_sold_product_from_sales_df(datos_ventas)

('Teclado', np.int64(22))

## Ejercicio 29
Usar map junto lamdsa para elevar al cubo cada numero en una lista

In [46]:
def ex29_map_lambda_cube(lst):
    lista_al_cubo=map(lambda numero:numero ** 3,lst)
    return list(lista_al_cubo)

In [47]:
numeros = [1, 2, 3, 4, 5]
ex29_map_lambda_cube(numeros)

[1, 8, 27, 64, 125]

## Ejercicio 30
Usa filter y lambda para quedarse solo con numero pares de una lista

In [48]:
def ex30_filter_lambda_even(lst):
    numeros_pares=filter(lambda  numero : numero % 2 == 0, lst)
    return list(numeros_pares)

## Ejercicio 31
Lista de diccionarios, ordenarla por valor asociado usando sorted don un lambda

In [49]:
def ex31_sort_list_of_dicts_by_key(lst, keyname):
    return sorted(lst, key=lambda  d: d[keyname])

## Ejercicio 32
Crear df con 'Nombre' y aplicar función para crear columna con mayusculas

In [50]:
def ex32_pandas_apply_lambda_uppercase(names_list):
    df=pd.DataFrame({'Nombres':names_list})
    df['Nombre_Mayusculas']=df['Nombres'].apply(lambda nombre: nombre.upper())
    return df