In [7]:
import pandas as pd
import numpy as np

# CONCATENAR

In [25]:
##Ejercicio 1
def ex1_concat_same_structure(data1, data2):
    d1=pd.DataFrame( data1)
    d2=pd.DataFrame( data2)
    return(pd.concat([d1, d2], ignore_index=True))
ex1_concat_same_structure(data1=({"Nombre":["Martin","James","Keonho"], "Edad":["17","20","16"]}),
                          data2=({"Nombre":["RM","JK","Hobi"], "Edad":["30","27","28"]}))

   Nombre Edad
0  Martin   17
1   James   20
2  Keonho   16
3      RM   30
4      JK   27
5    Hobi   28

In [38]:
#Ejercicio 2
def ex2_concat_with_month_column(mes):
    ventas=pd.DataFrame({"ventas":["20","30","25","40","35"]})
    mes=pd.DataFrame(mes)
    return(ventas.join(mes))
ex2_concat_with_month_column({"meses":["Enero","Febrero","Marzo","Abril","Mayo"]})

  ventas    meses
0     20    Enero
1     30  Febrero
2     25    Marzo
3     40    Abril
4     35     Mayo

In [28]:
#Ejercicio3
def ex3_concat_diff_columns_fillna():
    ventas=pd.DataFrame({"Productos":["1","2","3","4","5"], "Ventas":["50","40", "35", "20","25" ]})
    productos= pd.DataFrame({"Productos":["1","2","4"], "Descuento":["15%","15%","10%"]})
    m=pd.merge(ventas,productos, on=["Productos"], how="outer")
    print(m.fillna(0))
ex3_concat_diff_columns_fillna()

  Productos Ventas Descuento
0         1     50       15%
1         2     40       15%
2         3     35         0
3         4     20       10%
4         5     25         0

In [46]:
#Eejercicio 4
def ex4_concat_three_groups():
    g_1 = pd.DataFrame({"Alumno": ["A1","A2","A3"], "Nota": [9, 9, 8] })
    g_2 = pd.DataFrame({"Alumno": ["B1","B2","B3"], "Nota": [9, 8, 10] })
    g_3 = pd.DataFrame({ "Alumno": ["C1","C2","C3"], "Nota": [10, 9, 9]})
  
    pint(pd.concat([g_1,g_2,g_3], ignore_index=True) )
ex4_concat_three_groups()

  Alumno  Nota
0     A1     9
1     A2     9
2     A3     8
3     B1     9
4     B2     8
5     B3    10
6     C1    10
7     C2     9
8     C3     9

# LISTAS

In [ ]:
#Ejercicio 5
def ex5_remove_duplicates_preserve_order(lista):
    lista_nueva=[]
    for  caracter in lista:
       if caracter not in lista_nueva:
           lista_nueva.append(caracter)   
    return lista_nueva
ex5_remove_duplicates_preserve_order(list("parangaricutirimicuaro"))  


#Ejercicio 6
def ex6_sort_tuples_by_second_element(tuplas):
    lista_ordenada = sorted(tuplas, key=lambda x:x[1])
    return lista_ordenada
ex6_sort_tuples_by_second_element([("a", 3), ("b", 1), ("c", 2)])

In [81]:
#Ejercicio 7
def ex7_first_n_multiples_of_7(n):
    múltiplos = [7**x for x in range(n)]
    return múltiplos
ex7_first_n_multiples_of_7(5)

[1, 7, 49, 343, 2401]

In [113]:
#Ejercicio 8
def ex8_filter_palindromes(cadenas):
    palíndromos=[]
    for elemento in cadenas:
         if elemento==elemento[::-1]:
             palíndromos.append(elemento)
    return palíndromos
ex8_filter_palindromes(["Hola","babosos","mi", "ava", "reconocer","azul","ilili"])

['ava', 'reconocer', 'ilili']

# Conjuntos

In [100]:
#Ejercicio 9
def ex9_set_intersection_and_difference(set_a, set_b):
    interseccion=[]
    diferencia=[]
    for elemento in set_a:
       if elemento in set_b:
           interseccion.append(elemento)
       else:
           if elemento not in set_b:
               diferencia.append(elemento)
    return(interseccion,diferencia)
ex9_set_intersection_and_difference({1,2,3},{1,2,4})

([1, 2], [3])

In [109]:
#Ejercicio 10
def ex10_is_subset(set_a, set_b):
   return set_a.issubset(set_b)
ex10_is_subset({1,2,3},{1,2,3,4,5,6})

True