# TAREA 
Nicole Hernández Hernández

## para el 2do parcial


Cada ejercicio está representado por una función con su docstring que contiene
la instrucción (no incluye soluciones). Implementa las funciones por tu cuenta.

In [14]:
import pandas as pd
import numpy as np

In [16]:
# -----------------------------
# 1-4: Pandas (concatenación)
# -----------------------------

In [17]:

def ex1_concat_same_structure():
    """Ejercicio 1:
    Crea dos DataFrame que compartan la misma estructura de columnas (por ejemplo,
    'Nombre' y 'Edad'), con al menos 3 filas cada uno. Concaténalos verticalmente
    en un único DataFrame. Retorna el DataFrame resultante.
    """
    #DataFrames con la misma estructura
    df1 = pd.DataFrame({
        'Nombre': ['Robbie', 'Figo', 'Dali'],
        'Edad': [3, 9, 17]
    })

    df2 = pd.DataFrame({
        'Nombre': ['Martha', 'Jorge', 'Lisa'],
        'Edad': [52, 24, 36]
    })

    # Concatenar los DataFrames verticalmente 
    df_result = pd.concat([df1, df2], ignore_index=True)

    return df_result

print(ex1_concat_same_structure())

   Nombre  Edad
0  Robbie     3
1    Figo     9
2    Dali    17
3  Martha    52
4   Jorge    24
5    Lisa    36

In [18]:
def ex2_concat_with_month_column():
    """Ejercicio 2:
    Tienes un DataFrame con ventas de enero y otro con ventas de febrero (mismas columnas).
    Concaténalos en un solo DataFrame y añade una columna que indique el mes original
    de cada fila (por ejemplo: 'Enero' o 'Febrero'). Retorna el DataFrame resultante.
    """

    #DataFrame ventas de enero
    enero = pd.DataFrame({
        'Producto': ['Pay de limón', 'Pay de manzana', 'Pay de fresa'],
        'Ventas': [220, 147, 193]
    })
    enero['Mes'] = 'Enero'  # Agregar columna con el nombre del mes

    #DataFrame ventas de febrero
    febrero = pd.DataFrame({
        'Producto': ['Pay de limón', 'Pay de manzana', 'Pay de fresa'],
        'Ventas': [199, 178, 111]
    })
    febrero['Mes'] = 'Febrero'

    # Concatenar los DataFrames
    df_total = pd.concat([enero, febrero], ignore_index=True)
    return df_total

print(ex2_concat_with_month_column())

         Producto  Ventas      Mes
0    Pay de limón     220    Enero
1  Pay de manzana     147    Enero
2    Pay de fresa     193    Enero
3    Pay de limón     199  Febrero
4  Pay de manzana     178  Febrero
5    Pay de fresa     111  Febrero

In [19]:
def ex3_concat_diff_columns_fillna():
    """Ejercicio 3:
    Crea dos DataFrame que no tengan exactamente las mismas columnas (ej.: uno tiene
    'Producto' y 'Ventas', el otro 'Producto' y 'Descuento'). Concaténalos y asegura
    que los valores faltantes queden rellenados con 0. Retorna el DataFrame resultante.
    """

    # Primer DataFrame 
    df1 = pd.DataFrame({
        'Neurona': ['A', 'B', 'C'],
        'Potencial generado(mv)': [69, 34, 91]
    })

    # Segundo DataFrame
    df2 = pd.DataFrame({
        'Neurona': ['D', 'E', 'F'],
        'Posición en el grafo': [13, 15, 16]
    })

    # Concatenar las columnas
    df_concat = pd.concat([df1, df2], ignore_index=True)

    # Rellenar valores faltantes con 0
    df_concat = df_concat.fillna(0)

    return df_concat

print(ex3_concat_diff_columns_fillna())

  Neurona  Potencial generado(mv)  Posición en el grafo
0       A                    69.0                   0.0
1       B                    34.0                   0.0
2       C                    91.0                   0.0
3       D                     0.0                  13.0
4       E                     0.0                  15.0
5       F                     0.0                  16.0

In [20]:
def ex4_concat_three_groups():
    """Ejercicio 4:
    Genera tres DataFrame pequeños (cada uno con, por ejemplo, 3 filas) que representen
    notas de distintos grupos de alumnos. Concaténalos verticalmente en un solo DataFrame
    que contenga todas las notas. Retorna el DataFrame resultante.
    """

    # Grupo A
    grupo_a = pd.DataFrame({
        'Alumno': ['Ana', 'Montse', 'Sandy'],
        'Nota': [8.5, 9.0, 7.5],
        'Grupo': 'A'
    })

    # Grupo B
    grupo_b = pd.DataFrame({
        'Alumno': ['Javier', 'Rolando', 'Rodrigo'],
        'Nota': [9.2, 8.0, 7.8],
        'Grupo': 'B'
    })

    # Grupo C
    grupo_c = pd.DataFrame({
        'Alumno': ['Macarena', 'Sofía', 'María'],
        'Nota': [6.5, 8.3, 9.1],
        'Grupo': 'C'
    })

    # Concatenar los tres DataFrames
    df_total = pd.concat([grupo_a, grupo_b, grupo_c], ignore_index=True)

    return df_total
print(ex4_concat_three_groups())

     Alumno  Nota Grupo
0       Ana   8.5     A
1    Montse   9.0     A
2     Sandy   7.5     A
3    Javier   9.2     B
4   Rolando   8.0     B
5   Rodrigo   7.8     B
6  Macarena   6.5     C
7     Sofía   8.3     C
8     María   9.1     C

In [21]:
# 5-8: Listas

In [22]:
def ex5_remove_duplicates_preserve_order(lst):
    """Ejercicio 5:
    Dada una lista de enteros (o strings) que puede contener duplicados, devuelve una
    nueva lista sin duplicados preservando el orden original. No uses directamente set()
    para eliminar duplicados (escribe la lógica que preserve el orden). Retorna la nueva 
    lista sin duplicados.
    """

    seen = []         
    result = []       

    for item in lst:
        if item not in seen:   
            seen.append(item)
            result.append(item)

    return result

print(ex5_remove_duplicates_preserve_order([1, 2, 3, 2, 1, 4, 5, 3, 2]))
print(ex5_remove_duplicates_preserve_order(['a', 'b', 'a', 'c', 'b','f','g','a',]))

[1, 2, 3, 4, 5]
['a', 'b', 'c', 'f', 'g']

In [23]:
def ex6_sort_tuples_by_second_element(tuples_list):
    """Ejercicio 6:
    Dada una lista de tuplas, por ejemplo [("a", 3), ("b", 1), ("c", 2)], ordénala
    por el segundo elemento de cada tupla y devuelve la lista ordenada. Usa una función
    anónima si lo deseas. Retorna la lista ordenada.
    """

    sorted_list = sorted(tuples_list, key=lambda x: x[1])

    return sorted_list
print(ex6_sort_tuples_by_second_element([("rosa", 200), ("verde", 39), ("café", 187)]))

[('verde', 39), ('café', 187), ('rosa', 200)]

In [24]:
def ex7_first_n_multiples_of_7(n):
    """Ejercicio 7:
    Devuelve una lista con los primeros n múltiplos de 7 (por ejemplo, n=5 -> [7,14,21,28,35]).
    Retorna la lista generada.
    """
    return [7 * i for i in range(1, n + 1)]
print(ex7_first_n_multiples_of_7(100))

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700]

In [25]:
def ex8_filter_palindromes(strings):
    """Ejercicio 8:
    Dada una lista de cadenas, devuelve sólo aquellas que son palíndromos (se leen igual
    al derecho y al revés). Retorna una lista con los palíndromos encontrados.
    """
    palindromos = []
    for s in strings:
        s_clean = ''.join(s.lower().split())  
        if s_clean == s_clean[::-1]:
            palindromos.append(s)
    return palindromos

lista = ["reconocer","anilina","sol","oso","python","radar","La ruta natural","No es un palíndromo"]
print(ex8_filter_palindromes(lista))

['reconocer', 'anilina', 'oso', 'radar', 'La ruta natural']

In [26]:
# 9-12: Conjuntos

In [27]:
def ex9_set_intersection_and_difference(set_a, set_b):
    """Ejercicio 9:
    Dado dos conjuntos, devuelve su intersección y la diferencia (elementos de A que no
    están en B). Retorna una tupla (intersección, diferencia).
    """
    interseccion = set_a & set_b         
    diferencia = set_a - set_b          
    return (interseccion, diferencia)
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

inter, diff = ex9_set_intersection_and_difference(a, b)
print("Intersección:", inter)
print("Diferencia:", diff)

Intersección: {3, 4}
Diferencia: {1, 2}

In [28]:
def ex10_is_subset(set_a, set_b):
    """Ejercicio 10:
    Verifica si set_a es subconjunto de set_b. Devuelve True o False.
    """
    return set_a.issubset(set_b)
print(ex10_is_subset(a, b))

False

In [29]:
def ex11_count_unique_elements(lst):
    """Ejercicio 11:
    Dada una lista, cuenta cuántos elementos únicos contiene (usa set para obtener el conteo).
    Retorna el número de elementos únicos.
    """
    return len(set(lst))
lista = [1,2,2,3,4,4,4,5,6,7,8,9,2]
print(ex11_count_unique_elements(lista))

9

In [30]:
from collections import Counter
def ex12_unique_words_from_phrases(phrases):
    """Ejercicio 12:
    Dada una lista de frases (strings), extrae y devuelve el conjunto de todas las palabras
    únicas que aparecen en todas las frases. Retorna un conjunto con las palabras únicas.
    """
    
    # Dividir todas las frases en palabras y aplanar en una sola lista
    all_words = []
    for phrase in phrases:
        all_words.extend(phrase.split())
    
    # Contar cuántas veces aparece cada palabra
    word_counts = Counter(all_words)
    
    # Seleccionar solo las palabras que aparecen exactamente una vez
    unique_words = {word for word, count in word_counts.items() if count == 1}
    
    return unique_words

frases = [
    "Amo el verde",
    "El me dijo amo el verde",
    "Mi perro no puede ver el verde"
]

print(ex12_unique_words_from_phrases(frases))

{'Mi', 'dijo', 'ver', 'Amo', 'amo', 'no', 'me', 'El', 'puede', 'perro'}

In [31]:
# 13-16: Tuplas

In [32]:
def ex13_oldest_person(tuple_list):
    """Ejercicio 13:
    Recibe una lista de tuplas (nombre, edad). Devuelve la tupla de la persona con mayor edad.
    """
    return max(tuple_list, key=lambda x: x[1])
personas = [("Oscar", 46), ("Luis", 30), ("Ximena", 28)]
print(ex13_oldest_person(personas))

('Oscar', 46)

In [33]:
def ex14_convert_list_of_lists_to_tuples(list_of_lists):
    """Ejercicio 14:
    Convierte una lista de listas en una lista de tuplas. Retorna la nueva lista de tuplas.
    """
    return [tuple(sublist) for sublist in list_of_lists]
lista= [[1, 2], [70, 56], [62,24]]
print(ex14_convert_list_of_lists_to_tuples(lista))

[(1, 2), (70, 56), (62, 24)]

In [34]:
def ex15_sum_of_tuple_abc(t):
    """Ejercicio 15:
    Recibe una tupla de tres números (a, b, c). Desempaquétala y devuelve la suma a+b+c. 
    Retorna un número entero o flotante.
    """
    a, b, c = t
    return a + b + c
print(ex15_sum_of_tuple_abc((57, 97, 107)))

261

In [35]:
def ex16_sort_product_price(prod_price_list):
    """Ejercicio 16:
    Dada una lista de tuplas (producto, precio), ordénala por precio de menor a mayor.
    Retorna la lista ordenada.
    """
    return sorted(prod_price_list, key=lambda x: x[1])
productos = [("Pan", 10), ("Jugo", 45), ("Chocolate", 33),("Sopa",42)]
print(ex16_sort_product_price(productos))

[('Pan', 10), ('Chocolate', 33), ('Sopa', 42), ('Jugo', 45)]

In [36]:
# 17-20: Diccionarios

In [37]:
def ex17_char_frequency(s):
    """Ejercicio 17:
    Cuenta la frecuencia de cada carácter en una cadena usando un diccionario.
    Retorna un diccionario {carácter: frecuencia}.
    """
    freq = {}
    for char in s:
        if char in freq:
            freq[char] += 1
        else:
            freq[char] = 1
    return freq
print(ex17_char_frequency("parangaricutirimicuaro"))

{'p': 1, 'a': 4, 'r': 4, 'n': 1, 'g': 1, 'i': 4, 'c': 2, 'u': 2, 't': 1, 'm': 1, 'o': 1}

In [38]:
def ex18_best_student(grades_dict):
    """Ejercicio 18:
    Dado un diccionario {alumno: calificación}, devuelve al mejor estudiante.
    Retorna una tupla (nombre, calificación).
    """
    best = max(grades_dict.items(), key=lambda x: x[1])
    return best
notas = {"Monica": 85, "Marie": 92, "Oswaldo": 88}
print(ex18_best_student(notas))

('Marie', 92)

In [39]:
def ex19_invert_dictionary(d):
    """Ejercicio 19:
    Invierte un diccionario, intercambiando claves y valores.
    Retorna el diccionario invertido.
    """
    return {value: key for key, value in d.items()}
dic = {"neurona": 1, "astrocito": 2, "glia": 3,"BHE": 4}
print(ex19_invert_dictionary(dic))

{1: 'neurona', 2: 'astrocito', 3: 'glia', 4: 'BHE'}

In [40]:
def ex20_merge_dicts_sum_values(d1, d2):
    """Ejercicio 20:
    Fusiona dos diccionarios sumando los valores de las claves que se repitan. 
    Devuelve el diccionario resultante.
    """
    merged = d1.copy()  
    for key, value in d2.items():
        merged[key] = merged.get(key, 0) + value
    return merged
d1 = {"a": 6, "b": 41, "c": 55}
d2 = {"b": 21, "c": 27, "d": 29}
print(ex20_merge_dicts_sum_values(d1, d2))

{'a': 6, 'b': 62, 'c': 82, 'd': 29}

In [41]:
# 21-24: NumPy

In [42]:
def ex21_numpy_array_set_fifth():
    """Ejercicio 21:
    Crea un arreglo de NumPy de 10 ceros y cambia el quinto elemento (índice 4) a 1.
    Retorna el array resultante.
    """
    arr = np.zeros(10, dtype=int)
    arr[4] = 1
    return arr
print(ex21_numpy_array_set_fifth())

[0 0 0 0 1 0 0 0 0 0]

In [43]:
def ex22_numpy_matrix_3x3():
    """Ejercicio 22:
    Genera una matriz 3x3 con los valores del 0 al 8. 
    Retorna la matriz como array de NumPy.
    """
    return np.arange(9).reshape(3, 3)
print(ex22_numpy_matrix_3x3())

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [44]:
def ex23_numpy_statistics():
    """Ejercicio 23:
    Genera un array aleatorio de 20 enteros y calcula la media, mediana y desviación estándar.
    Retorna una tupla (media, mediana, desviación estándar).
    """
    array = np.random.randint(0, 100, size=20)  
    media = np.mean(array)
    mediana = np.median(array)
    desviacion = np.std(array)
    return (media, mediana, desviacion)
print(ex23_numpy_statistics())

(np.float64(55.7), np.float64(58.0), np.float64(32.15758075477694))

In [46]:
def ex24_numpy_clip_values(arr):
    """Ejercicio 24:
    Dado un array (o lista) de números, reemplaza todos los valores mayores que 10 por 10
    (es decir, limita/"clip" los valores máximos).
    Retorna el array modificado.
    """
    arr_np = np.array(arr) 
    return np.clip(arr_np, a_min=None, a_max=10)
print(ex24_numpy_clip_values([5, 12, 8, 15, 3, 108, 206, 13, 1, 3]))

[ 5 10  8 10  3 10 10 10  1  3]

In [47]:
# 25-28: Pandas (otros)

In [49]:
def ex25_filter_rows_age_over_30():
    """Ejercicio 25:
    Crea un DataFrame con columnas 'Nombre', 'Edad' y 'Ciudad'.
    Filtra y retorna solo las filas con `Edad` > 30.
    """
    dataframe = {
        'Nombre': ['Oscar', 'Oswaldo', 'Nicole', 'Nolwen', 'Sofía'],
        'Edad': [32, 35, 28, 40, 56],
        'Ciudad': ['CDMX', 'Guadalajara', 'Monterrey', 'Puebla', 'Cancún']
    }
    
    df = pd.DataFrame(dataframe)
    df_filtrado = df[df['Edad'] > 30]
    
    return df_filtrado
print(ex25_filter_rows_age_over_30())

    Nombre  Edad       Ciudad
0    Oscar    32         CDMX
1  Oswaldo    35  Guadalajara
3   Nolwen    40       Puebla
4    Sofía    56       Cancún

In [50]:
def ex26_load_dict_into_dataframe_and_sort():
    """Ejercicio 26:
    Carga un diccionario en un DataFrame (por ejemplo {'Nombre': [...], 'Puntaje': [...]})
    y ordénalo por la columna de puntaje de mayor a menor.
    Retorna el DataFrame ordenado.
    """
    # Diccionario 
    data = {
        'Nombre': ['Lili', 'Jisoo', 'Rose', 'Jennie', 'Lisa'],
        'Puntaje': [85, 99, 88, 89, 95]
    }
    
    df = pd.DataFrame(data)
 # Ordenamos por la columna 'Puntaje' de mayor a menor
    df_ordenado = df.sort_values(by='Puntaje', ascending=False)
    
    return df_ordenado
print(ex26_load_dict_into_dataframe_and_sort())

   Nombre  Puntaje
1   Jisoo       99
4    Lisa       95
3  Jennie       89
2    Rose       88
0    Lili       85

In [51]:
def ex27_groupby_mean_value():
    """Ejercicio 27:
    Dado un DataFrame con columnas 'Grupo' y 'Valor', calcula el promedio de 'Valor'
    por cada 'Grupo' usando groupby. 
    Retorna el DataFrame agrupado con promedios.
    """
    data = {
        'Grupo': ['A', 'B', 'A', 'B', 'C', 'A', 'C'],
        'Valor': [10, 20, 30, 40, 50, 20, 60]
    }
    
    df = pd.DataFrame(data)
    
    # Agrupar por Grupo y calcular la media
    df_grouped = df.groupby('Grupo', as_index=False)['Valor'].mean()
    
    return df_grouped
print(ex27_groupby_mean_value())

  Grupo  Valor
0     A   20.0
1     B   30.0
2     C   55.0

In [52]:
def ex28_most_sold_product_from_sales_df():
    """Ejercicio 28:
    Dado un DataFrame de ventas con columnas 'Producto' y 'Cantidad', determina cuál
    es el producto con la mayor suma total de 'Cantidad' (es decir, el más vendido).
    Retorna una tupla (Producto, Ventas).
    """
    data = {
        'Producto': ['Pan', 'Leche', 'Pan', 'Queso', 'Leche', 'Pan','Queso'],
        'Cantidad': [10, 5, 20, 8, 15, 5, 17]
    }
    
    df = pd.DataFrame(data)
    
    # Agrupar por Producto y sumar las cantidades
    total_ventas = df.groupby('Producto')['Cantidad'].sum()
    
    # Obtener el producto con mayor venta
    producto_mas_vendido = total_ventas.idxmax()
    cantidad_vendida = total_ventas.max()
    
    return (producto_mas_vendido, cantidad_vendida)
print(ex28_most_sold_product_from_sales_df())

('Pan', np.int64(35))

In [53]:
# 29-32: Lambdas y funciones anónimas

In [54]:
def ex29_map_lambda_cube(lst):
    """Ejercicio 29:
    Usa map junto con una función lambda para elevar al cubo cada número en una lista.
    Devuelve la lista resultante.
    """
    return list(map(lambda x: x**3, lst))
print(ex29_map_lambda_cube([33, 27, 38, 46]))

[35937, 19683, 54872, 97336]

In [55]:
def ex30_filter_lambda_even(lst):
    """Ejercicio 30:
    Usa filter y una lambda para quedarte sólo con los números pares de una lista.
    Devuelve la lista filtrada.
    """
    return list(filter(lambda x: x % 2 == 0, lst))
print(ex30_filter_lambda_even([17, 28, 32, 41, 53, 69]))

[28, 32]

In [56]:
def ex31_sort_list_of_dicts_by_key(lst, keyname):
    """Ejercicio 31:
    Dada una lista de diccionarios, ordénala por el valor asociado a 'keyname' usando
    sorted con una lambda. Devuelve la lista ordenada.
    """
    return sorted(lst, key=lambda x: x[keyname])
lista = [{'nombre': 'Melisa', 'edad': 46},
         {'nombre': 'Lana', 'edad': 40},
         {'nombre': 'Rolando', 'edad': 22}]

print(ex31_sort_list_of_dicts_by_key(lista, 'edad'))

[{'nombre': 'Rolando', 'edad': 22}, {'nombre': 'Lana', 'edad': 40}, {'nombre': 'Melisa', 'edad': 46}]

In [57]:
def ex32_pandas_apply_lambda_uppercase(names_list):
    """Ejercicio 32:
    Crea un DataFrame con una columna 'Nombre' a partir de names_list y usa apply con
    una función lambda para crear una nueva columna con los nombres en mayúsculas.
    Devuelve el DataFrame modificado.
    """
    df = pd.DataFrame({'Nombre': names_list})
    df['Nombre_Mayus'] = df['Nombre'].apply(lambda x: x.upper())
    return df
print(ex32_pandas_apply_lambda_uppercase(['Oscar', 'Lucia', 'Sofia','Rolando','Anette','Marco']))

    Nombre Nombre_Mayus
0    Oscar        OSCAR
1    Lucia        LUCIA
2    Sofia        SOFIA
3  Rolando      ROLANDO
4   Anette       ANETTE
5    Marco        MARCO