In [1]:
import pandas as pd
import numpy as np

# """Ejercicio 1:
    Crea dos DataFrame que compartan la misma estructura de columnas (por ejemplo,
    'Nombre' y 'Edad'), con al menos 3 filas cada uno. Concaténalos verticalmente
    en un único DataFrame. Retorna el DataFrame resultante.

In [8]:
import pandas as pd

def ex1_concat_same_structure():
    df1 = pd.DataFrame({
        "Nombre": ["Lulú", "Ricardo", "Marco"],
        "Edad": [60, 30, 58]
})

    df2 = pd.DataFrame({
        "Nombre": ["Sofía", "Carlos", "Leonardo"],
        "Edad": [24, 21, 11]
})

    df_concat = pd.concat([df1, df2], ignore_index=True)
    return df_concat
print(ex1_concat_same_structure())

     Nombre  Edad
0      Lulú    60
1   Ricardo    30
2     Marco    58
3     Sofía    24
4    Carlos    21
5  Leonardo    11

# "Ejercicio 2:
    Tienes un DataFrame con ventas de enero y otro con ventas de febrero (mismas columnas).
    Concaténalos en un solo DataFrame y añade una columna que indique el mes original
    de cada fila (por ejemplo: 'Enero' o 'Febrero'). Retorna el DataFrame resultante.
    """

In [11]:
import pandas as pd

def ex2_concat_with_month_column():
    df_Enero = pd.DataFrame({
        "Productos": ["Mochila", "Goma", "Lapicero", "Impresora"],
        "Ventas": [150, 13, 40, 2000]
    })
    df_Enero["Mes"] = "Enero" 

    df_Febrero = pd.DataFrame({
        "Productos": ["Mochila", "Goma", "Lapicero", "Impresora"],
        "Ventas": [150, 15, 60, 2200]
    })
    df_Febrero["Mes"] = "Febrero"

    df_concat = pd.concat([df_Enero, df_Febrero], ignore_index=True)

    return df_concat
print(ex2_concat_with_month_column())

   Productos  Ventas      Mes
0    Mochila     150    Enero
1       Goma      13    Enero
2   Lapicero      40    Enero
3  Impresora    2000    Enero
4    Mochila     150  Febrero
5       Goma      15  Febrero
6   Lapicero      60  Febrero
7  Impresora    2200  Febrero

# Ejercicio 3:
    Crea dos DataFrame que no tengan exactamente las mismas columnas (ej.: uno tiene
    'Producto' y 'Ventas', el otro 'Producto' y 'Descuento'). Concaténalos y asegura
    que los valores faltantes queden rellenados con 0. Retorna el DataFrame resultante.
    """

In [18]:
import pandas as pd

def ex3_concat_diff_columns_fillna():
    df_ventas = pd.DataFrame({
        "Producto": ["Mochila", "Goma", "Lapicero", "Impresora"],
        "Ventas": [150, 13, 40, 2000]
    })

    df_descuentos = pd.DataFrame({
        "Producto": ["Marcatextos", "Escritorio", "Computadora"],
        "Descuento": [10, 20, 15]
    })

    df_concat = pd.concat([df_ventas, df_descuentos], ignore_index=True)
    df_concat = df_concat.fillna(0)

    return df_concat
print(ex3_concat_diff_columns_fillna())

      Producto  Ventas  Descuento
0      Mochila   150.0        0.0
1         Goma    13.0        0.0
2     Lapicero    40.0        0.0
3    Impresora  2000.0        0.0
4  Marcatextos     0.0       10.0
5   Escritorio     0.0       20.0
6  Computadora     0.0       15.0

# Ejercicio 4:
    Genera tres DataFrame pequeños (cada uno con, por ejemplo, 3 filas) que representen
    notas de distintos grupos de alumnos. Concaténalos verticalmente en un solo DataFrame
    que contenga todas las notas. Retorna el DataFrame resultante.
    """

In [15]:
import pandas as pd

def ex4_concat_three_groups():
    df_GrupoA = pd.DataFrame({
        'Alumno': ['Luis', 'Javier', 'Paola'],
        'Nota': [8.5, 7.0, 9.0],
        'Grupo': 'A'
})

    df_GrupoB = pd.DataFrame({
        'Alumno': ['Yanin', 'Elena', 'Manuel'],
        'Nota': [6.5, 8.0, 7.5],
        'Grupo': 'B'
})

    df_GrupoC = pd.DataFrame({
        'Alumno': ['Celia', 'Andrés', 'Enrique'],
        'Nota': [9.5, 6.0, 8.0],
        'Grupo': 'C'
})

    df_total = pd.concat([df_GrupoA, df_GrupoB, df_GrupoC], ignore_index=True)

    return df_total
print(ex4_concat_three_groups())

    Alumno  Nota Grupo
0     Luis   8.5     A
1   Javier   7.0     A
2    Paola   9.0     A
3    Yanin   6.5     B
4    Elena   8.0     B
5   Manuel   7.5     B
6    Celia   9.5     C
7   Andrés   6.0     C
8  Enrique   8.0     C

 # Ejercicio 5:
    Dada una lista de enteros (o strings) que puede contener duplicados, devuelve una
    nueva lista sin duplicados preservando el orden original. No uses directamente set()
    para eliminar duplicados (escribe la lógica que preserve el orden). Retorna la nueva 
    lista sin duplicados.

In [91]:
def ex5_remove_duplicates(lista):
    nueva_lista = []  
    for elemento in lista:
        if elemento not in nueva_lista:  
            nueva_lista.append(elemento)
    return nueva_lista
ex5_remove_duplicates([2, 2, 2, 4, 4, 6, 8, 8,8, 8, 10])

[2, 4, 6, 8, 10]

#  Ejercicio 6:
    Dada una lista de tuplas, por ejemplo [("a", 3), ("b", 1), ("c", 2)], ordénala
    por el segundo elemento de cada tupla y devuelve la lista ordenada. Usa una función
    anónima si lo deseas. Retorna la lista ordenada.
    """

In [99]:
def ex6_sort_by_second_element(lista):
    ordenada = sorted(lista, key=lambda x: x[1])
    return ordenada
(ex6_sort_by_second_element([("a", 3), ("b", 1), ("c", 2)]))

[('b', 1), ('c', 2), ('a', 3)]

# Ejercicio 7:
    Devuelve una lista con los primeros n múltiplos de 7 (por ejemplo, n=5 -> [7,14,21,28,35]).
    Retorna la lista generada.
    """

In [96]:
def ex7_first_n_multiples_of_7(n):
    multiplos = [7 * i for i in range(1, n + 1)]
    return multiplos
(ex7_first_n_multiples_of_7(5))

[7, 14, 21, 28, 35]

#  Ejercicio 8:
    Dada una lista de cadenas, devuelve sólo aquellas que son palíndromos (se leen igual
    al derecho y al revés). Retorna una lista con los palíndromos encontrados.
    """

In [101]:
def ex8_filter_palindromes(strings):
    palindromos = [s for s in strings if s == s[::-1]]
    return palindromos
(ex8_filter_palindromes(["12321", "456", "78987", "12"]))

['12321', '78987']

#  Ejercicio 9:
    Dado dos conjuntos, devuelve su intersección y la diferencia (elementos de A que no
    están en B). Retorna una tupla (intersección, diferencia).
    """

In [98]:
def ex9_set_intersection_and_difference(set_a, set_b):
    interseccion = set_a & set_b      
    diferencia = set_a - set_b         
    return (interseccion, diferencia)
A = {9, 8, 7, 6}
B = {1, 2, 8, 7}
(ex9_set_intersection_and_difference(A, B))

({7, 8}, {6, 9})

# Ejercicio 10:
    Verifica si set_a es subconjunto de set_b. Devuelve True o False.
    """

In [102]:
def ex10_is_subset(set_a, set_b):
    return set_a.issubset(set_b)
A = {100, 200}
B = {100, 200, 35, 48}
(ex10_is_subset(A, B))  
(ex10_is_subset(B, A))

False

#  Ejercicio 11:
    Dada una lista, cuenta cuántos elementos únicos contiene (usa set para obtener el conteo).
    Retorna el número de elementos únicos.
    """

In [103]:
def ex11_count_unique_elements(lst):
    return len(set(lst))
lista = [15, 20, 78, 200, 96, 20 , 600, 600]
(ex11_count_unique_elements(lista))

6

#  Ejercicio 12:
    Dada una lista de frases (strings), extrae y devuelve el conjunto de todas las palabras
    únicas que aparecen en todas las frases. Retorna un conjunto con las palabras únicas.
    """

In [104]:
def ex12_unique_words_from_phrases(phrases):
    palabras_unicas = set() 
    for frase in phrases:
        palabras = frase.split()     
        palabras_unicas.update(palabras)  
    return palabras_unicas

frases = [
    "Estoy muy feliz",
    "Me gusta comer chocolate",
    "cuando me lo recompensan"
]
(ex12_unique_words_from_phrases(frases))

{'Estoy',
 'Me',
 'chocolate',
 'comer',
 'cuando',
 'feliz',
 'gusta',
 'lo',
 'me',
 'muy',
 'recompensan'}

#  Ejercicio 13:
    Recibe una lista de tuplas (nombre, edad). Devuelve la tupla de la persona con mayor edad.
    """

In [105]:
def ex13_oldest_person(tuple_list):
    return max(tuple_list, key=lambda x: x[1])
personas = [("Sofía", 24), ("Lulú", 50), ("Lionel", 11), ("Martha", 21), ("Claudia", 80)]
(ex13_oldest_person(personas))

('Claudia', 80)

# Ejercicio 14:
    Convierte una lista de listas en una lista de tuplas. Retorna la nueva lista de tuplas.
    """

In [106]:
def ex14_convert_list_of_lists_to_tuples(list_of_lists):
    return [tuple(sublist) for sublist in list_of_lists]
lista = [["A", "B"], ["C", "D"], ["E", "F"]]
(ex14_convert_list_of_lists_to_tuples(lista))

[('A', 'B'), ('C', 'D'), ('E', 'F')]

# Ejercicio 15:
    Recibe una tupla de tres números (a, b, c). Desempaquétala y devuelve la suma a+b+c. 
    Retorna un número entero o flotante.
    """

In [108]:
def ex15_sum_of_tuple_abc(t):
    a, b, c = t
    return a + b + c
print(ex15_sum_of_tuple_abc((10, 20, 30)))  
print(ex15_sum_of_tuple_abc((1.2, 3.4, 5.6)))  
print(ex15_sum_of_tuple_abc((-1, -5, 3)))

60
10.2
-3

#  Ejercicio 16:
    Dada una lista de tuplas (producto, precio), ordénala por precio de menor a mayor.
    Retorna la lista ordenada.
    """

In [110]:
def ex16_sort_product_price(prod_price_list):
    return sorted(prod_price_list, key=lambda x: x[1])
productos1 = [("Goma", 3), ("Marcatextos", 15), ("Cuaderno", 12), ("Lápiz", 5)]
print(ex16_sort_product_price(productos1))
productos2 = [("Audífonos", 75), ("Cargador", 25), ("IPad", 350), ("Teclado", 40)]
(ex16_sort_product_price(productos2))

[('Goma', 3), ('Lápiz', 5), ('Cuaderno', 12), ('Marcatextos', 15)]

[('Cargador', 25), ('Teclado', 40), ('Audífonos', 75), ('IPad', 350)]

# Ejercicio 17:
    Cuenta la frecuencia de cada carácter en una cadena usando un diccionario.
    Retorna un diccionario {carácter: frecuencia}.
    """

In [115]:
def ex17_char_frequency(s):
    freq = {}  
    for char in s:
        if char in freq:
            freq[char] += 1
        else:
            freq[char] = 1
    return freq
frecuencia = "Tengo ganas de comer pollo asado"
(ex17_char_frequency(frecuencia))

{'T': 1,
 'e': 3,
 'n': 2,
 'g': 2,
 'o': 5,
 ' ': 5,
 'a': 4,
 's': 2,
 'd': 2,
 'c': 1,
 'm': 1,
 'r': 1,
 'p': 1,
 'l': 2}

#  Ejercicio 18:
    Dado un diccionario {alumno: calificación}, devuelve al mejor estudiante.
    Retorna una tupla (nombre, calificación).
    """

In [114]:
def ex18_best_student(grades_dict):
    return max(grades_dict.items(), key=lambda x: x[1])
grades_dict= {"Diego": 85.5, "Sebastián": 92.6, "Carlos": 78.0, "Valeria":67.1, "Carlos2": 99.8, "Marco": 99.6, "Santiago": 89.9}
(ex18_best_student(grades_dict))

('Carlos2', 99.8)

# Ejercicio 19:
    Invierte un diccionario, intercambiando claves y valores.
    Retorna el diccionario invertido.
    """

In [116]:
def ex19_invert_dictionary(d):
    return {v: k for k, v in d.items()}
d= {"ANA": "Primer lugar", "Sofía": "Segundo lugar", "Juan Carlos": "Tercer lugar"}
(ex19_invert_dictionary(d))

{'Primer lugar': 'ANA',
 'Segundo lugar': 'Sofía',
 'Tercer lugar': 'Juan Carlos'}

# Ejercicio 20:
    Fusiona dos diccionarios sumando los valores de las claves que se repitan. 
    Devuelve el diccionario resultante.
    """

In [120]:
def ex20_merge_dicts_sum_values(d1, d2):
    claves = d1.copy()  
    for k, v in d2.items():
        if k in claves:
            claves[k] += v
        else:
            claves[k] = v
    return claves
d1 = {"a": 6, "b": 6.5, "c": 6.0}
d2= {"b": 6, "c": 6.9, "d": 6}
(ex20_merge_dicts_sum_values(d1, d2))

{'a': 6, 'b': 12.5, 'c': 12.9, 'd': 6}

#  Ejercicio 21:
    Crea un arreglo de NumPy de 10 ceros y cambia el quinto elemento (índice 4) a 1.
    Retorna el array resultante.
    """

In [121]:
def ex21_numpy_array_set_fifth():
    arr = np.zeros(10) 
    arr[4] = 1           
    return arr
(ex21_numpy_array_set_fifth())

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

# Ejercicio 22:
    Genera una matriz 3x3 con los valores del 0 al 8. 
    Retorna la matriz como array de NumPy.
    """

In [122]:
def ex22_numpy_matrix_3x3():
    matrix = np.arange(9).reshape(3, 3)
    return matrix
(ex22_numpy_matrix_3x3())

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

#  Ejercicio 23:
    Genera un array aleatorio de 20 enteros y calcula la media, mediana y desviación estándar.
    Retorna una tupla (media, mediana, desviación estándar).
    """

In [124]:
def ex23_numpy_statistics():
    array = np.random.randint(1, 101, size=20)  
    media = np.mean(array)
    mediana = np.median(array)
    desviacion_estandar = np.std(array)
    return (media, mediana, desviacion_estandar)
(ex23_numpy_statistics())

(np.float64(52.45), np.float64(61.0), np.float64(34.607044080649246))

# Ejercicio 24:
    Dado un array (o lista) de números, reemplaza todos los valores mayores que 10 por 10
    (es decir, limita/"clip" los valores máximos).
    Retorna el array modificado.
    """

In [126]:
def ex24_numpy_clip_values(arr):
    lista = np.array(arr)  
    lista_clipped = np.clip(arr, None, 10)  
    return lista_clipped
(ex24_numpy_clip_values([3, 7, 12, 5, 15, 9]))

array([ 3,  7, 10,  5, 10,  9])

#  Ejercicio 25:
    Crea un DataFrame con columnas 'Nombre', 'Edad' y 'Ciudad'.
    Filtra y retorna solo las filas con `Edad` > 30.
    """

In [127]:
def ex25_filter_rows_age_over_30():
    df = pd.DataFrame({
        "Nombre": ["Sofía", "Carlos", "Gustavo", "Fernanda", "Araceli"],
        "Edad": [24, 21, 60, 18, 58],
        "Ciudad": ["CDMX", "Monterrey", "Guadalajara", "Puebla", "Toluca"]
    })
    df_filtrado = df[df["Edad"] > 30]
    return df_filtrado
(ex25_filter_rows_age_over_30())

    Nombre  Edad       Ciudad
2  Gustavo    60  Guadalajara
4  Araceli    58       Toluca

#  Ejercicio 26:
    Carga un diccionario en un DataFrame (por ejemplo {'Nombre': [...], 'Puntaje': [...]})
    y ordénalo por la columna de puntaje de mayor a menor.
    Retorna el DataFrame ordenado.
    """

In [128]:
def ex26_load_dict_into_dataframe_and_sort():
    datos = {
        "Nombre":["Sofía", "Carlos", "Gustavo", "Fernanda", "Araceli", "Jorge", "Yanin"],
        "Puntaje": [100, 95, 70, 80, 72, 50, 89]
    }
    df = pd.DataFrame(datos)
    df_ordenado = df.sort_values(by="Puntaje", ascending=False)
    return df_ordenado
(ex26_load_dict_into_dataframe_and_sort())

     Nombre  Puntaje
0     Sofía      100
1    Carlos       95
6     Yanin       89
3  Fernanda       80
4   Araceli       72
2   Gustavo       70
5     Jorge       50

# Ejercicio 27:
    Dado un DataFrame con columnas 'Grupo' y 'Valor', calcula el promedio de 'Valor'
    por cada 'Grupo' usando groupby. 
    Retorna el DataFrame agrupado con promedios.
    """

In [129]:
def ex27_groupby_mean_value():
    df = pd.DataFrame({
        "Grupo": ["A", "B", "C", "D", "E", "E", "D", "C", "B", "A"],
        "Valor": [10, 20, 15, 25, 30, 40, 50, 80, 60, 14 ]
    })
    df_promedio = df.groupby("Grupo", as_index=False)["Valor"].mean()
    return df_promedio
(ex27_groupby_mean_value())

  Grupo  Valor
0     A   12.0
1     B   40.0
2     C   47.5
3     D   37.5
4     E   35.0

#  Ejercicio 28:
    Dado un DataFrame de ventas con columnas 'Producto' y 'Cantidad', determina cuál
    es el producto con la mayor suma total de 'Cantidad' (es decir, el más vendido).
    Retorna una tupla (Producto, Ventas).
    """

In [130]:
def ex28_most_sold_product_from_sales_df():
    df = pd.DataFrame({
        "Producto": ["Cuaderno", "Mochila", "Cuaderno", "Mochila", "Libro"],
        "Cantidad": [5, 10, 8, 3, 7]
    })
    ventas= df.groupby("Producto")["Cantidad"].sum()
    mas_ventas= ventas.idxmax()
    cantidad_vendida = ventas.max()
    return (mas_ventas, cantidad_vendida)
(ex28_most_sold_product_from_sales_df())

('Cuaderno', np.int64(13))

#  Ejercicio 29:
    Usa map junto con una función lambda para elevar al cubo cada número en una lista.
    Devuelve la lista resultante.
    """

In [131]:
def ex29_map_lambda_cube(lst):
    elevacion_al_cubo= list(map(lambda x: x**3, lst))
    return elevacion_al_cubo
(ex29_map_lambda_cube([2, 4, 6, 8, 10, 12, 25, 278, 0]))

[8, 64, 216, 512, 1000, 1728, 15625, 21484952, 0]

#  Ejercicio 30:
    Usa filter y una lambda para quedarte sólo con los números pares de una lista.
    Devuelve la lista filtrada.
    """

In [132]:
def ex30_filter_lambda_even(lst):
    pares = list(filter(lambda x: x % 2 == 0, lst))
    return pares
(ex30_filter_lambda_even([10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]))

[10, 8, 6, 4, 2, 0]

#   Ejercicio 31:
    Dada una lista de diccionarios, ordénala por el valor asociado a 'keyname' usando
    sorted con una lambda. Devuelve la lista ordenada.
    """

In [134]:
def ex31_sort_list_of_dicts_by_key(lst, keyname):
    return sorted(lst, key=lambda x: x[keyname])
lista = [
    {"Nombre": "Kenya", "Edad": 18},
    {"Nombre": "Luis", "Edad": 30},
    {"Nombre": "Paola", "Edad": 21},
    {"Nombre": "Meche", "Edad": 19}
]
(ex31_sort_list_of_dicts_by_key(lista, "Edad"))

[{'Nombre': 'Kenya', 'Edad': 18},
 {'Nombre': 'Meche', 'Edad': 19},
 {'Nombre': 'Paola', 'Edad': 21},
 {'Nombre': 'Luis', 'Edad': 30}]

#  Ejercicio 32:
    Crea un DataFrame con una columna 'Nombre' a partir de names_list y usa apply con
    una función lambda para crear una nueva columna con los nombres en mayúsculas.
    Devuelve el DataFrame modificado.
    """

In [135]:
def ex32_pandas_apply_lambda_uppercase(names_list):
    df = pd.DataFrame({"Nombre": names_list})
    df["Nombre_Mayus"] = df["Nombre"].apply(lambda x: x.upper())
    return df
Nombre = ["lourdes", "marco", "ricardo", "claudia"]
(ex32_pandas_apply_lambda_uppercase(Nombre))

    Nombre Nombre_Mayus
0  lourdes      LOURDES
1    marco        MARCO
2  ricardo      RICARDO
3  claudia      CLAUDIA