# TAREA

## parea el 2do parcial


Cada ejercicio está representado por una función con su docstring que contiene
la instrucción (no incluye soluciones). Implementa las funciones por tu cuenta.

In [272]:
import pandas as pd
import numpy as np

In [ ]:
# -----------------------------
# 1-4: Pandas concat
# -----------------------------
def ex1_concat_same_structure():
    df1 = pd.DataFrame({"Nombre":["Ana","Meche","Pao","Paula","Mafer"], "Edad":[22,20,21,20,19]})
    df2 = pd.DataFrame({"Nombre":["Salvador","Karem","Elvira","Monica","Soledad"], "Edad":[56,54,58,46,54]})
    dfresultados = pd.concat([df1, df2], ignore_index=True)
    return dfresultados
    pass

def ex2_concat_with_month_column():
    Enero = pd.DataFrame({"Producto":["Iphone","Samsug","LG","Huawei"], "Ventas":[100,3,50,60]})
    Febrero = pd.DataFrame({"Producto":["Iphone","Samsug","LG","Huawei"], "Ventas":[200,12,30,83]})
    Enero["Mes"] = "Enero"
    Febrero["Mes"] = "Febrero"
    df_ventas = pd.concat([Enero, Febrero], ignore_index=True)
    return df_ventas
    pass

def ex3_concat_diff_columns_fillna():
    df_ventas = pd.DataFrame({"Producto":["Camisa","Pantalón","Zapatos","Sombrero","Bufanda"], "Ventas":[100,3,50,60,22]})
    df_disponibles = pd.DataFrame({"Producto":["Camisa","Pantalón","Zapatos","Sombrero","Bufanda"], "Disponibles":[150,50,80,30,2]})
    return pd.concat([df_ventas, df_disponibles], ignore_index=True).fillna(0) 
    pass

def ex4_concat_three_groups():
    Grupo1 = pd.DataFrame({"Alumno":["Ana","Pao","Pau"], "Nota":np.random.randint(1,11,size=3)})
    Grupo2 = pd.DataFrame({"Alumno":["Maca","Lucy","Javier"], "Nota":np.random.randint(1,11,size=3)})
    Grupo3 = pd.DataFrame({"Alumno":["Rodrigo","Luna","Emilio"], "Nota":np.random.randint(1,11,size=3)})
    Todos = pd.concat([Grupo1, Grupo2, Grupo3], ignore_index=True)
    return Todos
    pass

In [ ]:
print(ex1_concat_same_structure())

In [ ]:
print(ex2_concat_with_month_column())

In [ ]:

print( ex3_concat_diff_columns_fillna())

In [ ]:
print(ex4_concat_three_groups())

In [ ]:

# -----------------------------
# 5-8: Listas
# -----------------------------
def ex5_remove_duplicates_preserve_order(lst):
    lista1 = []
    for item in lst:
        if item not in lista1:
            lista1.append(item)
    return lista1
    pass

def ex6_sort_tuples_by_second_element(tuples_list):
    return sorted(tuples_list, key=lambda x:x[1])
    pass

def ex7_first_n_multiples_of_7(n):
    lista = []
    for i in range(1, n + 1):
        lista.append(7 * i)
    return lista
    pass

def ex8_filter_palindromes(strings):
    palindromos = []
    for s in strings:
        if s == s[::-1]:
            palindromos.append(s)
    return palindromos
    pass

In [ ]:
lst=(1,1,1,2,44,55,55,100,110)
ex5_remove_duplicates_preserve_order(lst)

In [ ]:
tuples_list= [("a", 3), ("b", 1), ("c", 2),("d",4)]
ex6_sort_tuples_by_second_element(tuples_list)

In [ ]:
print(ex7_first_n_multiples_of_7(n))

In [ ]:
lista_cadenas=["ana","reconocer","amor","rallar","oso","somos","cantor"]
resultados= ex8_filter_palindromes(lista_cadenas)
print (resultados)

In [301]:
# -----------------------------
# 9-12: Conjuntos
# -----------------------------
def ex9_set_intersection_and_difference(set_a, set_b):
    return (set_a & set_b, set_a - set_b)
    pass

def ex10_is_subset(set_a, set_b):
    return set_a <= set_b
    pass

def ex11_count_unique_elements(lst):
    unicos = set(lst)
    return len(unicos)
    pass

def ex12_unique_words_from_phrases(phrases):
    palabras = set(phrases[0].lower().split())
    for frase in phrases[1:]:
        palabras &= set(frase.lower().split())
    return palabras
    pass

In [302]:
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
ex9_set_intersection_and_difference(set_A, set_b)

print("Intersección:", interseccion)  
print("Diferencia:", diferencia)

Intersección: {3, 4}
Diferencia: {1, 2}

In [303]:
print(ex10_is_subset(set_a, set_b))

False

In [ ]:
lst=["abeja","abeja","ajbeja","hola"]
ex11_count_unique_elements(lst)

In [ ]:
phrases=["Me llama Ana","Me llama Monste","Me llama mi mama en las tardes","Mi mama me llama para cocinar"]
ex12_unique_words_from_phrases(phrases)

In [ ]:

# -----------------------------
# 13-16: Tuplas
# -----------------------------
def ex13_oldest_person(tuple_list):
    return max(tuple_list, key=lambda x:x[1])
    pass

def ex14_convert_list_of_lists_to_tuples(list_of_lists):
    lista_de_tuplas = []
    for cada_uno in list_of_lists:
        lista_de_tuplas.append(tuple(cada_uno))
    return lista_de_tuplas
    pass

def ex15_sum_of_tuple_abc(t):
    a, b, c = t
    return a + b + c
    pass

def ex16_sort_product_price(prod_price_list):
    return sorted(prod_price_list, key=lambda x:x[1])
    pass

In [ ]:
tuple_list=[("Ana",22),("Salvador",54),("Karem",50),("Nich",30)]
ex13_oldest_person(tuple_list)

In [ ]:
list_of_lists = [[1, 2], [3, 4], [5, 6]]
ex14_convert_list_of_lists_to_tuples(list_of_lists)

In [ ]:
t= [(1.99),(3.15),(15.3)]
ex15_sum_of_tuple_abc(t)

In [ ]:
prod_price_list= [("Lasaña",100),("Pizza",250),("Pasta con camarones",350),("Guacamole",45)]
ex16_sort_product_price(prod_price_list)

In [309]:

# -----------------------------
# 17-20: Diccionarios
# -----------------------------
def ex17_char_frequency(s):
    frecuencia = {}
    for caracter in s:
        if caracter in frecuencia:
            frecuencia[caracter] += 1
        else:
            frecuencia[caracter] = 1
    return frecuencia
    pass

def ex18_best_student(grades_dict):
    return max(grades_dict.items(), key=lambda x: x[1])
    pass

def ex19_invert_dictionary(d):
    return dict((clave, valor) for valor, clave in d.items()) 
    pass

def ex20_merge_dicts_sum_values(d1, d2):
    original = d1.copy()
    for clave, valor in d2.items():
        if clave in original:
            original[clave] += valor
        else:
            original[clave] = valor
    return original
    pass

In [310]:
s=("prueba del texto que hay aqui")
ex17_char_frequency(s)

{'p': 1,
 'r': 1,
 'u': 3,
 'e': 4,
 'b': 1,
 'a': 3,
 ' ': 5,
 'd': 1,
 'l': 1,
 't': 2,
 'x': 1,
 'o': 1,
 'q': 2,
 'h': 1,
 'y': 1,
 'i': 1}

In [311]:
grades_dict = {"Ana": 8.7, "Luis": 9.5, "Martha": 7.9,"Salva":9.9}
ex18_best_student(grades_dict)

('Salva', 9.9)

In [312]:
d = {"Ana": 8.7, "Luis": 9.5, "Marta": 7.9,"Salva":9.9}
ex19_invert_dictionary(d)

{8.7: 'Ana', 9.5: 'Luis', 7.9: 'Marta', 9.9: 'Salva'}

In [313]:
d1 = {"manzanas": 3, "peras": 5, "anabanana": 2}
d2 = {"peras": 4, "anabanana": 3, "kiwisini": 6}
ex20_merge_dicts_sum_values(d1, d2)

{'manzanas': 3, 'peras': 9, 'anabanana': 5, 'kiwisini': 6}

In [288]:

# -----------------------------
# 21-24: NumPy
# -----------------------------
def ex21_numpy_array_set_fifth():
    arreglo = np.zeros(10)
    arreglo[4] = 1
    return arreglo
    pass

def ex22_numpy_matrix_3x3():
    matriz = np.arange(9).reshape((3,3))
    return matriz
    pass

def ex23_numpy_statistics():
    aleatorio = np.random.randint(0,101,20)
    media = np.mean(aleatorio)
    mediana = np.median(aleatorio)
    desviacion = np.std(aleatorio)
    return (media, mediana, desviacion)
    pass

def ex24_numpy_clip_values(arr):
    reemplazo = []
    for elemento in arr:
        if elemento > 10:
            reemplazo.append(10)
        else:
            reemplazo.append(elemento)
    return reemplazo
    pass

In [ ]:
print (ex21_numpy_array_set_fifth())

In [ ]:
print (ex22_numpy_matrix_3x3())

In [ ]:
print(ex23_numpy_statistics())

In [ ]:
arr=[5, 12, 7, 20, 3, 13,13]
ex24_numpy_clip_values(arr)

In [ ]:
# -----------------------------
# 25-28: Pandas (otros)
# -----------------------------
def ex25_filter_rows_age_over_30():
    data = {"Nombre": ["Ana", "Andrea", "Salvador", "Javier", "Oswaldo"],
            "Edad": [22, 25, 50, 42, 47],
            "Ciudad": ["Italia", "Singapor", "Francia", "Valencia", "Portugal"]}
    df = pd.DataFrame(data)
    df_filtrado = df[df["Edad"] > 30]
    return df_filtrado
    pass

def ex26_load_dict_into_dataframe_and_sort():
    datos = {"COMIDA PARA EL CONVIVIO": ["Tacos de sal","Pizza","Tostadas de pata","Pozole","Codito"],
             "Votos": [13,20,5,7,6]}
    convivio = pd.DataFrame(datos)
    ordenado = convivio.sort_values(by="Votos", ascending=False)
    return ordenado
    pass

def ex27_groupby_mean_value():
    info = {"Grupos": ["A","B","B","C","A","B","C"],
            "Valor": [2,4,55,32,12,7,8]}
    valores_data = pd.DataFrame(info)
    valores_promedio = valores_data.groupby(by="Grupos")["Valor"].mean()
    return valores_promedio
    pass

def ex28_most_sold_product_from_sales_df():
    venta_del_dia = {"Producto": ["Tacos", "Pizza", "Tacos", "Pozole", "Pizza", "Codito", "Tacos"],
                     "Cantidad": [10,5,20,7,15,6,5]}
    data = pd.DataFrame(venta_del_dia)
    totales = data.groupby(by="Producto")["Cantidad"].sum()
    mas_vendido = totales.idxmax()
    mas_vendida = totales[mas_vendido]
    return (mas_vendido, mas_vendida)
    pass

In [ ]:
print(ex25_filter_rows_age_over_30())

In [ ]:
print(ex26_load_dict_into_dataframe_and_sort())

In [ ]:
print (ex27_groupby_mean_value())

In [ ]:
print(ex28_most_sold_product_from_sales_df())

In [304]:
# -----------------------------
# 29-32: Lambdas y funciones anónimas
# -----------------------------
def ex29_map_lambda_cube(lst):
    cubo = lambda x: x**3
    return list(map(cubo, lst))
    pass

def ex30_filter_lambda_even(lst):
    pares = filter(lambda x: x % 2 == 0, lst)
    return list(pares)
    pass

def ex31_sort_list_of_dicts_by_key(lst, keyname):
    return sorted(lst, key=lambda x: x[keyname])
    pass

def ex32_pandas_apply_lambda_uppercase(names_list):
    df = pd.DataFrame({"Nombre": names_list})
    df["Nombre_mayus"] = df["Nombre"].apply(lambda x: x.upper())
    return df
    pass

In [305]:
lst=[1, 2, 3, 4]
ex29_map_lambda_cube(lst)

[1, 8, 27, 64]

In [306]:
print(ex30_filter_lambda_even(lst))

[2, 4]

In [307]:
lst = [{"nombre": "Ana", "edad": 25},
    {"nombre": "Salvador", "edad": 50},
    {"nombre": "Andrea", "edad": 25},
    {"nombre": "Jade", "edad": 27}]


print(ex31_sort_list_of_dicts_by_key(lst, "edad"))

[{'nombre': 'Ana', 'edad': 25}, {'nombre': 'Andrea', 'edad': 25}, {'nombre': 'Jade', 'edad': 27}, {'nombre': 'Salvador', 'edad': 50}]

In [314]:
names_list = ["Ana", "Salvador", "Andrea", "Jade"]
print(ex32_pandas_apply_lambda_uppercase(names_list))

     Nombre Nombre_mayus
0       Ana          ANA
1  Salvador     SALVADOR
2    Andrea       ANDREA
3      Jade         JADE