# TAREA

## parea el 2do parcial


Cada ejercicio está representado por una función con su docstring que contiene
la instrucción (no incluye soluciones). Implementa las funciones por tu cuenta.

In [1]:
import pandas as pd
import numpy as np

In [2]:
"""
Archivo: ejercicios_python_estructuras_numpy_pandas_instrucciones.py
Descripción: 32 ejercicios (SOLO INSTRUCCIONES) sobre:
- pandas (concatenación y otras operaciones), listas, conjuntos, tuplas, diccionarios,
  NumPy y uso de lambdas (map, filter, sorted, apply).

Cada ejercicio está representado por una función con su docstring que contiene
la instrucción (no incluye soluciones). Implementa las funciones por tu cuenta.
"""

# Nota: este archivo contiene únicamente las instrucciones de cada ejercicio.
# Implementa cada función en tu entorno (o pégalas en una plataforma tipo HackerRank/LeetCode).

import pandas as pd
import numpy as np

def ex1_concat_same_structure():
    """Ejercicio 1:
    Crea dos DataFrame que compartan la misma estructura de columnas (por ejemplo,
    'Nombre' y 'Edad'), con al menos 3 filas cada uno. Concaténalos verticalmente
    en un único DataFrame. Retorna el DataFrame resultante.
    """
    pass
def ex2_concat_with_month_column():
    """Ejercicio 2:
    Tienes un DataFrame con ventas de enero y otro con ventas de febrero (mismas columnas).
    Concaténalos en un solo DataFrame y añade una columna que indique el mes original
    de cada fila (por ejemplo: 'Enero' o 'Febrero'). Retorna el DataFrame resultante.
    """
    pass
def ex3_concat_diff_columns_fillna():
    """Ejercicio 3:
    Crea dos DataFrame que no tengan exactamente las mismas columnas (ej.: uno tiene
    'Producto' y 'Ventas', el otro 'Producto' y 'Descuento'). Concaténalos y asegura
    que los valores faltantes queden rellenados con 0. Retorna el DataFrame resultante.
    """
    pass
def ex4_concat_three_groups():
    """Ejercicio 4:
    Genera tres DataFrame pequeños (cada uno con, por ejemplo, 3 filas) que representen
    notas de distintos grupos de alumnos. Concaténalos verticalmente en un solo DataFrame
    que contenga todas las notas. Retorna el DataFrame resultante.
    """
    pass

def ex5_remove_duplicates_preserve_order(lst):
    """Ejercicio 5:
    Dada una lista de enteros (o strings) que puede contener duplicados, devuelve una
    nueva lista sin duplicados preservando el orden original. No uses directamente set()
    para eliminar duplicados (escribe la lógica que preserve el orden). Retorna la nueva 
    lista sin duplicados.
    """
    pass
def ex6_sort_tuples_by_second_element(tuples_list):
    """Ejercicio 6:
    Dada una lista de tuplas, por ejemplo [("a", 3), ("b", 1), ("c", 2)], ordénala
    por el segundo elemento de cada tupla y devuelve la lista ordenada. Usa una función
    anónima si lo deseas. Retorna la lista ordenada.
    """
    pass
def ex7_first_n_multiples_of_7(n):
    """Ejercicio 7:
    Devuelve una lista con los primeros n múltiplos de 7 (por ejemplo, n=5 -> [7,14,21,28,35]).
    Retorna la lista generada.
    """
    pass
def ex8_filter_palindromes(strings):
    """Ejercicio 8:
    Dada una lista de cadenas, devuelve sólo aquellas que son palíndromos (se leen igual
    al derecho y al revés). Retorna una lista con los palíndromos encontrados.
    """
    pass

def ex9_set_intersection_and_difference(set_a, set_b):
    """Ejercicio 9:
    Dado dos conjuntos, devuelve su intersección y la diferencia (elementos de A que no
    están en B). Retorna una tupla (intersección, diferencia).
    """
    pass
def ex10_is_subset(set_a, set_b):
    """Ejercicio 10:
    Verifica si set_a es subconjunto de set_b. Devuelve True o False.
    """
    pass
def ex11_count_unique_elements(lst):
    """Ejercicio 11:
    Dada una lista, cuenta cuántos elementos únicos contiene (usa set para obtener el conteo).
    Retorna el número de elementos únicos.
    """
    pass
def ex12_unique_words_from_phrases(phrases):
    """Ejercicio 12:
    Dada una lista de frases (strings), extrae y devuelve el conjunto de todas las palabras
    únicas que aparecen en todas las frases. Retorna un conjunto con las palabras únicas.
    """
    pass

def ex13_oldest_person(tuple_list):
    """Ejercicio 13:
    Recibe una lista de tuplas (nombre, edad). Devuelve la tupla de la persona con mayor edad.
    """
    pass
def ex14_convert_list_of_lists_to_tuples(list_of_lists):
    """Ejercicio 14:
    Convierte una lista de listas en una lista de tuplas. Retorna la nueva lista de tuplas.
    """
    pass
def ex15_sum_of_tuple_abc(t):
    """Ejercicio 15:
    Recibe una tupla de tres números (a, b, c). Desempaquétala y devuelve la suma a+b+c. 
    Retorna un número entero o flotante.
    """
    pass
def ex16_sort_product_price(prod_price_list):
    """Ejercicio 16:
    Dada una lista de tuplas (producto, precio), ordénala por precio de menor a mayor.
    Retorna la lista ordenada.
    """
    pass

def ex17_char_frequency(s):
    """Ejercicio 17:
    Cuenta la frecuencia de cada carácter en una cadena usando un diccionario.
    Retorna un diccionario {carácter: frecuencia}.
    """
    pass
def ex18_best_student(grades_dict):
    """Ejercicio 18:
    Dado un diccionario {alumno: calificación}, devuelve al mejor estudiante.
    Retorna una tupla (nombre, calificación).
    """
    pass
def ex19_invert_dictionary(d):
    """Ejercicio 19:
    Invierte un diccionario, intercambiando claves y valores.
    Retorna el diccionario invertido.
    """
    pass
def ex20_merge_dicts_sum_values(d1, d2):
    """Ejercicio 20:
    Fusiona dos diccionarios sumando los valores de las claves que se repitan. 
    Devuelve el diccionario resultante.
    """
    pass
def ex21_numpy_array_set_fifth():
    """Ejercicio 21:
    Crea un arreglo de NumPy de 10 ceros y cambia el quinto elemento (índice 4) a 1.
    Retorna el array resultante.
    """
    pass
def ex22_numpy_matrix_3x3():
    """Ejercicio 22:
    Genera una matriz 3x3 con los valores del 0 al 8. 
    Retorna la matriz como array de NumPy.
    """
    pass
def ex23_numpy_statistics():
    """Ejercicio 23:
    Genera un array aleatorio de 20 enteros y calcula la media, mediana y desviación estándar.
    Retorna una tupla (media, mediana, desviación estándar).
    """
    pass
def ex24_numpy_clip_values(arr):
    """Ejercicio 24:
    Dado un array (o lista) de números, reemplaza todos los valores mayores que 10 por 10
    (es decir, limita/"clip" los valores máximos).
    Retorna el array modificado.
    """
    pass
def ex25_filter_rows_age_over_30():
    """Ejercicio 25:
    Crea un DataFrame con columnas 'Nombre', 'Edad' y 'Ciudad'.
    Filtra y retorna solo las filas con `Edad` > 30.
    """
    pass
def ex26_load_dict_into_dataframe_and_sort():
    """Ejercicio 26:
    Carga un diccionario en un DataFrame (por ejemplo {'Nombre': [...], 'Puntaje': [...]})
    y ordénalo por la columna de puntaje de mayor a menor.
    Retorna el DataFrame ordenado.
    """
    pass
def ex27_groupby_mean_value():
    """Ejercicio 27:
    Dado un DataFrame con columnas 'Grupo' y 'Valor', calcula el promedio de 'Valor'
    por cada 'Grupo' usando groupby. 
    Retorna el DataFrame agrupado con promedios.
    """
    pass
def ex28_most_sold_product_from_sales_df():
    """Ejercicio 28:
    Dado un DataFrame de ventas con columnas 'Producto' y 'Cantidad', determina cuál
    es el producto con la mayor suma total de 'Cantidad' (es decir, el más vendido).
    Retorna una tupla (Producto, Ventas).
    """
    pass

def ex29_map_lambda_cube(lst):
    """Ejercicio 29:
    Usa map junto con una función lambda para elevar al cubo cada número en una lista.
    Devuelve la lista resultante.
    """
    pass
def ex30_filter_lambda_even(lst):
    """Ejercicio 30:
    Usa filter y una lambda para quedarte sólo con los números pares de una lista.
    Devuelve la lista filtrada.
    """
    pass
def ex31_sort_list_of_dicts_by_key(lst, keyname):
    """Ejercicio 31:
    Dada una lista de diccionarios, ordénala por el valor asociado a 'keyname' usando
    sorted con una lambda. Devuelve la lista ordenada.
    """
    pass
def ex32_pandas_apply_lambda_uppercase(names_list):
    """Ejercicio 32:
    Crea un DataFrame con una columna 'Nombre' a partir de names_list y usa apply con
    una función lambda para crear una nueva columna con los nombres en mayúsculas.
    Devuelve el DataFrame modificado.
    """
    pass

In [41]:
# Ejercicio 1
def ex1_concat_same_structure():
    df_1 = pd.DataFrame({"nombre" : ["Ana", "Brenda", "Carol"], "edad" : [19, 32, 28]})
    df_2 = pd.DataFrame({"nombre" : ["Roy", "Julio", "Luis"], "edad"  : [20, 40, 19]})
    concatenado = pd.concat([df_1, df_2])
    return concatenado

ex1_concat_same_structure()

   nombre  edad
0     Ana    19
1  Brenda    32
2   Carol    28
0     Roy    20
1   Julio    40
2    Luis    19

In [42]:
# Ejercicio 2
def ex2_concat_with_month_column():
    ventas_enero = pd.DataFrame({"Venta" : np.random.randint(100, 1000, size = 30)})
    ventas_febrero = pd.DataFrame({"Venta" : np.random.randint(100, 1000, size = 30)})

    ventas_enero['Mes'] = 'Enero'
    ventas_febrero['Mes'] = 'Febrero'
    
    ventas = pd.concat([ventas_enero, ventas_febrero])
    return ventas

ex2_concat_with_month_column()

    Venta      Mes
0     908    Enero
1     646    Enero
2     337    Enero
3     591    Enero
4     952    Enero
5     488    Enero
6     511    Enero
7     166    Enero
8     306    Enero
9     362    Enero
10    172    Enero
11    180    Enero
12    455    Enero
13    731    Enero
14    161    Enero
15    394    Enero
16    702    Enero
17    366    Enero
18    363    Enero
19    323    Enero
20    455    Enero
21    975    Enero
22    546    Enero
23    177    Enero
24    293    Enero
25    489    Enero
26    450    Enero
27    162    Enero
28    871    Enero
29    951    Enero
0     568  Febrero
1     657  Febrero
2     139  Febrero
3     238  Febrero
4     868  Febrero
5     318  Febrero
6     824  Febrero
7     651  Febrero
8     229  Febrero
9     236  Febrero
10    874  Febrero
11    111  Febrero
12    244  Febrero
13    852  Febrero
14    539  Febrero
15    940  Febrero
16    941  Febrero
17    805  Febrero
18    126  Febrero
19    375  Febrero
20    522  Febrero
21    537  Febrero
22    687  Febrero
23    913  Febrero
24    132  Febrero
25    421  Febrero
26    385  Febrero
27    937  Febrero
28    112  Febrero
29    286  Febrero

In [45]:
# Ejercicio 3
def ex3_concat_diff_columns_fillna():
    p_ventas = pd.DataFrame({"Producto" : ["arroz", "frijols", "maíz"], "Ventas" : [10, 35, 28]})
    p_descuento = pd.DataFrame({"Producto" : ["dulce", "chocolates", "gomitas"], "Descuento" : [2, 5, 12]})
    df_ventas = pd.concat([p_ventas, p_descuento]).fillna(0)
    return df_ventas

ex3_concat_diff_columns_fillna()

     Producto  Ventas  Descuento
0       arroz    10.0        0.0
1     frijols    35.0        0.0
2        maíz    28.0        0.0
0       dulce     0.0        2.0
1  chocolates     0.0        5.0
2     gomitas     0.0       12.0

In [50]:
# Ejercicio 
def ex4_concat_three_groups():
    Azul = pd.DataFrame({"Notas" : np.random.randint(1, 10, size = 3)})
    Violeta = pd.DataFrame({"Notas" : np.random.randint(1, 10, size = 3)})
    Celeste = pd.DataFrame({"Notas" : np.random.randint(1, 10, size = 3)})
    notas = pd.concat([Azul, Violeta, Celeste])
    return notas

ex4_concat_three_groups()

   Notas
0      8
1      4
2      4
0      5
1      6
2      3
0      7
1      4
2      7

In [ ]:
# Ejercicio 5
def ex5_remove_duplicates_preserve_order(lst):
    no_duplicados = []
    for item in lst:
        if item not in no_duplicados:
            no_duplicados.append(item)
    return no_duplicados

ex5_remove_duplicates_preserve_order(["casuela", "doritos", "chocolate", "chocolate"])

['arroz', 'chile', 'chocolate']

In [46]:
# Ejercicio 6
def ex6_sort_tuples_by_second_element(tuples_list):
    return sorted(tuples_list, key=lambda x: x[1])

ex6_sort_tuples_by_second_element([("azul", 1), (2, 2), ("gris", 4)])

[('azul', 1), (2, 2), ('gris', 4)]

In [9]:
#Ejercicio 7
def ex7_first_n_multiples_of_7(n):
    return [7 * i for i in range(1, n + 1)]

ex7_first_n_multiples_of_7(9)

[7, 14, 21, 28, 35, 42, 49, 56, 63]

In [ ]:
#Ejercicio
def ex8_filter_palindromes(strings):
    return [s for s in strings if s == s[::-1]]

ex8_filter_palindromes(["casuela", "oso", "ojo", "panal"])

['oso']

In [56]:
# Ejercicio 9def ex9_set_intersection_and_difference(set_a, set_b):
def ex10_is_subset(set_a, set_b):
    set_a, set_b = set(set_a), set(set_b)
    return (set_a & set_b, set_a - set_b)

ex9_set_intersection_and_difference(["miel", "azucar", 3, 4], ["panal", "hipopotamo", 3])

({3}, {4, 'azucar', 'miel'})

In [57]:
#Ejercicio 10: Verifica si set_a es subconjunto de set_b. Devuelve True o False.

def ex10_is_subset(set_a, set_b):
    set_a, set_b = set(set_a), set(set_b)
    return set_a.issubset(set_b)

ex10_is_subset(["carro", "motor","rin"], ["rin", "carro", "motor", "placa", "freno"])

True

In [13]:
# Ejercicio 
def ex11_count_unique_elements(lst):
    return len(set(lst))

ex11_count_unique_elements(["amarillo", "azul", "verde", "azul", "verde"])

3

In [14]:
# Ejercicio 12
def ex12_unique_words_from_phrases(phrases):
    palabra = set()
    for frase in phrases:
        for p in frase.split():
            palabra.add(p.lower())
    return palabra

ex12_unique_words_from_phrases(["hola hola", "azul y azul", "me gusta el azul"])

{'azul', 'el', 'gusta', 'hola', 'me', 'y'}

In [15]:
# Ejercicio 13
def ex13_oldest_person(tuple_list):
    return max(tuple_list, key=lambda x: x[1])

ex13_oldest_person([("Luis", 30), ("Carmen", 45), ("Jorge", 14)])

('Carmen', 45)

In [16]:
# Ejercicio 14
def ex14_convert_list_of_lists_to_tuples(list_of_lists):
    return [tuple(sublist) for sublist in list_of_lists]

ex14_convert_list_of_lists_to_tuples([["hola"],["azul"],["amarillo"]])

[('hola',), ('azul',), ('amarillo',)]

In [17]:
# Ejercicio 15    
def ex15_sum_of_tuple_abc(t):
    a, b, c = t
    return a + b + c
    
ex15_sum_of_tuple_abc([4, 2, 6])

12

In [18]:
# Ejercicio 16
def ex16_sort_product_price(prod_price_list):
    return sorted(prod_price_list, key=lambda x: x[1])

ex16_sort_product_price([("pizza", 100), ("chocolate", 45), ("flores", 120)])

[('chocolate', 45), ('pizza', 100), ('flores', 120)]

In [19]:
# Ejercicio 17
def ex17_char_frequency(s):
    frecuencia = {}
    for valor in s:
        frecuencia[valor] = frecuencia.get(valor, 0) + 1
    return frecuencia

ex17_char_frequency("me gusta el chocolate.")

{'m': 1,
 'e': 3,
 ' ': 3,
 'g': 1,
 'u': 1,
 's': 1,
 't': 2,
 'a': 2,
 'l': 2,
 'c': 2,
 'h': 1,
 'o': 2,
 '.': 1}

In [20]:
# Ejercicio 18
def ex18_best_student(grades_dict):
    mejor = max(grades_dict.items(), key=lambda x: x[1])
    return mejor

ex18_best_student({"Pepe" : 7, "Tom" : 10, "Julia": 8})

('Tom', 10)

In [21]:
# Ejercicio 19
def ex19_invert_dictionary(d):
    return {v: k for k, v in d.items()}

ex19_invert_dictionary({"Pepe" : 7, "Tom" : 10, "Julia": 8})

{7: 'Pepe', 10: 'Tom', 8: 'Julia'}

In [22]:
# Ejercicio 20
def ex20_merge_dicts_sum_values(d1, d2):
    resultado = d1.copy()
    for k, v in d2.items():
        resultado[k] = resultado.get(k, 0) + v
    return resultado

ex20_merge_dicts_sum_values({"Pepe" : 7, "Tom" : 10, "Julia": 8}, {"Pepe" : 3, "Abraham" : 10, "Tere": 9})

{'Pepe': 10, 'Tom': 10, 'Julia': 8, 'Abraham': 10, 'Tere': 9}

In [23]:
# Ejercicio 21
def ex21_numpy_array_set_fifth():
    ceros = np.zeros(10)
    ceros[4] = 1
    return ceros

ex21_numpy_array_set_fifth()

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

In [24]:
# Ejercicio 22
def ex22_numpy_matrix_3x3():
    matriz = pd.DataFrame(np.random.randint(0, 10, size=(3,3)))
    return matriz.to_numpy()

ex22_numpy_matrix_3x3()

array([[3, 3, 3],
       [1, 7, 7],
       [9, 3, 6]], dtype=int32)

In [25]:
# Ejercicio 23
def ex23_numpy_statistics():
    enteros = np.random.randint(15, size = 20)
    return (np.mean(enteros), np.median(enteros), np.std(enteros))
    
ex23_numpy_statistics()

(np.float64(7.35), np.float64(7.5), np.float64(4.362052269287932))

In [26]:
# Ejercicio 24
def ex24_numpy_clip_values(arr):
    for i in range(len(arr)):
        if arr[i] > 10:
            arr[i] = 10
    return arr
    
ex24_numpy_clip_values([3, 4, 19, 29, 8])

[3, 4, 10, 10, 8]

In [27]:
# Ejercicio 25
def ex25_filter_rows_age_over_30():
    df = pd.DataFrame({"Nombre": ["Luis", "Carla", "Sofía"], "Edad" : [35, 34, 27], "Ciudad" : ["Londres", "Santiago", "Buenos Aires"]})
    return df[df['Edad'] > 30]

ex25_filter_rows_age_over_30()

  Nombre  Edad    Ciudad
0   Luis    35   Londres
1  Carla    34  Santiago

In [28]:
# Ejercicio 26
def ex26_load_dict_into_dataframe_and_sort():
    df_26 = pd.DataFrame({"Sabor de helado" : ["chocolate", "vainilla", "manjar", "frutilla"], "Puntaje" : [7, 8, 10, 5]})
    return df_26.sort_values(by = "Puntaje", ascending = False)
        
ex26_load_dict_into_dataframe_and_sort()

  Sabor de helado  Puntaje
2          manjar       10
1        vainilla        8
0       chocolate        7
3        frutilla        5

In [29]:
# Ejercicio 27
def ex27_groupby_mean_value():
    df_27 = pd.DataFrame({"Grupo" : ["A", "B", "A", "B"], "Valor" : [3, 5, 9, 10]})
    return df_27.groupby("Grupo")["Valor"].mean()

ex27_groupby_mean_value()

Grupo
A    6.0
B    7.5
Name: Valor, dtype: float64

In [30]:
# Ejercicio 28
def ex28_most_sold_product_from_sales_df():
    df_28 = pd.DataFrame({"Producto" : ["flores", "chocolate", "dulces"], "Cantidad" : [30, 24, 10]})
    suma = df_28.groupby("Producto")["Cantidad"].sum()
    producto = suma.idxmax()
    return (producto, suma[producto])

ex28_most_sold_product_from_sales_df()

('flores', np.int64(30))

In [31]:
# Ejercicio 29
def ex29_map_lambda_cube(lst):
    return list(map(lambda x: x ** 3, lst))

ex29_map_lambda_cube([1, 4, 2, 3])

[1, 64, 8, 27]

In [32]:
# Ejercicio 30
def ex30_filter_lambda_even(lst):
    return list(filter(lambda x: x % 2 == 0, lst))

ex30_filter_lambda_even([4, 3, 67, 29, 20])

[4, 20]

In [33]:
#Ejercicio 31
def ex31_sort_list_of_dicts_by_key(lst, keyname):
    return sorted(lst, key=lambda x: x[keyname])

lista = [{"Producto": "flores", "Ventas": 30},
    {"Producto": "chocolate", "Ventas": 24},
    {"Producto": "dulces", "Ventas": 10}]
ex31_sort_list_of_dicts_by_key(lista, "Ventas")

[{'Producto': 'dulces', 'Ventas': 10},
 {'Producto': 'chocolate', 'Ventas': 24},
 {'Producto': 'flores', 'Ventas': 30}]

In [ ]:
# Ejercicio 32
def ex32_pandas_apply_lambda_uppercase(names_list):
    df_32 = pd.DataFrame({"Nombre" :names_list})
    df_32["mayúsculas"]  = df_32["Nombre"].apply(lambda x : x.upper())
    return df_32
    
ex32_pandas_apply_lambda_uppercase(["Omar", "Oscar", "RAmirp", "Jesus"])

    Nombre mayúsculas
0  Mariana    MARIANA
1     Raúl       RAÚL
2   Brenda     BRENDA
3    Carol      CAROL