## Abrir archivos

In [1]:
import pandas as pd

In [21]:
# abrir excel 
excel_path_file = r"C:\Users\Ana\Desktop\5to semestre\Modelos Computacionales\Neurociencias-2026-1\S03_datasets\EEG.xlsx"

In [22]:

excel_dict = pd.read_excel(excel_path_file)

In [23]:

type(excel_dict)

pandas.core.frame.DataFrame

In [24]:
# el excel tiene más hojas, cómo puedo entrar a una en específico?
# sheet_name = nombre de la hoja
pd.read_excel(excel_path_file, sheet_name = "coherence_chbmit_interictal")

  Unnamed: 0   FP1    F7    T3    C3    C4    T4    F8   FP2
0        FP1  1.00  0.25  0.18  0.12  0.10  0.09  0.07  0.06
1         F7  0.25  1.00  0.20  0.15  0.12  0.10  0.08  0.07
2         T3  0.18  0.20  1.00  0.28  0.22  0.18  0.11  0.10
3         C3  0.12  0.15  0.28  1.00  0.30  0.25  0.12  0.11
4         C4  0.10  0.12  0.22  0.30  1.00  0.35  0.14  0.13
5         T4  0.09  0.10  0.18  0.25  0.35  1.00  0.13  0.12
6         F8  0.07  0.08  0.11  0.12  0.14  0.13  1.00  0.40
7        FP2  0.06  0.07  0.10  0.11  0.13  0.12  0.40  1.00

Si no tengo el nombre de la hoja, o quiera más de una...

- genera un diccionario con toda la información, donde las llaves son los nombres de las hojas y el valor es la info de la hoja

In [25]:

excel_file_dict = pd.read_excel(excel_path_file, sheet_name =None)

In [26]:

excel_file_dict.keys()

dict_keys(['coherence_motorimagery_alpha', 'coherence_chbmit_interictal', 'coherence_chbmit_ictal'])

Así podemos llamar a la hoja de nuestro interés.

Al ponerla en una variable ya nos quedamos con el dataframe

In [27]:

variable = excel_file_dict["coherence_chbmit_ictal"]
variable

  Unnamed: 0   FP1    F7    T3    C3    C4    T4    F8   FP2
0        FP1  1.00  0.48  0.42  0.35  0.32  0.30  0.20  0.18
1         F7  0.48  1.00  0.45  0.38  0.35  0.33  0.22  0.20
2         T3  0.42  0.45  1.00  0.58  0.52  0.48  0.28  0.26
3         C3  0.35  0.38  0.58  1.00  0.60  0.55  0.30  0.28
4         C4  0.32  0.35  0.52  0.60  1.00  0.62  0.33  0.30
5         T4  0.30  0.33  0.48  0.55  0.62  1.00  0.31  0.29
6         F8  0.20  0.22  0.28  0.30  0.33  0.31  1.00  0.45
7        FP2  0.18  0.20  0.26  0.28  0.30  0.29  0.45  1.00