In [1]:
import pandas as pd

In [21]:
valores = [6, 8, 34, 94, 78]
indice = range(len(valores))

serie1 = pd.Series(data = valores, index = indice)
serie1

0     6
1     8
2    34
3    94
4    78
dtype: int64

In [24]:
valores2 = [28, 45, 852, 3, 16]
serie2 = pd.Series(index=indice, data=valores2)
serie2

0     28
1     45
2    852
3      3
4     16
dtype: int64

In [25]:
serie1 ** serie2

0   -1823562080465190912
1                      0
2                      0
3                 830584
4    3945326505906733056
dtype: int64

In [26]:
34**(-852)

0.0

In [27]:
import numpy as np

In [30]:
array = np.random.normal(-10, 10, size=[4, 4])
array

array([[ 10.87384446,   6.24717035,  -1.02412101, -19.64273391],
       [-10.65133062,  -6.43869886, -22.91339439,   1.18064062],
       [  1.93402428, -23.94849088, -23.63045294, -16.71443681],
       [-26.32155185,  -5.24021198, -16.52358769,  -7.15900625]])

In [32]:
pd.DataFrame([[2, 3], [4, 5]], index=['a', 'b'], columns=['W', 'X'])

   W  X
a  2  3
b  4  5

In [34]:
len(array)

4

In [64]:
df = pd.DataFrame(array, index=range(1, len(array)+1), columns=['W','X','Y','Z'])
df

           W          X          Y          Z
1  10.873844   6.247170  -1.024121 -19.642734
2 -10.651331  -6.438699 -22.913394   1.180641
3   1.934024 -23.948491 -23.630453 -16.714437
4 -26.321552  -5.240212 -16.523588  -7.159006

In [47]:
df.X

1     6.247170
2    -6.438699
3   -23.948491
4    -5.240212
Name: X, dtype: float64

In [51]:
df

           W          X          Y          Z
1  10.873844   6.247170  -1.024121 -19.642734
2 -10.651331  -6.438699 -22.913394   1.180641
3   1.934024 -23.948491 -23.630453 -16.714437
4 -26.321552  -5.240212 -16.523588  -7.159006

In [53]:
columnas = ['W', 'Y']
df[ columnas ]

           W          Y
1  10.873844  -1.024121
2 -10.651331 -22.913394
3   1.934024 -23.630453
4 -26.321552 -16.523588

In [54]:
df

           W          X          Y          Z
1  10.873844   6.247170  -1.024121 -19.642734
2 -10.651331  -6.438699 -22.913394   1.180641
3   1.934024 -23.948491 -23.630453 -16.714437
4 -26.321552  -5.240212 -16.523588  -7.159006

In [65]:
df['suma_X_Z'] = df.X + df.Z
df

           W          X          Y          Z   suma_X_Z
1  10.873844   6.247170  -1.024121 -19.642734 -13.395564
2 -10.651331  -6.438699 -22.913394   1.180641  -5.258058
3   1.934024 -23.948491 -23.630453 -16.714437 -40.662928
4 -26.321552  -5.240212 -16.523588  -7.159006 -12.399218

In [66]:
df

           W          X          Y          Z   suma_X_Z
1  10.873844   6.247170  -1.024121 -19.642734 -13.395564
2 -10.651331  -6.438699 -22.913394   1.180641  -5.258058
3   1.934024 -23.948491 -23.630453 -16.714437 -40.662928
4 -26.321552  -5.240212 -16.523588  -7.159006 -12.399218

In [69]:
df.drop('Y', axis=1, inplace=True)# axis = 1 es para borrar columnas, axis = 0 es para borrar filas

KeyError: "['Y'] not found in axis"

In [70]:
df

           W          X          Z   suma_X_Z
1  10.873844   6.247170 -19.642734 -13.395564
2 -10.651331  -6.438699   1.180641  -5.258058
3   1.934024 -23.948491 -16.714437 -40.662928
4 -26.321552  -5.240212  -7.159006 -12.399218

In [71]:
df.drop(3, axis=0)

           W         X          Z   suma_X_Z
1  10.873844  6.247170 -19.642734 -13.395564
2 -10.651331 -6.438699   1.180641  -5.258058
4 -26.321552 -5.240212  -7.159006 -12.399218

In [72]:
df

           W          X          Z   suma_X_Z
1  10.873844   6.247170 -19.642734 -13.395564
2 -10.651331  -6.438699   1.180641  -5.258058
3   1.934024 -23.948491 -16.714437 -40.662928
4 -26.321552  -5.240212  -7.159006 -12.399218

In [74]:
df.loc[1]

W           10.873844
X            6.247170
Z          -19.642734
suma_X_Z   -13.395564
Name: 1, dtype: float64

In [76]:
df.iloc[ [0, 2]]

           W          X          Z   suma_X_Z
1  10.873844   6.247170 -19.642734 -13.395564
3   1.934024 -23.948491 -16.714437 -40.662928

In [77]:
df

           W          X          Z   suma_X_Z
1  10.873844   6.247170 -19.642734 -13.395564
2 -10.651331  -6.438699   1.180641  -5.258058
3   1.934024 -23.948491 -16.714437 -40.662928
4 -26.321552  -5.240212  -7.159006 -12.399218

In [80]:
df.loc[ [2, 4], ['X', 'suma_X_Z'] ]

          X   suma_X_Z
2 -6.438699  -5.258058
4 -5.240212 -12.399218