In [ ]:
# concatenar de dataframes

concatenacion = unta, unir o dusionar 

Para dataframes, existen 3 formas de concatenar 

Concat (concatenat)
Merge (fusionar)

In [ ]:
Esta tecnica basicamente en bases de datos comunes tienen la mism acolumnas por tanto basicamente hay que juntar las filas

In [1]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({'A': ['1A','2A'],'B':['1B','2B'],'C':['1C','2C']})
df2 = pd.DataFrame({'A': ['6A','7A','8A'],'B':['6B','7B','8A'],'C':['6C','7C','8C']} )

In [4]:
df1

    A   B   C
0  1A  1B  1C
1  2A  2B  2C

In [5]:
df2

    A   B   C
0  6A  6B  6C
1  7A  7B  7C
2  8A  8A  8C

In [8]:
pd.concat([df1,df2], ignore_index=True)

    A   B   C
0  1A  1B  1C
1  2A  2B  2C
2  6A  6B  6C
3  7A  7B  7C
4  8A  8A  8C

In [10]:
 # Merge ( fusionar) 

#Esta tecnica fusiona diferentes dataframes a partir de una columna (clave) en comun

In [15]:
df1 = pd.DataFrame({'A': ['1A','2A'],'B':['1B','2B']})
df2 = pd.DataFrame({'A': ['1A','2A'],'C':['1B','2B'],'k': ['1k','2k']})

In [17]:
pd.merge(df1,df2, on =['A'], how = 'left')

    A   B   C   k
0  1A  1B  1B  1k
1  2A  2B  2B  2k

In [ ]:
Join 
L aidea de este data frma es combinas las columnas de dos dataframes indexados

In [25]:
df1 = pd.DataFrame({'Z': ['1A','2A'],'B':['1B','2B']}, index= ['i1','i2','i3'])
df2 = pd.DataFrame({'A': ['6A','7A','8A'],'C':['6B','7B','8A'],'K':['6C','7C','8C']}) index=['i1','i2'])

SyntaxError: unmatched ')' (766385655.py, line 2)

In [26]:
df1.join(df)

NameError: name 'df' is not defined

In [ ]:
# Entradas y salidas

In [28]:
df3= df1.join(df2)
df3

     Z   B   A   C   K
i1  1A  1B  6A  6B  6C
i2  2A  2B  7A  7B  7C

In [30]:
df3.to_csv('nombre.csv', index =False)

In [36]:
pd.read_csv(r"C:\Users\980041133\Downloads\BITÁCORA_EVO.xlsx")

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.