## funciones lambda

In [2]:
def funcion(x): 
    return x**2

funcion(5)

25

In [4]:
func_lambda = lambda x: x**2
func_lambda(5)

### asigno una funcion

25

In [6]:
def funcion_str(string):
    return string[::-1]
funcion_str('ave maria')

'airam eva'

In [7]:
func_str = lambda string: string [::-1]
func_str('ave maria')

'airam eva'

In [8]:
def funcion(x,y):
    return x+y
funcion(5,8)

13

In [14]:
flam = lambda x,y: x+y;
flam (5,8)

13

In [18]:
def funcion(a,b,c):
    return a+b, a-c
funcion(1,2,3)

(3, -2)

In [16]:
flam = lambda a,b,c: (a+b,a-c)
flam (1,2,3)

(3, -2)

In [31]:
lista = [(1,8),(7,5),(12,-52),(2,0)]
lista

[(1, 8), (7, 5), (12, -52), (2, 0)]

In [33]:
### para ordenarlos de mayor a menor
lista.sort(reverse=True)
lista

[(12, -52), (7, 5), (2, 0), (1, 8)]

In [38]:
## si quiero ordenarla pero tomando en cuenta el segundo digito
def funcion(x):
     return x[1]

lista = [(1,8),(7,5),(12,-52),(2,0)]

lista.sort(key=funcion,reverse=True)
lista

[(1, 8), (7, 5), (2, 0), (12, -52)]

In [39]:
lista.sort(key=lambda x: x[1], reverse=True)
lista

[(1, 8), (7, 5), (2, 0), (12, -52)]

In [44]:
import numpy as np
import pandas as pd

In [48]:
tipos_sujetos = ['S'+str(i).zfill(2) for i in range(4)]
generos = ['M', 'F']
condicion = ['control', 'experimental']
region = ['hipocampo','cortex prefrontal', 'amigdala']
neurotransmisor = ['dopamina','serotonina']

longitud = 200
variables = [tipos_sujetos, generos, condicion, region, neurotransmisor]
data = []

for variable in variables:
    opciones = np.random.randint(len(variable), size=longitud)
    data.append([variable[i] for i in opciones])

df = pd.DataFrame(data).transpose()
df.columns = ['sujeto','genero','condicion','region','neuro']
df

    sujeto genero     condicion             region       neuro
0      S03      F       control          hipocampo  serotonina
1      S00      F  experimental  cortex prefrontal    dopamina
2      S02      M  experimental           amigdala  serotonina
3      S00      M  experimental          hipocampo    dopamina
4      S02      F  experimental           amigdala    dopamina
..     ...    ...           ...                ...         ...
195    S01      F       control           amigdala    dopamina
196    S03      F       control          hipocampo    dopamina
197    S01      M       control          hipocampo    dopamina
198    S00      F       control          hipocampo    dopamina
199    S01      F  experimental           amigdala  serotonina

[200 rows x 5 columns]

In [ ]:
def funcion(string):
    return string.upper()

In [49]:
df['region'].apply(lambda string: string.upper())

0              HIPOCAMPO
1      CORTEX PREFRONTAL
2               AMIGDALA
3              HIPOCAMPO
4               AMIGDALA
             ...
195             AMIGDALA
196            HIPOCAMPO
197            HIPOCAMPO
198            HIPOCAMPO
199             AMIGDALA
Name: region, Length: 200, dtype: object

In [51]:
df[ ['region', 'condicion', 'neuro'] ].apply(lambda serie: [string.upper() for string in serie])

                region     condicion       neuro
0            HIPOCAMPO       CONTROL  SEROTONINA
1    CORTEX PREFRONTAL  EXPERIMENTAL    DOPAMINA
2             AMIGDALA  EXPERIMENTAL  SEROTONINA
3            HIPOCAMPO  EXPERIMENTAL    DOPAMINA
4             AMIGDALA  EXPERIMENTAL    DOPAMINA
..                 ...           ...         ...
195           AMIGDALA       CONTROL    DOPAMINA
196          HIPOCAMPO       CONTROL    DOPAMINA
197          HIPOCAMPO       CONTROL    DOPAMINA
198          HIPOCAMPO       CONTROL    DOPAMINA
199           AMIGDALA  EXPERIMENTAL  SEROTONINA

[200 rows x 3 columns]