In [134]:
import pandas as pd

In [135]:
valores =[6,8, 12, 34]
indice = range(len(valores))
serie1=pd.Series(data = valores, index = indice)
serie1

0     6
1     8
2    12
3    34
dtype: int64

In [136]:
valores2 = [28, 19, 3, 16]
serie2= pd.Series (index=indice, data=valores2)
serie2

0    28
1    19
2     3
3    16
dtype: int64

In [137]:
serie1 ** serie2 ##El tipo de datos debe ser la misma para que se puedan operar (los numeros)

0   -1823562080465190912
1     144115188075855872
2                   1728
3    5202044870318948352
dtype: int64

In [138]:
import numpy as np

In [139]:
array = np.random.normal(-10,10, size=[4,4])
array

array([[ -4.34613167,  -9.54403811,   8.43923245, -16.00475826],
       [  2.43720108,  -7.41117866,  -6.36254239, -15.98477872],
       [ -5.84089098,  -7.65461295,  -6.10505462,   7.14255304],
       [ -5.1230644 ,  -2.41442778,  -2.91916461,  -6.5819474 ]])

In [140]:
pd.DataFrame([[2,3],[4,5]], index=['a','b'], columns=['w','x'])

   w  x
a  2  3
b  4  5

In [141]:
df= pd.DataFrame(array, index=range(1,len(array)+1), columns=['w','x','y','z'])
df

          w         x         y          z
1 -4.346132 -9.544038  8.439232 -16.004758
2  2.437201 -7.411179 -6.362542 -15.984779
3 -5.840891 -7.654613 -6.105055   7.142553
4 -5.123064 -2.414428 -2.919165  -6.581947

In [142]:
df['x'][2]

np.float64(-7.411178656370689)

In [143]:
df.x

1   -9.544038
2   -7.411179
3   -7.654613
4   -2.414428
Name: x, dtype: float64

In [144]:
df[['w','y']]

          w         y
1 -4.346132  8.439232
2  2.437201 -6.362542
3 -5.840891 -6.105055
4 -5.123064 -2.919165

In [145]:
df

          w         x         y          z
1 -4.346132 -9.544038  8.439232 -16.004758
2  2.437201 -7.411179 -6.362542 -15.984779
3 -5.840891 -7.654613 -6.105055   7.142553
4 -5.123064 -2.414428 -2.919165  -6.581947

In [146]:
df['suma-x-z']= df.x + df.z
df

          w         x         y          z   suma-x-z
1 -4.346132 -9.544038  8.439232 -16.004758 -25.548796
2  2.437201 -7.411179 -6.362542 -15.984779 -23.395957
3 -5.840891 -7.654613 -6.105055   7.142553  -0.512060
4 -5.123064 -2.414428 -2.919165  -6.581947  -8.996375

In [147]:
df.drop('y', axis=1) ## Axis igual a uno va a borrar columnas y si es igual a cero es para borrar filas. 
## .drop es solo para borrarla en el siguiente bloque pero no es para todo el script

          w         x          z   suma-x-z
1 -4.346132 -9.544038 -16.004758 -25.548796
2  2.437201 -7.411179 -15.984779 -23.395957
3 -5.840891 -7.654613   7.142553  -0.512060
4 -5.123064 -2.414428  -6.581947  -8.996375

In [150]:
df

          w         x         y          z   suma-x-z
1 -4.346132 -9.544038  8.439232 -16.004758 -25.548796
2  2.437201 -7.411179 -6.362542 -15.984779 -23.395957
3 -5.840891 -7.654613 -6.105055   7.142553  -0.512060
4 -5.123064 -2.414428 -2.919165  -6.581947  -8.996375

In [151]:
df.loc[1]

w           -4.346132
x           -9.544038
y            8.439232
z          -16.004758
suma-x-z   -25.548796
Name: 1, dtype: float64

In [158]:
df.iloc[0]

w           -4.346132
x           -9.544038
y            8.439232
z          -16.004758
suma-x-z   -25.548796
Name: 1, dtype: float64

In [155]:
df.iloc[[0,2]]

          w         x         y          z   suma-x-z
1 -4.346132 -9.544038  8.439232 -16.004758 -25.548796
3 -5.840891 -7.654613 -6.105055   7.142553  -0.512060

In [164]:
df.loc[ [2,4] , ['x','suma-x-z'] ]

          x   suma-x-z
2 -7.411179 -23.395957
4 -2.414428  -8.996375