In [3]:
import numpy as np
import pandas as pd

# Concatenación de DataFrames
Concatenar significa juntar/unir/fusionar. 
Para DataFrames, existen 3 formas de concatenar:
- Concat (concatenar)
- Merge (fusionar)
- Join (unir)

In [5]:
df1 = pd.DataFrame({'A': ['1A', '2A'], 'B': ['1B', '2B'], 'C': ['1C', '2C']})
df2 = pd.DataFrame({'A': ['6A', '7A', '8A'], 'B': ['6B', '7B', '8B'], 'C': ['6C', '7C', '8C']})

In [6]:
df1

    A   B   C
0  1A  1B  1C
1  2A  2B  2C

In [7]:
df2

    A   B   C
0  6A  6B  6C
1  7A  7B  7C
2  8A  8B  8C

In [8]:
# Concatenar una lista de DataFrames:
pd.concat([df1, df2]) # Nota que los índices quedan feos

    A   B   C
0  1A  1B  1C
1  2A  2B  2C
0  6A  6B  6C
1  7A  7B  7C
2  8A  8B  8C

In [9]:
pd.concat([df1, df2], ignore_index = True) # Ya quedaron bonitos los índices

    A   B   C
0  1A  1B  1C
1  2A  2B  2C
2  6A  6B  6C
3  7A  7B  7C
4  8A  8B  8C

In [11]:
# Observa qué pasa si nuestros DataFrames no tienen la misma cantidad de columnas
df1 = pd.DataFrame({'A': ['1A', '2A'], 'B': ['1B', '2B'], 'C': ['1C', '2C'], 'K': ['1K', '2K']})
df2 = pd.DataFrame({'A': ['6A', '7A', '8A'], 'B': ['6B', '7B', '8B'], 'C': ['6C', '7C', '8C']})

In [12]:
df1

    A   B   C   K
0  1A  1B  1C  1K
1  2A  2B  2C  2K

In [13]:
df2

    A   B   C
0  6A  6B  6C
1  7A  7B  7C
2  8A  8B  8C

In [14]:
pd.concat([df1, df2], ignore_index = True) # Nota que, como 'df1' tiene una columna extra, las filas de 'df2' aparecen como NaN

    A   B   C    K
0  1A  1B  1C   1K
1  2A  2B  2C   2K
2  6A  6B  6C  NaN
3  7A  7B  7C  NaN
4  8A  8B  8C  NaN

In [20]:
# Merge: 
df1 = pd.DataFrame({'A': ['1A', '2A', '3A'], 'B': ['1B', '2B', '3B']})
df2 = pd.DataFrame({'A': ['10A', '20A'], 'C': ['1C', '2C'], 'K': ['1K', '2K']})

In [24]:
pd.merge(df1, df2, on = ['A'], how = 'outer') # Tomamos la columna 'A' como pivote

     A    B    C    K
0  10A  NaN   1C   1K
1   1A   1B  NaN  NaN
2  20A  NaN   2C   2K
3   2A   2B  NaN  NaN
4   3A   3B  NaN  NaN

In [25]:
pd.merge(df1, df2, on = ['A'], how = 'inner') # inner = intersección entre 'df1' y 'df2' (es vacía)

Empty DataFrame
Columns: [A, B, C, K]
Index: []

In [26]:
pd.merge(df1, df2, on = ['A'], how = 'left') # left = complemento entre 'df1' y 'df2'

    A   B    C    K
0  1A  1B  NaN  NaN
1  2A  2B  NaN  NaN
2  3A  3B  NaN  NaN

In [34]:
# Join: la idea es combinar las columnas de dos DataFrames indexados
df1 = pd.DataFrame({'Z': ['1A', '2A', '3A'], 'B': ['1B', '2B', '3B']}, index = ['i1', 'i2', 'i3'])
df2 = pd.DataFrame({'A': ['10A', '20A'], 'C': ['1C', '2C'], 'K': ['1K', '2K']}, index = ['i1', 'i2'])

In [39]:
df3 = df1.join(df2)
df3

     Z   B    A    C    K
i1  1A  1B  10A   1C   1K
i2  2A  2B  20A   2C   2K
i3  3A  3B  NaN  NaN  NaN

In [44]:
df3.to_csv('nombre.csv', index = False)

PermissionError: [Errno 13] Permission denied: 'nombre.csv'