# ITERACIONES

Iterar , significa realizar una acción varias veces. A casa vz que se repite el conjunto de acciones, se dice que es una iteración.

# SENTENCIA WHILE

se basa en repetir un bloque de código a partir de una condición lógica. Dicho bloque de código se repetira mientras

In [1]:
variable = 0

while variable < 10:
    print('el valor de la variable es', variable) 
    variable += 2

    print('codigo después del while')

el valor de la variable es 0
codigo después del while
el valor de la variable es 2
codigo después del while
el valor de la variable es 4
codigo después del while
el valor de la variable es 6
codigo después del while
el valor de la variable es 8
codigo después del while

In [2]:
variable = 0

if variable < 10:
    print('el valor de la variable es', variable) 
    variable += 2

    print('codigo después del while')

el valor de la variable es 0
codigo después del while

In [3]:
variable = 0 

while variable <= 5: 
    variable += 1
    print(variable) 
else:
    print ('codigo en el else del while')

print ('codigo después del while')

1
2
3
4
5
6
codigo en el else del while
codigo después del while

# palabras reservadas relacionadas al while

continue y el break

In [4]:
variable = 0 

while variable <= 5: 
    variable += 1
    print(variable) 
    if variable == 3 :
        print('entro al condicional para activar el break')
        break
else:
    print ('codigo en el else del while')
    

print ('codigo después del while')

1
2
3
entro al condicional para activar el break
codigo después del while

In [5]:
variable = 0 

while variable <= 5: 
    variable += 1
    print(variable) 
    if variable == 3 :
        print('entro al condicional para activar el continue')
        continue
else:
    print ('codigo en el else del while')
    

print ('codigo después del while')

1
2
3
entro al condicional para activar el continue
4
5
6
codigo en el else del while
codigo después del while

# Controlador de flujo FOR

In [6]:
listas = [2,4,6,8,10,12,14,16,18]

for idx in listas: 
    print(idx)

2
4
6
8
10
12
14
16
18

In [9]:
listas = [2,4,6,8,10]
for valor in listas: 
    print(valor)

2
4
6
8
10

In [10]:
for valor in range (10):
    print (valor)

0
1
2
3
4
5
6
7
8
9

In [11]:
# range (pos_i, pos_f+1 , salto)
for valor in range (5):
    print (valor)

0
1
2
3
4

In [12]:
for letra in "cadena":
    print(letra)

c
a
d
e
n
a

In [13]:
diccionario = {'key1' : 'val1', 'key2': 'val2',' key3' : 'val3'}

for llave in diccionario:
    print(llave)

key1
key2
 key3

In [15]:
listas = [2,4,6,8,10]

longitud = 0
for _ in listas:
    longitud += 1
    
print (' la lista tiene', longitud, 'elementos')

 la lista tiene 5 elementos

In [17]:
listas = [2,4,6,8,10]

promedio = 0
for valor in listas: 
    promedio += valor

promedio /= len(listas)
print (' el promedio de los valores de la lista es 6.0')

 el promedio de los valores de la lista es 6.0

# Usando la lista listas = [2,3,4,5,6,7,8,9,10]

sobre cada valor de las listas determine:
- si el valor de la lista es par, calcule e imprime su cuadrado 
- si el valor de la lista es impar , sume uno al valor y dividalo sobre 2 e imprima el resultado

In [19]:
listas = [2,3,4,5,6,7,8,9,10]

for numero in listas:
    if numero % 2 == 0:
        print(f"{numero} es par → cuadrado = {numero**2}")
    else:  
        resultado = (numero + 1) / 2
        print(f"{numero} es impar → (numero+1)/2 = {resultado}")

2 es par → cuadrado = 4
3 es impar → (numero+1)/2 = 2.0
4 es par → cuadrado = 16
5 es impar → (numero+1)/2 = 3.0
6 es par → cuadrado = 36
7 es impar → (numero+1)/2 = 4.0
8 es par → cuadrado = 64
9 es impar → (numero+1)/2 = 5.0
10 es par → cuadrado = 100

# Modificar una lista al vuelo

In [20]:
listas = [2,4,6,8,10]

indice = 0
for _ in listas: 
    listas [indice] += 50
    indice += 1

listas

[52, 54, 56, 58, 60]

# método enumerate (iterable, start = 0)

regresará un objeto enumerate, este metodo regresara una tupla de pares, dondde el primer elemento sera un entero que comenzara en start y el segundo elemento de la tupla tendrá el valor del objeto iterable

In [22]:
"cadena con espacios".split (sep= " ")

['cadena', 'con', 'espacios']

In [24]:
list(enumerate( [2, 4, 6, 8, 10] , start = 0))

[(0, 2), (1, 4), (2, 6), (3, 8), (4, 10)]

In [25]:
list(enumerate( [2, 4, 6, 8, 10] , start = 20))

[(20, 2), (21, 4), (22, 6), (23, 8), (24, 10)]

In [26]:
list(enumerate("cadena"))

[(0, 'c'), (1, 'a'), (2, 'd'), (3, 'e'), (4, 'n'), (5, 'a')]

In [28]:
list(enumerate(['primavera', 'verano', 'otoño', 'invierno'], start =1))

[(1, 'primavera'), (2, 'verano'), (3, 'otoño'), (4, 'invierno')]

In [29]:
listas = [2,4,6,8,10]

indice = 0
for _ in listas: # aca se pone el enumerate
    listas [indice] += 50
    indice += 1

listas

[52, 54, 56, 58, 60]

 # TAREA 

HACER UN EJEMPLO DE LAS SIGUIENTES BUILT-IN FUNCTIONS

- all
- any
- abs
- input
- max
- min
- pow
- reversed
- round
- sorted
- sum

In [1]:

valores = [True, True, False]
print(all(valores))  # False (porque hay un False)


print(any(valores))  # True (porque al menos uno es True)


print(abs(-15))  # 15


nombre = input("Sophia: ")
print("Hola,", nombre)


numeros = [3, 9, 2, 7]
print(max(numeros))  # 9


print(min(numeros))  # 2


print(pow(2, 3))  # 8 (2^3)


texto = "python"
print(list(reversed(texto)))  # ['n','o','h','t','y','p']


print(round(3.14159, 2))  # 3.14


desordenados = [5, 2, 9, 1]
print(sorted(desordenados))  # [1, 2, 5, 9]


print(sum(numeros))  # 21 (3+9+2+7)

False
True
15

Sophia:  c-

Hola, c-
9
2
8
['n', 'o', 'h', 't', 'y', 'p']
3.14
[1, 2, 5, 9]
21