In [1]:
import pandas as pd

In [2]:
excel_path_file = r"C:\Users\OMEN CI7\Documents\repository\Neurociencias-2026-1\S03_datasets\EEG.xlsx"

In [9]:
pd.read_excel(excel_path_file, sheet_name="coherence_chbmit_interictal");

In [10]:
excel_file_dict = pd.read_excel(excel_path_file, sheet_name=None)

In [11]:
type(excel_file_dict)

dict

In [13]:
excel_file_dict.keys()

dict_keys(['coherence_motorimagery_alpha', 'coherence_chbmit_interictal', 'coherence_chbmit_ictal'])

In [15]:
variable = excel_file_dict['coherence_chbmit_ictal']

In [16]:
variable

  Unnamed: 0   FP1    F7    T3    C3    C4    T4    F8   FP2
0        FP1  1.00  0.48  0.42  0.35  0.32  0.30  0.20  0.18
1         F7  0.48  1.00  0.45  0.38  0.35  0.33  0.22  0.20
2         T3  0.42  0.45  1.00  0.58  0.52  0.48  0.28  0.26
3         C3  0.35  0.38  0.58  1.00  0.60  0.55  0.30  0.28
4         C4  0.32  0.35  0.52  0.60  1.00  0.62  0.33  0.30
5         T4  0.30  0.33  0.48  0.55  0.62  1.00  0.31  0.29
6         F8  0.20  0.22  0.28  0.30  0.33  0.31  1.00  0.45
7        FP2  0.18  0.20  0.26  0.28  0.30  0.29  0.45  1.00