In [1]:
# funciones lambda
def funcion(x):
    return x**2
funcion(5)

25

In [4]:
func_lambda = lambda x: x**2

In [5]:
func_lambda(5)

25

In [7]:
def funcion_str(string):
    return string[::-1]
funcion_str('ave maria')

'airam eva'

In [8]:
func_str = lambda string: string[::-1]
func_str ("ave maria")

'airam eva'

In [9]:
def funcion(x,y):
    return x + y
funcion(5,8)

13

In [10]:
fun_lda = lambda x,y: x+y
fun_lda(5,8)

13

In [11]:
def funcion(a,b,c):
    return a+b, a-c
funcion(1,2,3)

(3, -2)

In [12]:
type(funcion(1,2,3))

tuple

In [13]:
fun_lda = lambda a,b,c: (a+b, a-c)
fun_lda(1,2,3)

(3, -2)

In [14]:
lista = [(1,8), (7,5), (12,-52), (2,0)]
lista.sort()

In [15]:
lista

[(1, 8), (2, 0), (7, 5), (12, -52)]

In [16]:
lista = [(1,8), (7,5), (12,-52), (2,0)]
lista.sort(reverse = True)

In [17]:
lista

[(12, -52), (7, 5), (2, 0), (1, 8)]

In [18]:
def funcion(x):
    return x[0]
lista = lista = [(1,8), (7,5), (12,-52), (2,0)]
lista.sort(key=funcion, reverse=True)

In [19]:
lista

[(12, -52), (7, 5), (2, 0), (1, 8)]

In [20]:
def funcion(x):
    return x[1]
lista = lista = [(1,8), (7,5), (12,-52), (2,0)]
lista.sort(key=funcion, reverse=True)

In [21]:
lista

[(1, 8), (7, 5), (2, 0), (12, -52)]

In [22]:
lista.sort(key=lambda x: x[1], reverse=True)

In [23]:
lista

[(1, 8), (7, 5), (2, 0), (12, -52)]

In [28]:
import pandas as pd
import numpy as np

In [29]:
sujetos = ['S'+str(i).zfill(2) for i in range(4)]
generos = ['M','F']
condición = ['control','experimental']
region = ['hipocampo','cortex prefrontal','amigdala']
neurotransmisores =['dopamina','serotonina']
longitud = 200
variables = [sujetos, generos, condición, region, neurotransmisores] 
data = []
for variable in variables:
    opciones = np.random.randint(len(variable),size=longitud)
    data.append([variable[i]for i in opciones])
df = pd.DataFrame(data).transpose()
df.columns = ['sujetos','generos2','condición2','region2','NT']

In [30]:
df

    sujetos generos2    condición2            region2          NT
0       S03        F       control           amigdala    dopamina
1       S03        F  experimental          hipocampo  serotonina
2       S03        F       control          hipocampo  serotonina
3       S01        M  experimental  cortex prefrontal    dopamina
4       S02        F  experimental  cortex prefrontal    dopamina
..      ...      ...           ...                ...         ...
195     S01        F  experimental           amigdala  serotonina
196     S03        M  experimental          hipocampo    dopamina
197     S00        F       control          hipocampo  serotonina
198     S03        F       control           amigdala    dopamina
199     S03        M       control          hipocampo    dopamina

[200 rows x 5 columns]

In [31]:
df.head()

  sujetos generos2    condición2            region2          NT
0     S03        F       control           amigdala    dopamina
1     S03        F  experimental          hipocampo  serotonina
2     S03        F       control          hipocampo  serotonina
3     S01        M  experimental  cortex prefrontal    dopamina
4     S02        F  experimental  cortex prefrontal    dopamina

In [36]:
def funcion(string):
    return string.upper()
df['region2'].apply(funcion)

0               AMIGDALA
1              HIPOCAMPO
2              HIPOCAMPO
3      CORTEX PREFRONTAL
4      CORTEX PREFRONTAL
             ...
195             AMIGDALA
196            HIPOCAMPO
197            HIPOCAMPO
198             AMIGDALA
199            HIPOCAMPO
Name: region2, Length: 200, dtype: object

In [37]:
def funcion(string):
    return string.upper()
df['region2'].apply(lambda string: string.upper())

0               AMIGDALA
1              HIPOCAMPO
2              HIPOCAMPO
3      CORTEX PREFRONTAL
4      CORTEX PREFRONTAL
             ...
195             AMIGDALA
196            HIPOCAMPO
197            HIPOCAMPO
198             AMIGDALA
199            HIPOCAMPO
Name: region2, Length: 200, dtype: object

In [41]:
df[["region2", "condición2", "NT"]].apply(lambda serie :[string.upper() for string in serie])

               region2    condición2          NT
0             AMIGDALA       CONTROL    DOPAMINA
1            HIPOCAMPO  EXPERIMENTAL  SEROTONINA
2            HIPOCAMPO       CONTROL  SEROTONINA
3    CORTEX PREFRONTAL  EXPERIMENTAL    DOPAMINA
4    CORTEX PREFRONTAL  EXPERIMENTAL    DOPAMINA
..                 ...           ...         ...
195           AMIGDALA  EXPERIMENTAL  SEROTONINA
196          HIPOCAMPO  EXPERIMENTAL    DOPAMINA
197          HIPOCAMPO       CONTROL  SEROTONINA
198           AMIGDALA       CONTROL    DOPAMINA
199          HIPOCAMPO       CONTROL    DOPAMINA

[200 rows x 3 columns]