# Iteraciones
Iterar, significa realizar una acción varias veces. A cada vez que se repite el conjunto de acciones, se dice que es una iteración.

# Sentencia While
se basa en repetir un bloque

In [1]:
variable=0
while variable<10:
    print('el valor de la variable es', variable)
    variable +=2
print('codigo después del while')

el valor de la variable es 0
el valor de la variable es 2
el valor de la variable es 4
el valor de la variable es 6
el valor de la variable es 8
codigo después del while

In [3]:
variable =0
while variable <=5:
    variable +=1
    print(variable)
else:
    print('codigo en el else del while')
print('codigo después del while')

1
2
3
4
5
6
codigo en el else del while
codigo después del while

# Palabras resrvadas relacionadas al while
## continue y break

In [7]:
variable =0
while variable <=5:
    variable +=1
    print(variable)
    if variable == 3:
        print('entro al condicional para activar el break')
        break
    print('código después del condicional del break')

else:
    print('codigo en el else del while')
print('codigo después del while')

1
código después del condicional del break
2
código después del condicional del break
3
entro al condicional para activar el break
codigo después del while

In [6]:
variable =0
while variable <=5:
    variable +=1
    print(variable)
    if variable == 3:
        print('entro al condicional para activar el continue')
        continue
    print('código después del condicional del continue')
else:
    print('codigo en el else del while')
print('codigo después del while')

1
código después del condicional del continue
2
código después del condicional del continue
3
entro al condicional para activar el continue
4
código después del condicional del continue
5
código después del condicional del continue
6
código después del condicional del continue
codigo en el else del while
codigo después del while

# Contorlador de flujo for

In [8]:
listas=[2,4,6,8,10,12,14,16,18]
for idx in listas:
    print(idx)

2
4
6
8
10
12
14
16
18

In [9]:
for valor in range(5):
    print(valor)

0
1
2
3
4

In [10]:
for letra in 'cadena':
    print(letra)

c
a
d
e
n
a

In [12]:
diccionario={'key1':'val1', 'key2':'val2','key3':'val3'}
for llave in diccionario:
    print(llave)

key1
key2
key3

In [13]:
listas=[2,4,6,8,10]
longitud=0
for _ in  listas:
    longitud+=1
print('la lista tiene',longitud,'elementos')

la lista tiene 5 elementos

In [14]:
listas=[2,4,6,8,10]
promedio=0
for valor in listas:
    promedio+= valor
promedio/= len (listas)
print('El promedio de los valores de la lista es',promedio)

El promedio de los valores de la lista es 6.0

Usando la lista listas= [2,3,4,5,6,7,8,9,10]

Sobre cada valor de listas determine:
- si el valor de la lista es par, calcule e imprime su cuadrado
- si el valor de la lista es impar, sume uno al valor y dividalo sobre 2 e imprima el resultado

In [20]:
 listas= [2,3,4,5,6,7,8,9,10]
for _ in listas:
    if _ %2 == 0:
       print(_**2)
    else:
        print((_+1)/2)

4
2.0
16
3.0
36
4.0
64
5.0
100

# Modificar una lista al vuelo

In [21]:
listas=[2,4,6,8,10]
for valor in listas:
    valor+= 50
    valor +=50
    indice+=1
listas

NameError: name 'indice' is not defined

In [22]:
listas=[2,4,6,8,10]
indice=0

for valor in listas:
    listas[indice]+=50
    indice+=1
listas

[52, 54, 56, 58, 60]

# método enumerate(iterable,start=0)
Regresera un objeto enumerate. Este metodo regerseara una tupla de pares, donde el priemr elemento será un entero que comenzara en start y  el segundo elemento de la tuplas tendrá el valor del objeto iterable.

In [24]:
"cadena con espacios".split(sep=' ')

['cadena', 'con', 'espacios']

In [27]:
list(enumerate([2,4,6,8,10],start=-20))

[(-20, 2), (-19, 4), (-18, 6), (-17, 8), (-16, 10)]

In [26]:
list(enumerate('cadena'))

[(0, 'c'), (1, 'a'), (2, 'd'), (3, 'e'), (4, 'n'), (5, 'a')]

In [28]:
list(enumerate(['primavera','verano','otoño','invierno'],start=1))

[(1, 'primavera'), (2, 'verano'), (3, 'otoño'), (4, 'invierno')]

In [29]:
listas=[2,4,6,8,10]

for indice,_ in enumerate(listas):
    listas[indice]+=50
    indice+=1
listas

[52, 54, 56, 58, 60]

# Tarea
Hacer un ejemplo de las siguientes built-in functions 
- all
- any
- abs
- input
- max
- min
- pow
- reversed
- round
- sorted
- sum

In [34]:
# All function: returns True if all items in an iterable are true, otherwise it returns False. Si esta vacío= True
mydict = {0 : "Apple", 1 : "Orange"}
x = all(mydict)
x

False

In [33]:
# Any function:  returns True if any item in an iterable are true, otherwise it returns False. Si esta vacío= False
mydict = {0 : "Apple", 1 : "Orange"}
x = any(mydict)
x

True

In [35]:
# Abs():returns the absolute value of the specified number.
x = abs(3+5j)
x

5.830951894845301

In [36]:
# Input
nombre=input("Inserte un nombre:")
print('Hola,', nombre)

Inserte un nombre: mafer

Hola, mafer

In [38]:
# Max, min
maximo= max(1,100)
minimo=min(1,100)
maximo,minimo

(100, 1)

In [40]:
#Pow(). a la potencia de
z=pow(2,3)
z

8

In [42]:
# Reversed
lista=[1,2,'manzana',3,4,'banana']
reversa=reversed(lista)
for _ in reversa:
    print(_)

banana
4
3
manzana
2
1

In [46]:
# Round
numero=round(3.14162534,2)
numero

3.14

In [47]:
#Sorted
frutas=['manzana','banana','fresa','naranja']
frutas=sorted(frutas)
frutas

['banana', 'fresa', 'manzana', 'naranja']

In [48]:
# Sum
lista=[1,2,3,4,5]
suma=sum(lista)
suma

15