In [2]:
import pandas as pd
import numpy as np

In [4]:
experimento = {
    'sujeto':['S01' , 'S02' , 'S03' , 'S02' , 'S01', 'S01', 'S02'],
    'Sabor':['choco','piñon','queso','chango','choco', 'queso','angel'],
    'precio':[45,105,30,60,85,45,120],
    'tamaño':['m','g','ch','ch','g','m','g']
}

In [5]:
experimento

{'sujeto': ['S01', 'S02', 'S03', 'S02', 'S01', 'S01', 'S02'],
 'Sabor': ['choco', 'piñon', 'queso', 'chango', 'choco', 'queso', 'angel'],
 'precio': [45, 105, 30, 60, 85, 45, 120],
 'tamaño': ['m', 'g', 'ch', 'ch', 'g', 'm', 'g']}

In [7]:
df = pd.DataFrame(experimento)

In [8]:
df

  sujeto   Sabor  precio tamaño
0    S01   choco      45      m
1    S02   piñon     105      g
2    S03   queso      30     ch
3    S02  chango      60     ch
4    S01   choco      85      g
5    S01   queso      45      m
6    S02   angel     120      g

In [9]:
df['activación']= [True, True, False, False, True, False,False,]

In [10]:
df

  sujeto   Sabor  precio tamaño  activación
0    S01   choco      45      m        True
1    S02   piñon     105      g        True
2    S03   queso      30     ch       False
3    S02  chango      60     ch       False
4    S01   choco      85      g        True
5    S01   queso      45      m       False
6    S02   angel     120      g       False

In [11]:
df.sujeto #destacar columna solo de sujeto

0    S01
1    S02
2    S03
3    S02
4    S01
5    S01
6    S02
Name: sujeto, dtype: object

In [12]:
df

  sujeto   Sabor  precio tamaño  activación
0    S01   choco      45      m        True
1    S02   piñon     105      g        True
2    S03   queso      30     ch       False
3    S02  chango      60     ch       False
4    S01   choco      85      g        True
5    S01   queso      45      m       False
6    S02   angel     120      g       False

In [14]:
df[df['precio'] >100] #filtrado

  sujeto  Sabor  precio tamaño  activación
1    S02  piñon     105      g        True
6    S02  angel     120      g       False

In [16]:
df[df['sujeto']=='S01']

  sujeto  Sabor  precio tamaño  activación
0    S01  choco      45      m        True
4    S01  choco      85      g        True
5    S01  queso      45      m       False

In [17]:
df[df['sujeto']=='S02']

  sujeto   Sabor  precio tamaño  activación
1    S02   piñon     105      g        True
3    S02  chango      60     ch       False
6    S02   angel     120      g       False

In [18]:
df[df['sujeto']=='S03']

  sujeto  Sabor  precio tamaño  activación
2    S03  queso      30     ch       False

In [ ]:
#Agrupar con groupby

In [ ]:
#by: mapeo, función etiqueta
#axis: 0 o 1
#group keys

In [19]:
df.groupby (by='sujeto')

In [20]:
df_por_sujeto = df.groupby (by='sujeto')
df_por_sujeto.describe()

       precio
        count       mean        std   min   25%    50%    75%    max
sujeto
S01       3.0  58.333333  23.094011  45.0  45.0   45.0   65.0   85.0
S02       3.0  95.000000  31.224990  60.0  82.5  105.0  112.5  120.0
S03       1.0  30.000000        NaN  30.0  30.0   30.0   30.0   30.0

In [22]:
df_por_sujeto = df.groupby (by='sujeto')
df_por_sujeto.describe(include='all')

       Sabor                                                   ... activación  \
       count unique    top freq mean  std  min  25%  50%  75%  ...     unique
sujeto                                                         ...
S01        3      2  choco    2  NaN  NaN  NaN  NaN  NaN  NaN  ...          2
S02        3      3  piñon    1  NaN  NaN  NaN  NaN  NaN  NaN  ...          2
S03        1      1  queso    1  NaN  NaN  NaN  NaN  NaN  NaN  ...          1


          top freq mean  std  min  25%  50%  75%  max
sujeto
S01      True    2  NaN  NaN  NaN  NaN  NaN  NaN  NaN
S02     False    2  NaN  NaN  NaN  NaN  NaN  NaN  NaN
S03     False    1  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[3 rows x 44 columns]

In [21]:
df

  sujeto   Sabor  precio tamaño  activación
0    S01   choco      45      m        True
1    S02   piñon     105      g        True
2    S03   queso      30     ch       False
3    S02  chango      60     ch       False
4    S01   choco      85      g        True
5    S01   queso      45      m       False
6    S02   angel     120      g       False

In [23]:
df.describe(include='all')

       sujeto  Sabor     precio tamaño activación
count       7      7    7.00000      7          7
unique      3      5        NaN      3          2
top       S01  choco        NaN      g      False
freq        3      2        NaN      3          4
mean      NaN    NaN   70.00000    NaN        NaN
std       NaN    NaN   33.91165    NaN        NaN
min       NaN    NaN   30.00000    NaN        NaN
25%       NaN    NaN   45.00000    NaN        NaN
50%       NaN    NaN   60.00000    NaN        NaN
75%       NaN    NaN   95.00000    NaN        NaN
max       NaN    NaN  120.00000    NaN        NaN

In [24]:
tipos_sujetos = ['S'+str(i).zfill(2) for i in range(4)]
generos = ['M','F']
condición = ['control','experimental']
region = ['hipocampo','cortex prefrontal','amigdala']
neurotransmisores =['dopamina','serotonina']
#Crear DataFrame de 200 filas, con las columnas: tipo_sujeto. generos,condición, region y neurotransmisores
#Deben tener distribución normal
#agregar columna llamada precisión, que tenga distribución normal con mu=0.92, sigma=0.08
#Dataset pretende simular los resultados de un estudio en el que se miden variables cognitivos y fisiologicos en diferenes regiones
#cerebrales, sujetos y condiciones experimentales.

In [ ]:
#generar el histograma de cuántos datos por sujeto se tiene 
#mostrar en un histograma la proporción de neurotransmisores

In [25]:
str(8).zfill(2)

'08'

In [36]:
tipos_sujetos = ['S'+str(i).zfill(2) for i in range(4)],

In [37]:
tipos_sujetos

['S00', 'S01', 'S02', 'S03']

In [48]:
tipos_sujetos = ['S'+str(i).zfill(2)for i in range(4)],
longitud = 200
enteros =np.random.randint(0,4,size=longitud)
sujetos = ['S'+str(i).zfill(2)for i in enteros]

In [49]:
sujetos

['S01',
 'S02',
 'S01',
 'S03',
 'S02',
 'S00',
 'S00',
 'S03',
 'S01',
 'S02',
 'S00',
 'S00',
 'S01',
 'S01',
 'S02',
 'S02',
 'S03',
 'S03',
 'S01',
 'S03',
 'S02',
 'S01',
 'S00',
 'S00',
 'S02',
 'S03',
 'S01',
 'S00',
 'S00',
 'S03',
 'S03',
 'S00',
 'S03',
 'S03',
 'S02',
 'S03',
 'S01',
 'S01',
 'S02',
 'S00',
 'S00',
 'S00',
 'S00',
 'S02',
 'S00',
 'S03',
 'S02',
 'S00',
 'S00',
 'S03',
 'S01',
 'S02',
 'S03',
 'S00',
 'S03',
 'S02',
 'S03',
 'S02',
 'S02',
 'S02',
 'S01',
 'S03',
 'S03',
 'S02',
 'S03',
 'S03',
 'S00',
 'S01',
 'S00',
 'S01',
 'S01',
 'S02',
 'S01',
 'S01',
 'S02',
 'S03',
 'S01',
 'S03',
 'S01',
 'S03',
 'S00',
 'S03',
 'S00',
 'S03',
 'S01',
 'S00',
 'S03',
 'S01',
 'S00',
 'S03',
 'S00',
 'S03',
 'S01',
 'S03',
 'S01',
 'S03',
 'S00',
 'S02',
 'S02',
 'S01',
 'S01',
 'S02',
 'S01',
 'S03',
 'S01',
 'S03',
 'S02',
 'S03',
 'S00',
 'S02',
 'S01',
 'S01',
 'S03',
 'S00',
 'S01',
 'S01',
 'S02',
 'S01',
 'S00',
 'S02',
 'S01',
 'S03',
 'S00',
 'S03',
 'S01',
 'S01',
 'S02',
 'S02',
 'S00',
 'S00',
 'S02',
 'S01',
 'S03',
 'S03',
 'S00',
 'S00',
 'S03',
 'S00',
 'S01',
 'S03',
 'S00',
 'S01',
 'S00',
 'S01',
 'S00',
 'S03',
 'S02',
 'S02',
 'S03',
 'S02',
 'S02',
 'S02',
 'S03',
 'S00',
 'S02',
 'S01',
 'S03',
 'S02',
 'S03',
 'S00',
 'S01',
 'S00',
 'S03',
 'S01',
 'S02',
 'S02',
 'S01',
 'S00',
 'S01',
 'S03',
 'S02',
 'S00',
 'S00',
 'S02',
 'S00',
 'S03',
 'S01',
 'S02',
 'S00',
 'S03',
 'S01',
 'S03',
 'S03',
 'S00',
 'S03',
 'S00',
 'S03',
 'S01',
 'S03',
 'S01',
 'S02',
 'S00',
 'S03',
 'S01',
 'S02',
 'S02',
 'S00',
 'S00',
 'S00',
 'S01']

In [ ]:
generos = ['M','F'],
condición = ['control','experimental'],
region = ['hipocampo','cortex prefrontal','amigdala'],
neurotransmisores =['dopamina','serotonina']
}

In [52]:
tipos_sujetos = ['S'+str(i).zfill(2)for i in range(4)],
longitud=200
ops_sujetos = np.random.randint (len(tipos_sujetos),size=longitud)
sujetos2=[tipos_sujetos[i] for i in ops_sujetos]

In [53]:
sujetos2

[['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03'],
 ['S00', 'S01', 'S02', 'S03']]

In [70]:
generos = ['M','F']
longitud=200
ops_generos = np.random.randint (len(generos),size=longitud)
generos2=[generos[i] for i in ops_generos]

In [71]:
generos2

['F',
 'F',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F',
 'F',
 'M',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F',
 'F',
 'M',
 'F',
 'F',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F',
 'M',
 'F',
 'M',
 'F',
 'F',
 'M',
 'F',
 'F',
 'M',
 'M',
 'F',
 'F',
 'M',
 'M',
 'M',
 'F',
 'M',
 'M',
 'F',
 'M',
 'F',
 'F',
 'F',
 'F',
 'M',
 'M',
 'F',
 'M',
 'M',
 'F',
 'M',
 'M',
 'F',
 'M',
 'M',
 'F',
 'F',
 'F',
 'M',
 'M',
 'M',
 'M',
 'F',
 'M',
 'F',
 'M',
 'F',
 'M',
 'F',
 'F',
 'M',
 'F',
 'F',
 'M',
 'M',
 'M',
 'F',
 'F',
 'M',
 'F',
 'M',
 'M',
 'F',
 'F',
 'M',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F',
 'F',
 'M',
 'M',
 'F',
 'F',
 'M',
 'F',
 'M',
 'M',
 'F',
 'M',
 'F',
 'M',
 'F',
 'M',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'F',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F',
 'M',
 'F',
 'F',
 'M',
 'M',
 'M',
 'M',
 'F',
 'M',
 'F',
 'F',
 'F',
 'F',
 'M',
 'M',
 'M',
 'F',
 'F',
 'M',
 'M',
 'M',
 'M',
 'M',
 'F',
 'M',
 'M',
 'M',
 'F',
 'M',
 'F',
 'F',
 'M',
 'F',
 'M',
 'F',
 'F',
 'F',
 'F',
 'M',
 'M',
 'M',
 'F',
 'M',
 'F',
 'M',
 'M',
 'F',
 'M',
 'F',
 'F',
 'M',
 'M']

In [60]:
condición = ['control','experimental']
longitud=200
ops_condición = np.random.randint (len(condición),size=longitud)
condición2=[condición[i] for i in ops_condición]

In [61]:
condición2

['experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'control',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'control',
 'control',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'control',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'control',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'control',
 'control',
 'experimental',
 'experimental']

In [66]:
region = ['hipocampo','cortex prefrontal','amigdala']
longitud=200
ops_region = np.random.randint (len(region),size=longitud)
region2=[region[i] for i in ops_region]

In [65]:
region2

['amigdala',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'hipocampo',
 'cortex prefrontal',
 'hipocampo',
 'cortex prefrontal',
 'cortex prefrontal',
 'amigdala',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'amigdala',
 'amigdala',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'cortex prefrontal',
 'amigdala',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'cortex prefrontal',
 'hipocampo',
 'cortex prefrontal',
 'hipocampo',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'hipocampo',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'cortex prefrontal',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'amigdala',
 'amigdala',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'cortex prefrontal',
 'amigdala',
 'amigdala',
 'amigdala',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'amigdala',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'cortex prefrontal',
 'hipocampo',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'amigdala',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'amigdala',
 'amigdala',
 'amigdala',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'cortex prefrontal',
 'cortex prefrontal',
 'amigdala',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'amigdala']

In [68]:
neurotransmisores =['dopamina','serotonina']
longitud=200
ops_neurotransmisores = np.random.randint (len(neurotransmisores),size=longitud)
NT=[neurotransmisores[i] for i in ops_neurotransmisores]

In [69]:
NT

['dopamina',
 'serotonina',
 'dopamina',
 'serotonina',
 'serotonina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'dopamina',
 'serotonina',
 'dopamina',
 'serotonina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'serotonina',
 'serotonina',
 'serotonina',
 'dopamina',
 'dopamina',
 'serotonina',
 'dopamina',
 'dopamina',
 'dopamina',
 'serotonina',
 'serotonina',
 'dopamina',
 'serotonina',
 'serotonina']

In [74]:
df = pd.DataFrame(data).transpose
df.columns('sujetos2','generos2','condición2','region2','NT')

TypeError: 'Index' object is not callable