In [1]:
import pandas as pd
import numpy as np

In [2]:
# activación de la corteza pre-frontal al escoger una elección de helado
experimento = {
    'sujeto': ['S01', 'S02', 'S03', 'S02', 'S01', 'S01', 'S02'], 
    'sabor': ['choco', 'piñon', 'queso', 'chango', 'choco', 'queso', 'angel'], 
    'precio': [45, 105, 30, 60, 85, 45, 120], 
    'tamaño': ['m', 'g', 'ch', 'ch', 'g', 'm', 'g']
}

In [5]:
df = pd.DataFrame(experimento)

In [7]:
df['activación'] = [True, True, False, False, True, True, False]

In [14]:
df[ df['sujeto'] == 'S01' ]

  sujeto  sabor  precio tamaño  activación
0    S01  choco      45      m        True
4    S01  choco      85      g        True
5    S01  queso      45      m        True

In [15]:
df[ df['sujeto'] == 'S02' ]

  sujeto   sabor  precio tamaño  activación
1    S02   piñon     105      g        True
3    S02  chango      60     ch       False
6    S02   angel     120      g       False

In [16]:
df[ df['sujeto'] == 'S03' ]

  sujeto  sabor  precio tamaño  activación
2    S03  queso      30     ch       False

In [17]:
df.groupby( by='sujeto' )

In [22]:
df_por_sujeto = df.groupby( by='sujeto' )
df_por_sujeto.describe(include='all')

       sabor                                                   ... activación  \
       count unique    top freq mean  std  min  25%  50%  75%  ...     unique
sujeto                                                         ...
S01        3      2  choco    2  NaN  NaN  NaN  NaN  NaN  NaN  ...          1
S02        3      3  piñon    1  NaN  NaN  NaN  NaN  NaN  NaN  ...          2
S03        1      1  queso    1  NaN  NaN  NaN  NaN  NaN  NaN  ...          1


          top freq mean  std  min  25%  50%  75%  max
sujeto
S01      True    3  NaN  NaN  NaN  NaN  NaN  NaN  NaN
S02     False    2  NaN  NaN  NaN  NaN  NaN  NaN  NaN
S03     False    1  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[3 rows x 44 columns]

In [24]:
df.describe(include='all')

       sujeto  sabor     precio tamaño activación
count       7      7    7.00000      7          7
unique      3      5        NaN      3          2
top       S01  choco        NaN      g       True
freq        3      2        NaN      3          4
mean      NaN    NaN   70.00000    NaN        NaN
std       NaN    NaN   33.91165    NaN        NaN
min       NaN    NaN   30.00000    NaN        NaN
25%       NaN    NaN   45.00000    NaN        NaN
50%       NaN    NaN   60.00000    NaN        NaN
75%       NaN    NaN   95.00000    NaN        NaN
max       NaN    NaN  120.00000    NaN        NaN

In [ ]:
tipos_sujetos = ['S'+str(i).zfill(2) for i in range(4)]
generos = ['M', 'F']
condicion = ['control', 'experimental']
region = ['hipocampo', 'cortex prefrontal', 'amigdala']
neurotransmisor = ['dopamina', 'serotonina']

# Crear un dataframe de 200 filas
# con las columnas: tipos_sujetos, generos, condicion, region, neurotransmisor; 
# estas columnas deben tener una distribución uniforme
# agregar una columna llamada "precisión" q tenga una distribución normal con mu=0.92, sigma=0.08
# Este dataset pretende simular los resultados de un estudio en el que se miden variables congnitivas
# y fisiológicas en diferentes regiones cerebrales, sujetos y condiciones experimentales

In [44]:
tipos_sujetos = ['S'+str(i).zfill(2) for i in range(4)]

longitud = 200
enteros = np.random.randint(0, 4, size=longitud)
sujetos = ['S'+str(i).zfill(2) for i in enteros]

In [47]:
tipos_sujetos = ['S'+str(i).zfill(2) for i in range(4)]
longitud = 200
ops_sujetos = np.random.randint(len(tipos_sujetos), size=longitud)
sujetos2 = [tipos_sujetos[i] for i in ops_sujetos]

In [ ]:
generos = ['M', 'F']
longitud = 200
ops_gens = np.random.randint(len(generos), size=longitud)
lista_generos = [generos[i] for i in ops_gens]

In [49]:
generos = ['M', 'F']
longitud = 200
ops_generos = np.random.randint(len(generos), size=longitud)
gen = []
for x in ops_generos:
    if x == 0:
        gen.append('M')
    else:
        gen.append('F')

In [46]:
# generar el histograma de cuántos datos por sujeto se tienen
# mostrar en un histograma la proporción de neurotransmisor

In [51]:
tipos_sujetos = ['S'+str(i).zfill(2) for i in range(4)]
generos = ['M', 'F']
condicion = ['control', 'experimental']
region = ['hipocampo', 'cortex prefrontal', 'amigdala']
neurotransmisor = ['dopamina', 'serotonina']

longitud = 200
variables = [tipos_sujetos, generos, condicion, region, neurotransmisor]
data = []

for variable in variables:
    opciones = np.random.randint(len(variable), size=longitud)
    data.append([variable[i] for i in opciones])

df = pd.DataFrame(data).transpose()
df.columns = ['sujeto', 'genero', 'condicion', 'region', 'neuro']

In [52]:
df

    sujeto genero     condicion             region       neuro
0      S02      F  experimental           amigdala    dopamina
1      S00      M  experimental          hipocampo    dopamina
2      S01      M  experimental  cortex prefrontal  serotonina
3      S01      M       control  cortex prefrontal    dopamina
4      S00      M  experimental  cortex prefrontal    dopamina
..     ...    ...           ...                ...         ...
195    S03      F  experimental           amigdala  serotonina
196    S01      F  experimental           amigdala  serotonina
197    S03      M       control          hipocampo    dopamina
198    S00      M  experimental          hipocampo    dopamina
199    S00      M       control           amigdala  serotonina

[200 rows x 5 columns]