## Concatenacion de DataFrames
Concatenar= juntar, unir o fusionar
-Concat
-Merge(fusionar)
-Join(unir)

In [ ]:
#Concat, se deben tener las mimas columnas, por lo tanto, hay que juntas las filas

In [3]:
import pandas as pd

In [16]:
df1= pd.DataFrame({"A":["1A","2A"],"B":["1B","2B"],"C":["1C","2C"]})#cada llave e
    #es una columna
df2= pd.DataFrame({"A":["6A","7A", "B"],"B":["6B","7B", "8b"],"C":["6C","7C", "8c"]})

In [17]:
pd.concat([df1,df2]) ## Los indices se quedarón raros

    A   B   C
0  1A  1B  1C
1  2A  2B  2C
0  6A  6B  6C
1  7A  7B  7C
2   B  8b  8c

In [19]:
pd.concat([df1,df2], ignore_index=True)

    A   B   C
0  1A  1B  1C
1  2A  2B  2C
2  6A  6B  6C
3  7A  7B  7C
4   B  8b  8c

## Merge (fusionar)
Esta técnica fusiona diferentes dataframes a partir de una columna clave en común

In [30]:
df1= pd.DataFrame({"A":["1A","2A","3A"],"B":["1B","2B","3B"]})
df2= pd.DataFrame({"A":["5A","6A"],"C":["1C","2C"],"k":["1k","2k"]})

In [37]:
pd.merge(df1,df2, on=["A"], how="outer") ##Es este metódo es necesario específicar en base a que lo vamos a fusionar
#on=["A"], how= outer (los q no tienen en común se rellenan con nan), inner, left(solo los de la derecha)

    A    B    C    k
0  1A   1B  NaN  NaN
1  2A   2B  NaN  NaN
2  3A   3B  NaN  NaN
3  5A  NaN   1C   1k
4  6A  NaN   2C   2k

## Join
Combinas las columnas de dos dataframes indexados

In [48]:
df1= pd.DataFrame({"Z":["1Z","2Z","3Z"],"B":["1B","2B","3B"]}, index=["i1","i2","i3"])
df2= pd.DataFrame({"A":["5A","6A"],"C":["1C","2C"],"k":["1k","2k"]},index=["i1","i2"])

In [49]:
df1

     Z   B
i1  1Z  1B
i2  2Z  2B
i3  3Z  3B

In [50]:
df1.join(df2) #une data frames q son distintos con los indices en comun

     Z   B    A    C    k
i1  1Z  1B   5A   1C   1k
i2  2Z  2B   6A   2C   2k
i3  3Z  3B  NaN  NaN  NaN

# FICHEROS
Así le llamas los python boys llaman a los archivos/base de datos cualquier extensión, amenos q este codificado como en word, pdf, etc

In [52]:
df3=df1.join(df2)
df3

     Z   B    A    C    k
i1  1Z  1B   5A   1C   1k
i2  2Z  2B   6A   2C   2k
i3  3Z  3B  NaN  NaN  NaN

In [53]:
df3.to_csv("nombre.csv")

In [62]:
##leer archivos
pd.read_excel(r"C:\Users\monce\OneDrive\Documentos\funciones.xlsx") 
## hay q descargar un paquete

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.