In [2]:
import pandas as pd

In [18]:
valores=[6,8,9,13]
indice= range(len(valores))


serie1=pd.Series(data=valores, index = indice)

In [20]:
valores2=[28,3.16,3,45]
serie2=pd.Series(index=indice, data=valores2)
serie1+serie2

0    34.00
1    11.16
2    12.00
3    58.00
dtype: float64

In [21]:
serie1**serie2

0    6.140942e+21
1    7.141088e+02
2    7.290000e+02
3    1.341068e+50
dtype: float64

In [24]:
import numpy as np

In [27]:
array= np.random.normal(-10, 10, size=[4,4
                                      ])
array

array([[-22.43420449, -17.65364004,  -9.5745452 , -14.95862204],
       [  5.38305521,  -8.18840205,  -5.07849113,  -6.2097033 ],
       [  3.45169744,  11.02744415,   2.09309561,  -3.82711515],
       [-24.100262  , -19.27098553, -22.98514462, -18.01061576]])

In [31]:
pd.DataFrame([[2,3], [4,5]],index=['a', 'b'], columns=['w','x'])##por default, los indices empiezan en 0, pero se pueden
# especificar. Es importante encerrar en corchetes los datos.

   w  x
a  2  3
b  4  5

In [73]:
df=pd.DataFrame(array, index=range(1,len(array)+1), columns=['w','x','y','z'])
df

           w          x          y          z
1 -22.434204 -17.653640  -9.574545 -14.958622
2   5.383055  -8.188402  -5.078491  -6.209703
3   3.451697  11.027444   2.093096  -3.827115
4 -24.100262 -19.270986 -22.985145 -18.010616

In [40]:
type(df['x'])

pandas.core.series.Series

In [41]:
df['x']

1   -17.653640
2    -8.188402
3    11.027444
4   -19.270986
Name: x, dtype: float64

In [44]:
df['x'][3]

np.float64(11.027444153176855)

In [51]:
df.X ##puedes mandar a llamar variables como propiedades

SyntaxError: invalid syntax (1007170697.py, line 2)

In [61]:
df

1   -32.612262
2   -14.398105
3     7.200329
4   -37.281601
dtype: float64

In [53]:
df[['w', 'y']] ##primeros corchetes son para sliceaf, y os otros para enlistar

           w          y
1 -22.434204  -9.574545
2   5.383055  -5.078491
3   3.451697   2.093096
4 -24.100262 -22.985145

In [55]:
df

           w          x          y          z
1 -22.434204 -17.653640  -9.574545 -14.958622
2   5.383055  -8.188402  -5.078491  -6.209703
3   3.451697  11.027444   2.093096  -3.827115
4 -24.100262 -19.270986 -22.985145 -18.010616

In [69]:
df['suma_x_z']= df.x+ df.z
df

           w          x          y          z   suma_x_z
1 -22.434204 -17.653640  -9.574545 -14.958622 -32.612262
2   5.383055  -8.188402  -5.078491  -6.209703 -14.398105
3   3.451697  11.027444   2.093096  -3.827115   7.200329
4 -24.100262 -19.270986 -22.985145 -18.010616 -37.281601

In [74]:
df.drop('y', axis=1) ##axis=1 es especificar que quieres borrar columnas, axis=0 es paera borrar filas

           w          x          z
1 -22.434204 -17.653640 -14.958622
2   5.383055  -8.188402  -6.209703
3   3.451697  11.027444  -3.827115
4 -24.100262 -19.270986 -18.010616

In [75]:
df

           w          x          y          z
1 -22.434204 -17.653640  -9.574545 -14.958622
2   5.383055  -8.188402  -5.078491  -6.209703
3   3.451697  11.027444   2.093096  -3.827115
4 -24.100262 -19.270986 -22.985145 -18.010616

In [77]:
df.drop('y', axis=1, inplace=True) ##hacer el dorping permanente

In [78]:
df.drop(3, axis=0)

           w          x          z
1 -22.434204 -17.653640 -14.958622
2   5.383055  -8.188402  -6.209703
4 -24.100262 -19.270986 -18.010616

In [79]:
df.loc[3] ##esto es para poder acceder a las filas, con la propiedad localizacipon

w     3.451697
x    11.027444
z    -3.827115
Name: 3, dtype: float64

In [81]:
df.iloc[[0,2]]##index location, fila 0 y la fila 2

           w          x          z
1 -22.434204 -17.653640 -14.958622
3   3.451697  11.027444  -3.827115

In [84]:
df.loc[[1,3],'x'] ##3era fil

1   -17.653640
3    11.027444
Name: x, dtype: float64