#

ejercicio 
1. crear una funcion que cuente las vocales de un string y regrese dicho numero
2. crear una funcion que determine si un numero es par o impar e imprima si es par o impar
3. crear una funcion para convertir de grados celcius a grados farenheit, dicha funcion recibira la temperaatura en grados celcius y debera regresar los grados farenheit
4. crear una funcion que reciba un entero y devuelva la suma de sus digitos

In [18]:
def contar_vocales(cadena):
    vocales='aeiouAEIOU'
    return sum(1 for letra in cadena if letra in vocales)

In [20]:
contar_vocales('fukinshit')

3

In [15]:
def num_letras (str):
    cantidad=len(str)
    return (cantidad)

In [17]:
num_letras('manzana')

7

In [23]:
def primoonormal (numero):
    if numero%2 == 0:
        print('numero par')
    elif numero%2 != 0:
        print('numero es impar')

In [25]:
primoonormal(12)

numero par

In [43]:
def Cel2Fah():
    gradosCel=input('Temperatura en grados celsius ')
    
    gradosFah=float(gradosCel)*(9/5)+32
    print('La temperatura en grados Fahrenheit es ',gradosFah)
    return(gradosFah)

In [44]:
Cel2Fah()

Temperatura en grados celsius 185
La temperatura en grados Fahrenheit es  365.0

365.0

In [50]:
def sumadedig(entero):
    
    spli(entero(0),entero(-1))
    for i in entero:
            resultado += resultado (i=1)
    return resultado

In [51]:
sumadedig(158)

NameError: name 'split' is not defined

In [ ]:
slice

In [68]:
cuenta_palabras('ya no mas')

3

In [67]:
def cuenta_palabras(frase):
    
    out=frase.split(sep = " ")
    return(len(out))

In [78]:
def MinDeList(lista):
    list(lista)
    len_list=len(lista)
    if lista <3:
        print('La lista no tiene el largo requerido')
    
    elif lista >3 & lista == 3:
        out=min(lista)
        return(out)

In [77]:
lista=[7,8,9,10]