Continuando con Pandas y NumPy...

In [1]:
import pandas as pd

In [2]:
valores = [6, 8, 'azyk', {'key': 'value'}, (3, )]
serie1 = range(len(valores))

pd.Series(data = valores, index = serie1)

0                   6
1                   8
2                azyk
3    {'key': 'value'}
4                (3,)
dtype: object

In [3]:
valores2 = [28, 'ahm', 'conjuro 4', 3, 16]
serie2 = pd.Series(data = valores2, index = serie1)
serie2

0           28
1          ahm
2    conjuro 4
3            3
4           16
dtype: object

In [4]:
34**(-852)

0.0

Retomando NumPy...

In [5]:
import numpy as np

In [6]:
array = np.random.normal(-10, 10, size = [4, 4])
array

array([[-15.30676344,  10.41911105, -22.154071  ,   0.22915125],
       [  8.97433534, -25.54420043,  -1.50861922, -10.31700018],
       [ -7.49210708, -19.55335181, -35.60849678,  -2.81308636],
       [ -9.84677824,  -8.37287878,  -7.83914683, -10.46030953]])

In [7]:
pd.DataFrame([[2, 3], [4, 5]], index = ['a', 'b'], columns = ['W', 'X'])

   W  X
a  2  3
b  4  5

In [8]:
df = pd.DataFrame(array, index = range(1, len(array) + 1), columns = ['W', 'X', 'Y', 'Z'])
df

           W          X          Y          Z
1 -15.306763  10.419111 -22.154071   0.229151
2   8.974335 -25.544200  -1.508619 -10.317000
3  -7.492107 -19.553352 -35.608497  -2.813086
4  -9.846778  -8.372879  -7.839147 -10.460310

In [9]:
type(df['X']), df['X'][2]

(pandas.core.series.Series, np.float64(-25.544200428306144))

In [10]:
df.X # Para extraer directa y sencillamente los datos de la columna 'X'

1    10.419111
2   -25.544200
3   -19.553352
4    -8.372879
Name: X, dtype: float64

In [11]:
columnas = ['W', 'Y'] # Para extraer columnas, adem√°s de guardarlas en una variable llamada "columnas"
df[columnas]

           W          Y
1 -15.306763 -22.154071
2   8.974335  -1.508619
3  -7.492107 -35.608497
4  -9.846778  -7.839147

In [12]:
df.X + df.Y # Sumar columnas X + Y

1   -11.734960
2   -27.052820
3   -55.161849
4   -16.212026
dtype: float64

In [13]:
df['Suma X + Z'] = df.X + df.Z # Se suman las columnas 'X' + 'Z'
df

           W          X          Y          Z  Suma X + Z
1 -15.306763  10.419111 -22.154071   0.229151   10.648262
2   8.974335 -25.544200  -1.508619 -10.317000  -35.861201
3  -7.492107 -19.553352 -35.608497  -2.813086  -22.366438
4  -9.846778  -8.372879  -7.839147 -10.460310  -18.833188

In [14]:
df.drop('Y', axis = 1) # Se borra la columna 'Y', especificamos que es una columna mediante axis = 1
# axis = 1 para borrar columnas, axis = 0 para borrar filas

           W          X          Z  Suma X + Z
1 -15.306763  10.419111   0.229151   10.648262
2   8.974335 -25.544200 -10.317000  -35.861201
3  -7.492107 -19.553352  -2.813086  -22.366438
4  -9.846778  -8.372879 -10.460310  -18.833188

In [15]:
df.drop(3, axis = 0) # Se borra la 3era fila

           W          X          Y          Z  Suma X + Z
1 -15.306763  10.419111 -22.154071   0.229151   10.648262
2   8.974335 -25.544200  -1.508619 -10.317000  -35.861201
4  -9.846778  -8.372879  -7.839147 -10.460310  -18.833188

In [17]:
df.loc[1] # loc nos permite acceder directa y sencillamente a la misma fila de cada columna

W            -15.306763
X             10.419111
Y            -22.154071
Z              0.229151
Suma X + Z    10.648262
Name: 1, dtype: float64