In [11]:
import pandas as pd
import numpy as np

In [5]:
valores = [6, 8,(3,)]
indice = range(len(data))

pd.Series(data = valores, index = indice)

0                   6
1                   8
2                azyk
3    {'key': 'value'}
4                (3,)
dtype: object

In [ ]:
pd.Series(data = valores, index = indice)

In [6]:
valores2 = [28, 3, 16]
serie2 = pd.Series(index=indice, data =valores2)
serie2

0            28
1           ahm
2    conjunto 4
3             3
4            16
dtype: object

In [12]:
array = np.random.normal(-10,10,size =[4,4])

In [16]:
pd.DataFrame([[2,3],[4,5]], index= ['a','b'], columns=['W','X'])

   W  X
a  2  3
b  4  5

In [17]:
len(array)

4

In [18]:
pd.DataFrame(array, index =range (1, len(array)+1))

           0          1          2          3
1  -4.691693 -14.846573 -12.053908 -10.928846
2 -17.659728  -3.721544  -6.315987 -10.436200
3 -14.948332   6.679777 -28.034246   0.140934
4  -8.261129 -19.846770 -23.277961 -11.019385

In [15]:
df.X

NameError: name 'df' is not defined

In [ ]:
df['suma_X_Z'] =df.X + df.Z
df

In [ ]:
df.drop('Y', axis=1)

In [ ]:
df.drop(3, axis=0)