In [1]:
import pandas as pd
import numpy as np

In [6]:
experimento= { "sujeto": ["S01","S02","S03", "S01","S01","S02"],
               "sabor":["chocolate","piñon","queso","angel","vainilla","choco"],
               "precio":[45,105,30,60,85,120],
               "tamaño":["med","gra","ch","med","gra","ch"]}

In [7]:
dafra=pd.DataFrame(experimento)

In [11]:
dafra["activación"]= [True,True,False,False,True,True]
print(dafra)

  sujeto      sabor  precio tamaño  activación
0    S01  chocolate      45    med        True
1    S02      piñon     105    gra        True
2    S03      queso      30     ch       False
3    S01      angel      60    med       False
4    S01   vainilla      85    gra        True
5    S02      choco     120     ch        True

In [13]:
dafra.sujeto

0    S01
1    S02
2    S03
3    S01
4    S01
5    S02
Name: sujeto, dtype: object

In [15]:
dafra[dafra["sujeto"]== "S01"] #filtrado condicional a todas las filas que cumplen la condicion

  sujeto      sabor  precio tamaño  activación
0    S01  chocolate      45    med        True
3    S01      angel      60    med       False
4    S01   vainilla      85    gra        True

In [16]:
dafra[dafra["precio"]>100]

  sujeto  sabor  precio tamaño  activación
1    S02  piñon     105    gra        True
5    S02  choco     120     ch        True

In [19]:
por_sujeto=dafra.groupby(by="sujeto")
por_sujeto.describe(include="all")

       sabor                                                       ...  \
       count unique        top freq mean  std  min  25%  50%  75%  ...
sujeto                                                             ...
S01        3      3  chocolate    1  NaN  NaN  NaN  NaN  NaN  NaN  ...
S02        2      2      piñon    1  NaN  NaN  NaN  NaN  NaN  NaN  ...
S03        1      1      queso    1  NaN  NaN  NaN  NaN  NaN  NaN  ...

       activación
           unique    top freq mean  std  min  25%  50%  75%  max
sujeto
S01             2   True    2  NaN  NaN  NaN  NaN  NaN  NaN  NaN
S02             1   True    2  NaN  NaN  NaN  NaN  NaN  NaN  NaN
S03             1  False    1  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[3 rows x 44 columns]