# Ejercicios

1. Crear una función que cuente las vocales de un string y regrese dicho número
2. Creaer una función que determine si un número es par o impar y que imprima si es par o impar
3. Crear una función para convertir en grados celsius a grados fahrenheit, dicha función recbirá la temperatura en grados celsius y deberán regresar los grados fahrenheit
4. Crear una función que reciba un entero y devuelva la suma de sus digitos
5. Creaar una función que reciba un string y cambie todas las miniusculas a mayúsculas y las mayúsculas a minusculas.
6. Crear una función que reciba un string y elimine todos los espacios y regrese el string sin espacios

In [77]:
# ej 1

def vocales(string):
    vocal='aeiou'
    conteo=0
    for letra in string:
        if letra in vocal:
            conteo += 1
    return conteo
def vocales2(string):
    vocal='aeiouAEIOU'
    return sum(1 for letra in string if letra in vocal)

In [78]:
vocales('arbol')

2

In [34]:
# ej 2
def espar(numero):
    if numero %2 == 0:
        print("El número es par")
    else:
        print("El número es impar")

In [36]:
espar(108)

El número es par

In [79]:
def conversion():
    celsius= int(input('Valor en grados Celsius:'))
    fahrenheit=(celsius * 9/5) + 32
    return fahrenheit

conversion()

Valor en grados Celsius: 0

32.0

Valo en grados Celsius: 0

32.0

In [73]:
def sum_digitos(entero):
    str_ent=str(entero)
    suma=0
    for num in str_ent:
        suma+=int(num)
    return suma

In [74]:
sum_digitos(23)

5

In [84]:
# ej 5
def palabras(string):
    division=string.split(' ')
    return len(division)

In [85]:
palabras('un elefante se columpiaba')

4

In [86]:
'cadena'.

SyntaxError: invalid syntax (1185500467.py, line 1)

In [99]:
# Ejercicio 6
def min_lista():
    lista=input('Da una lista de números:').split(',')
    if len(lista) >= 3:
        return min(lista)

min_lista()

Da una lista de números: 2,4,6

'2'

In [100]:
#Ej 7
def letra_frase(frase,letra):
    contar=0
    for letra in frase:
        if letra in frase:
            contar+=1
    return contar

In [102]:
letra_frase('triste','t')

6