In [3]:
## funciones Lambda

def funcion(x):
    return x**2

funcion(5)

25

In [6]:
## la funcion labda permite crear funciones sin usar def 
func_lambda= lambda x:x**2 # sin retorno, sin indetacion, sin nombre 
func_lambda(5)

25

In [7]:
def funcion (x,y):
    return x+ y 
funcion (5,8)

13

In [8]:
fun_1= lambda x, y: x+y
fun_1(5, 8)

13

In [9]:
def funcion(a,b,c):
    return a+b, a-c
funcion (1,2,3)

(3, -2)

In [10]:
fun_lambda=lambda a,b,c: (a+b,a-c)
fun_lambda(1,2,3)

(3, -2)

In [16]:
lista=[(1,8),(7,5),(12,-52),(2,0)]
lista.sort(reverse=True)
lista

[(12, -52), (7, 5), (2, 0), (1, 8)]

In [26]:
## definiendo funcion que vamos a llamar en key

def funcion(x):
    return x[1]

lista.sort(key=funcion,reverse=True) ## key --> se llama para decidir con base a que se va ordenar
lista

[(1, 8), (7, 5), (2, 0), (12, -52)]

In [28]:
lista.sort(key=lambda x:x[1], reverse=True) ## resumiendo lineas, directo en key
lista

[(1, 8), (7, 5), (2, 0), (12, -52)]

In [34]:
## copiar y pegar data frame 
import pandas as pd
import numpy as np
tipos_sujetos=["S"+str(i).zfill(2) for i in range(4)] ##zfill --> cuantos espacio deja str(valor que quiero),.zfill(cuantos caracteres se llenan con 0)
generos=["M", "F"]
condicion=["control", "experimental"]
region=["hipocampo", "cortex prefrontal", "amigdala"]
neurotransmisor=["dopamina","serotonina"]
longitud=200
variables=[tipos_sujetos,generos,condicion,region,neurotransmisor] ##creando una lista de listas 
data2=[]

for var in variables: ##estas reccoriendo cada lista de la lista variables
    opciones=np.random.randint(len(var),size=longitud)
    data2.append([var[i] for i in opciones])  #seleccionas de var según los índices aleatorios generados.

df=pd.DataFrame(data2).transpose() ## Con .transpose(), las filas y columnas se intercambian
df.columns=["sujeto","genero","condicion","region","neuro"]
df

    sujeto genero     condicion             region       neuro
0      S03      F       control          hipocampo  serotonina
1      S00      M  experimental  cortex prefrontal    dopamina
2      S02      F       control  cortex prefrontal  serotonina
3      S01      F       control           amigdala  serotonina
4      S02      M  experimental          hipocampo  serotonina
..     ...    ...           ...                ...         ...
195    S03      F  experimental          hipocampo    dopamina
196    S00      F  experimental           amigdala    dopamina
197    S03      F  experimental          hipocampo  serotonina
198    S03      M       control  cortex prefrontal  serotonina
199    S03      M       control           amigdala  serotonina

[200 rows x 5 columns]

In [35]:
def funcion(string):
    return string.upper()

df["region"].apply(funcion)

0              HIPOCAMPO
1      CORTEX PREFRONTAL
2      CORTEX PREFRONTAL
3               AMIGDALA
4              HIPOCAMPO
             ...
195            HIPOCAMPO
196             AMIGDALA
197            HIPOCAMPO
198    CORTEX PREFRONTAL
199             AMIGDALA
Name: region, Length: 200, dtype: object

In [36]:
df["region"].apply(lambda string: string.upper())

0              HIPOCAMPO
1      CORTEX PREFRONTAL
2      CORTEX PREFRONTAL
3               AMIGDALA
4              HIPOCAMPO
             ...
195            HIPOCAMPO
196             AMIGDALA
197            HIPOCAMPO
198    CORTEX PREFRONTAL
199             AMIGDALA
Name: region, Length: 200, dtype: object

In [37]:
df[["region","condicion","neuro"]].apply(lambda serie: [string.upper() for string in serie])

                region     condicion       neuro
0            HIPOCAMPO       CONTROL  SEROTONINA
1    CORTEX PREFRONTAL  EXPERIMENTAL    DOPAMINA
2    CORTEX PREFRONTAL       CONTROL  SEROTONINA
3             AMIGDALA       CONTROL  SEROTONINA
4            HIPOCAMPO  EXPERIMENTAL  SEROTONINA
..                 ...           ...         ...
195          HIPOCAMPO  EXPERIMENTAL    DOPAMINA
196           AMIGDALA  EXPERIMENTAL    DOPAMINA
197          HIPOCAMPO  EXPERIMENTAL  SEROTONINA
198  CORTEX PREFRONTAL       CONTROL  SEROTONINA
199           AMIGDALA       CONTROL  SEROTONINA

[200 rows x 3 columns]